<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>login_back</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,36}</string>
    <key>spriteSourceSize</key>
    <string>{18,36}</string>
    <key>textureRect</key>
    <string>{{543,768},{18,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_background</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1024,576}</string>
    <key>spriteSourceSize</key>
    <string>{1024,576}</string>
    <key>textureRect</key>
    <string>{{0,0},{1024,576}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_bottom_text</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{262,28}</string>
    <key>spriteSourceSize</key>
    <string>{262,28}</string>
    <key>textureRect</key>
    <string>{{0,786},{262,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_btn_login_pp</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,40}</string>
    <key>spriteSourceSize</key>
    <string>{106,40}</string>
    <key>textureRect</key>
    <string>{{543,726},{106,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_close_popup</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{20,20}</string>
    <key>spriteSourceSize</key>
    <string>{20,20}</string>
    <key>textureRect</key>
    <string>{{264,786},{20,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_copyright</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{91,91}</string>
    <key>spriteSourceSize</key>
    <string>{91,91}</string>
    <key>textureRect</key>
    <string>{{450,726},{91,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_guess_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{703,653},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_logo</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{251,71}</string>
    <key>spriteSourceSize</key>
    <string>{251,71}</string>
    <key>textureRect</key>
    <string>{{450,653},{251,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_notif_popup</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{448,206}</string>
    <key>spriteSourceSize</key>
    <string>{448,206}</string>
    <key>textureRect</key>
    <string>{{0,578},{448,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_or</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,15}</string>
    <key>spriteSourceSize</key>
    <string>{198,15}</string>
    <key>textureRect</key>
    <string>{{703,774},{198,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_with_fb</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{470,73}</string>
    <key>spriteSourceSize</key>
    <string>{470,73}</string>
    <key>textureRect</key>
    <string>{{450,578},{470,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login_with_pp</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{824,653},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1026,819}</string>
   <key>textureFileName</key>
   <string>login.png</string>
  </dict>
 </dict>
</plist>
