<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_0</key>
   <dict>
    <key>frame</key>
    <string>{{580,498},{262,235}}</string>
    <key>offset</key>
    <string>{8,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_1</key>
   <dict>
    <key>frame</key>
    <string>{{284,0},{274,252}}</string>
    <key>offset</key>
    <string>{4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_2</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{282,252}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_3</key>
   <dict>
    <key>frame</key>
    <string>{{0,496},{272,250}}</string>
    <key>offset</key>
    <string>{5,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_4</key>
   <dict>
    <key>frame</key>
    <string>{{580,254},{276,242}}</string>
    <key>offset</key>
    <string>{2,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_7</key>
   <dict>
    <key>frame</key>
    <string>{{858,522},{144,118}}</string>
    <key>offset</key>
    <string>{-69,8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_0</key>
   <dict>
    <key>frame</key>
    <string>{{844,0},{160,141}}</string>
    <key>offset</key>
    <string>{62,34}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_1</key>
   <dict>
    <key>frame</key>
    <string>{{823,735},{198,208}}</string>
    <key>offset</key>
    <string>{44,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_2</key>
   <dict>
    <key>frame</key>
    <string>{{0,748},{268,237}}</string>
    <key>offset</key>
    <string>{9,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_3</key>
   <dict>
    <key>frame</key>
    <string>{{560,0},{282,241}}</string>
    <key>offset</key>
    <string>{4,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_4</key>
   <dict>
    <key>frame</key>
    <string>{{0,254},{290,240}}</string>
    <key>offset</key>
    <string>{-5,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_5</key>
   <dict>
    <key>frame</key>
    <string>{{292,254},{286,238}}</string>
    <key>offset</key>
    <string>{-11,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_6</key>
   <dict>
    <key>frame</key>
    <string>{{274,496},{284,236}}</string>
    <key>offset</key>
    <string>{-13,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_0</key>
   <dict>
    <key>frame</key>
    <string>{{844,216},{31,30}}</string>
    <key>offset</key>
    <string>{92,88}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_1</key>
   <dict>
    <key>frame</key>
    <string>{{844,143},{73,71}}</string>
    <key>offset</key>
    <string>{76,74}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_6</key>
   <dict>
    <key>frame</key>
    <string>{{580,735},{241,246}}</string>
    <key>offset</key>
    <string>{-2,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_9</key>
   <dict>
    <key>frame</key>
    <string>{{274,734},{243,247}}</string>
    <key>offset</key>
    <string>{-3,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_battle_but</key>
   <dict>
    <key>frame</key>
    <string>{{858,254},{135,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{171,171}</string>
   </dict>
   <key>bonusbattle_miss_bonus_battle</key>
   <dict>
    <key>frame</key>
    <string>{{519,734},{29,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{43,43}</string>
   </dict>
   <key>bonusbattle_universe_ring</key>
   <dict>
    <key>frame</key>
    <string>{{858,391},{139,129}}</string>
    <key>offset</key>
    <string>{0,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{171,171}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>bonus_battle_0.png</string>
  </dict>
 </dict>
</plist>
