<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_5</key>
   <dict>
    <key>frame</key>
    <string>{{729,213},{258,187}}</string>
    <key>offset</key>
    <string>{-12,-10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_6</key>
   <dict>
    <key>frame</key>
    <string>{{274,735},{266,179}}</string>
    <key>offset</key>
    <string>{-8,-30}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_8</key>
   <dict>
    <key>frame</key>
    <string>{{729,402},{132,115}}</string>
    <key>offset</key>
    <string>{-67,10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_7</key>
   <dict>
    <key>frame</key>
    <string>{{0,735},{272,207}}</string>
    <key>offset</key>
    <string>{-18,-22}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_8</key>
   <dict>
    <key>frame</key>
    <string>{{729,0},{264,211}}</string>
    <key>offset</key>
    <string>{-22,-20}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,252}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_10</key>
   <dict>
    <key>frame</key>
    <string>{{0,490},{237,243}}</string>
    <key>offset</key>
    <string>{-2,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_11</key>
   <dict>
    <key>frame</key>
    <string>{{490,247},{237,240}}</string>
    <key>offset</key>
    <string>{-2,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_12</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{241,245}}</string>
    <key>offset</key>
    <string>{-2,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_13</key>
   <dict>
    <key>frame</key>
    <string>{{488,0},{239,241}}</string>
    <key>offset</key>
    <string>{-3,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_2</key>
   <dict>
    <key>frame</key>
    <string>{{729,519},{113,114}}</string>
    <key>offset</key>
    <string>{60,58}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_3</key>
   <dict>
    <key>frame</key>
    <string>{{0,247},{243,241}}</string>
    <key>offset</key>
    <string>{-2,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_4</key>
   <dict>
    <key>frame</key>
    <string>{{243,0},{243,241}}</string>
    <key>offset</key>
    <string>{-2,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_5</key>
   <dict>
    <key>frame</key>
    <string>{{245,247},{243,240}}</string>
    <key>offset</key>
    <string>{-2,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_7</key>
   <dict>
    <key>frame</key>
    <string>{{239,490},{237,242}}</string>
    <key>offset</key>
    <string>{-2,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_8</key>
   <dict>
    <key>frame</key>
    <string>{{478,490},{237,239}}</string>
    <key>offset</key>
    <string>{-1,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{249,253}</string>
   </dict>
   <key>bonusbattle_text_bonus_battle</key>
   <dict>
    <key>frame</key>
    <string>{{0,944},{986,42}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{990,45}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>bonus_battle_1.png</string>
  </dict>
 </dict>
</plist>
