<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>profile_background</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{441,724}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{441,724}</string>
   </dict>
   <key>profile_btn_ava</key>
   <dict>
    <key>frame</key>
    <string>{{443,0},{72,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,73}</string>
   </dict>
   <key>profile_btn_username</key>
   <dict>
    <key>frame</key>
    <string>{{443,75},{45,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{45,46}</string>
   </dict>
   <key>profile_facebook_icon</key>
   <dict>
    <key>frame</key>
    <string>{{443,123},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>profile.png</string>
  </dict>
 </dict>
</plist>
