<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol8_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{110,0},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{338,0},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{114,335},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{342,115},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{228,335},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{342,225},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{0,445},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{452,0},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{114,445},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{456,115},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{342,335},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{0,115},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{228,445},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{456,225},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{342,445},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{456,335},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{456,445},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,113}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{0,0},{108,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{114,115},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{224,0},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{0,225},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{114,225},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{228,115},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{228,225},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,108}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{0,335},{112,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{570,555}</string>
   <key>textureFileName</key>
   <string>anim_symbol_8.png</string>
  </dict>
 </dict>
</plist>
