<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ui_idle_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-7}</string>
    <key>spriteSize</key>
    <string>{200,376}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{834,0},{200,376}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-7}</string>
    <key>spriteSize</key>
    <string>{200,376}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{416,755},{200,376}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-6}</string>
    <key>spriteSize</key>
    <string>{198,375}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{406,1133},{198,375}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-6}</string>
    <key>spriteSize</key>
    <string>{198,376}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{618,755},{198,376}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{198,376}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{818,755},{198,376}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{196,378}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{606,1133},{196,378}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{196,378}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{1036,762},{196,378}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{196,379}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{1036,0},{196,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{194,379}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{804,1133},{194,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-4}</string>
    <key>spriteSize</key>
    <string>{194,379}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{1036,1142},{194,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-4}</string>
    <key>spriteSize</key>
    <string>{196,379}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{1036,381},{196,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{196,379}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{0,1132},{196,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-4}</string>
    <key>spriteSize</key>
    <string>{196,379}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{208,1133},{196,379}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-5}</string>
    <key>spriteSize</key>
    <string>{200,378}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{208,753},{200,378}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-6}</string>
    <key>spriteSize</key>
    <string>{204,376}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{416,377},{204,376}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-6}</string>
    <key>spriteSize</key>
    <string>{206,376}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{0,377},{206,376}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-6}</string>
    <key>spriteSize</key>
    <string>{206,375}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{420,0},{206,375}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-6}</string>
    <key>spriteSize</key>
    <string>{208,375}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{0,0},{208,375}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-7}</string>
    <key>spriteSize</key>
    <string>{208,374}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{210,0},{208,374}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-7}</string>
    <key>spriteSize</key>
    <string>{206,374}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{208,377},{206,374}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-7}</string>
    <key>spriteSize</key>
    <string>{204,373}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{622,377},{204,373}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-7}</string>
    <key>spriteSize</key>
    <string>{204,374}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{628,0},{204,374}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-7}</string>
    <key>spriteSize</key>
    <string>{202,375}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{0,755},{202,375}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_idle_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-7}</string>
    <key>spriteSize</key>
    <string>{200,375}</string>
    <key>spriteSourceSize</key>
    <string>{256,410}</string>
    <key>textureRect</key>
    <string>{{834,378},{200,375}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1234,1523}</string>
   <key>textureFileName</key>
   <string>farmer.png</string>
  </dict>
 </dict>
</plist>
