<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ui_lady_idle_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{180,358}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{1310,728},{180,358}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{180,359}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{944,733},{180,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{180,361}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{1312,0},{180,361}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{180,361}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{1126,727},{180,361}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,3}</string>
    <key>spriteSize</key>
    <string>{180,363}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{758,729},{180,363}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,4}</string>
    <key>spriteSize</key>
    <string>{180,364}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{944,367},{180,364}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,4}</string>
    <key>spriteSize</key>
    <string>{182,365}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{758,0},{182,365}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,5}</string>
    <key>spriteSize</key>
    <string>{182,366}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{572,366},{182,366}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,5}</string>
    <key>spriteSize</key>
    <string>{184,366}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{0,366},{184,366}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,5}</string>
    <key>spriteSize</key>
    <string>{184,366}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{386,0},{184,366}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,4}</string>
    <key>spriteSize</key>
    <string>{184,365}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{386,368},{184,365}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,4}</string>
    <key>spriteSize</key>
    <string>{184,364}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{572,0},{184,364}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,4}</string>
    <key>spriteSize</key>
    <string>{192,364}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{0,0},{192,364}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,3}</string>
    <key>spriteSize</key>
    <string>{190,363}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{194,0},{190,363}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,3}</string>
    <key>spriteSize</key>
    <string>{186,362}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{186,366},{186,362}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,3}</string>
    <key>spriteSize</key>
    <string>{184,362}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{186,730},{184,362}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{184,360}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{758,367},{184,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{184,360}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{942,0},{184,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{184,359}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{0,734},{184,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{184,359}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{572,734},{184,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{184,358}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{386,735},{184,358}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{182,358}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{1126,367},{182,358}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{182,359}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{1128,0},{182,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ui_lady_idle_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{180,359}</string>
    <key>spriteSourceSize</key>
    <string>{210,410}</string>
    <key>textureRect</key>
    <string>{{1310,367},{180,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1496,1095}</string>
   <key>textureFileName</key>
   <string>lady.png</string>
  </dict>
 </dict>
</plist>
