<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol_frame_winVFX_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{156,153}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{0,474},{156,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{158,147}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{648,0},{158,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{158,144}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{164,626},{158,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{158,160}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{0,0},{158,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,1}</string>
    <key>spriteSize</key>
    <string>{156,157}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{0,162},{156,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-1}</string>
    <key>spriteSize</key>
    <string>{154,149}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{652,461},{154,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-1}</string>
    <key>spriteSize</key>
    <string>{154,150}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{652,309},{154,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,5}</string>
    <key>spriteSize</key>
    <string>{154,146}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{652,612},{154,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,6}</string>
    <key>spriteSize</key>
    <string>{156,148}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{488,608},{156,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,4}</string>
    <key>spriteSize</key>
    <string>{158,151}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{488,0},{158,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{160,146}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{644,153},{160,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{162,148}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{324,306},{162,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-6}</string>
    <key>spriteSize</key>
    <string>{158,140}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{0,629},{158,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{162,151}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{0,321},{162,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,152}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{160,0},{162,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,151}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{324,0},{162,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,5}</string>
    <key>spriteSize</key>
    <string>{158,144}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{326,627},{158,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{154,154}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{488,153},{154,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{160,151}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{324,153},{160,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{326,475},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{158,152}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{164,321},{158,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{154,150}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{488,456},{154,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{162,145}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{488,309},{162,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{162,151}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{160,154},{162,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{160,149}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{164,475},{160,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{808,773}</string>
   <key>textureFileName</key>
   <string>frame_win.png</string>
  </dict>
 </dict>
</plist>
