<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>eagle_animation0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-51,-40}</string>
    <key>spriteSize</key>
    <string>{83,82}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{805,179},{83,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-53,-50}</string>
    <key>spriteSize</key>
    <string>{93,101}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{0,954},{93,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-39,-39}</string>
    <key>spriteSize</key>
    <string>{147,168}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{906,269},{147,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-61,1}</string>
    <key>spriteSize</key>
    <string>{173,236}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{516,269},{173,236}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-63,9}</string>
    <key>spriteSize</key>
    <string>{177,182}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{175,741},{177,182}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-56,-31}</string>
    <key>spriteSize</key>
    <string>{127,139}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{937,741},{127,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-37,-17}</string>
    <key>spriteSize</key>
    <string>{131,129}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{354,929},{131,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-53,26}</string>
    <key>spriteSize</key>
    <string>{197,215}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{305,486},{197,215}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-39,-12}</string>
    <key>spriteSize</key>
    <string>{177,211}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{516,507},{177,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-22,-8}</string>
    <key>spriteSize</key>
    <string>{219,201}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{0,538},{219,201}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,4}</string>
    <key>spriteSize</key>
    <string>{181,177}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{805,0},{181,177}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,26}</string>
    <key>spriteSize</key>
    <string>{209,215}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{305,269},{209,215}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-53,-39}</string>
    <key>spriteSize</key>
    <string>{127,117}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{937,882},{127,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,17}</string>
    <key>spriteSize</key>
    <string>{173,211}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{0,741},{173,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{303,267}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{0,0},{303,267}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{303,267}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{0,269},{303,267}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{303,267}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{305,0},{303,267}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-52}</string>
    <key>spriteSize</key>
    <string>{213,155}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{691,269},{213,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-49}</string>
    <key>spriteSize</key>
    <string>{203,144}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{695,507},{203,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-61}</string>
    <key>spriteSize</key>
    <string>{209,130}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{521,741},{209,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-55}</string>
    <key>spriteSize</key>
    <string>{203,123}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{732,741},{203,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-42,-33}</string>
    <key>spriteSize</key>
    <string>{137,132}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{175,925},{137,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-33,-52}</string>
    <key>spriteSize</key>
    <string>{145,149}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{688,873},{145,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-39,-56}</string>
    <key>spriteSize</key>
    <string>{165,155}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{521,873},{165,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-39,-40}</string>
    <key>spriteSize</key>
    <string>{165,186}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{354,741},{165,186}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-40,-56}</string>
    <key>spriteSize</key>
    <string>{161,150}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{906,439},{161,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-55,-28}</string>
    <key>spriteSize</key>
    <string>{193,205}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{610,0},{193,205}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>eagle_animation9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-39,-53}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{303,267}</string>
    <key>textureRect</key>
    <string>{{906,591},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1069,1060}</string>
   <key>textureFileName</key>
   <string>freespin_eagle.png</string>
  </dict>
 </dict>
</plist>
