<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>info_ToggleOff</key>
   <dict>
    <key>frame</key>
    <string>{{0,473},{352,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{352,53}</string>
   </dict>
   <key>info_ToggleOn</key>
   <dict>
    <key>frame</key>
    <string>{{354,473},{352,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{352,53}</string>
   </dict>
   <key>info_background-info-gameslots</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{768,471}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{768,471}</string>
   </dict>
   <key>info_backgroundChangeBet</key>
   <dict>
    <key>frame</key>
    <string>{{0,528},{201,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{201,41}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>info_popup.png</string>
  </dict>
 </dict>
</plist>
