<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_bottom-bar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{828,134}</string>
    <key>spriteSourceSize</key>
    <string>{828,134}</string>
    <key>textureRect</key>
    <string>{{0,0},{828,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_btn_capture</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{212,43}</string>
    <key>spriteSourceSize</key>
    <string>{212,43}</string>
    <key>textureRect</key>
    <string>{{0,136},{212,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_btn_collect</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,35}</string>
    <key>spriteSourceSize</key>
    <string>{151,35}</string>
    <key>textureRect</key>
    <string>{{397,136},{151,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_btn_escape</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{181,42}</string>
    <key>spriteSourceSize</key>
    <string>{181,42}</string>
    <key>textureRect</key>
    <string>{{214,136},{181,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{830,181}</string>
   <key>textureFileName</key>
   <string>double_up_symbols.png</string>
  </dict>
 </dict>
</plist>
