<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,6}</string>
    <key>spriteSize</key>
    <string>{164,171}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{0,705},{164,171}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,4}</string>
    <key>spriteSize</key>
    <string>{158,175}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{682,358},{158,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,3}</string>
    <key>spriteSize</key>
    <string>{164,178}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{346,0},{164,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,5}</string>
    <key>spriteSize</key>
    <string>{156,173}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{846,0},{156,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{16,6}</string>
    <key>spriteSize</key>
    <string>{156,171}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{846,175},{156,171}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,5}</string>
    <key>spriteSize</key>
    <string>{168,173}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{172,358},{168,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,5}</string>
    <key>spriteSize</key>
    <string>{168,173}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{344,356},{168,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,7}</string>
    <key>spriteSize</key>
    <string>{162,169}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{338,704},{162,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,7}</string>
    <key>spriteSize</key>
    <string>{166,169}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{678,171},{166,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,6}</string>
    <key>spriteSize</key>
    <string>{170,171}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{0,361},{170,171}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,7}</string>
    <key>spriteSize</key>
    <string>{168,169}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{0,534},{168,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,5}</string>
    <key>spriteSize</key>
    <string>{168,173}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{344,181},{168,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,7}</string>
    <key>spriteSize</key>
    <string>{166,169}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{514,358},{166,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,7}</string>
    <key>spriteSize</key>
    <string>{166,169}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{338,533},{166,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,7}</string>
    <key>spriteSize</key>
    <string>{166,169}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{678,0},{166,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,4}</string>
    <key>spriteSize</key>
    <string>{170,175}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{172,181},{170,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,6}</string>
    <key>spriteSize</key>
    <string>{164,172}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{172,533},{164,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,3}</string>
    <key>spriteSize</key>
    <string>{170,178}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{174,0},{170,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,5}</string>
    <key>spriteSize</key>
    <string>{162,173}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{172,707},{162,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,3}</string>
    <key>spriteSize</key>
    <string>{170,178}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{0,181},{170,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,4}</string>
    <key>spriteSize</key>
    <string>{164,175}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{512,0},{164,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,2}</string>
    <key>spriteSize</key>
    <string>{172,179}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{0,0},{172,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,4}</string>
    <key>spriteSize</key>
    <string>{162,175}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{514,181},{162,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_angler_fish_doubleup_anglerfish_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,4}</string>
    <key>spriteSize</key>
    <string>{160,175}</string>
    <key>spriteSourceSize</key>
    <string>{192,184}</string>
    <key>textureRect</key>
    <string>{{506,533},{160,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{90,92}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{506,919},{90,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,11}</string>
    <key>spriteSize</key>
    <string>{92,101}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{378,882},{92,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,12}</string>
    <key>spriteSize</key>
    <string>{88,101}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{800,710},{88,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,12}</string>
    <key>spriteSize</key>
    <string>{86,98}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{874,913},{86,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,16}</string>
    <key>spriteSize</key>
    <string>{100,104}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{506,710},{100,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,14}</string>
    <key>spriteSize</key>
    <string>{94,99}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{786,535},{94,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,16}</string>
    <key>spriteSize</key>
    <string>{102,100}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{274,882},{102,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,18}</string>
    <key>spriteSize</key>
    <string>{100,104}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{0,878},{100,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,19}</string>
    <key>spriteSize</key>
    <string>{100,103}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{172,882},{100,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,17}</string>
    <key>spriteSize</key>
    <string>{98,99}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{608,710},{98,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,17}</string>
    <key>spriteSize</key>
    <string>{102,103}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{682,535},{102,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{90,99}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{690,816},{90,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,16}</string>
    <key>spriteSize</key>
    <string>{100,103}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{846,348},{100,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,11}</string>
    <key>spriteSize</key>
    <string>{90,97}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{890,710},{90,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{90,93}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{690,917},{90,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{90,95}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{874,816},{90,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{90,99}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{882,535},{90,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{90,94}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{598,917},{90,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{90,99}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{708,710},{90,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,10}</string>
    <key>spriteSize</key>
    <string>{86,89}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{782,916},{86,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,10}</string>
    <key>spriteSize</key>
    <string>{84,91}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{948,348},{84,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,13}</string>
    <key>spriteSize</key>
    <string>{90,98}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{782,816},{90,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,13}</string>
    <key>spriteSize</key>
    <string>{90,99}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{598,816},{90,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_blue_fish_bluefish_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,11}</string>
    <key>spriteSize</key>
    <string>{90,101}</string>
    <key>spriteSourceSize</key>
    <string>{182,170}</string>
    <key>textureRect</key>
    <string>{{506,816},{90,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1034,1013}</string>
   <key>textureFileName</key>
   <string>double_up_fish.png</string>
  </dict>
 </dict>
</plist>
