<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_escape_doubleup_escape_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,19}</string>
    <key>spriteSize</key>
    <string>{286,178}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{292,218},{286,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,26}</string>
    <key>spriteSize</key>
    <string>{206,163}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{960,778},{206,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,23}</string>
    <key>spriteSize</key>
    <string>{240,170}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{814,218},{240,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-34,26}</string>
    <key>spriteSize</key>
    <string>{238,163}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{858,410},{238,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-19,33}</string>
    <key>spriteSize</key>
    <string>{290,150}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{228,587},{290,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,29}</string>
    <key>spriteSize</key>
    <string>{276,157}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{580,410},{276,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,16}</string>
    <key>spriteSize</key>
    <string>{258,184}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{228,401},{258,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,13}</string>
    <key>spriteSize</key>
    <string>{224,189}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{520,587},{224,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,13}</string>
    <key>spriteSize</key>
    <string>{206,189}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{752,778},{206,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,15}</string>
    <key>spriteSize</key>
    <string>{234,185}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{754,0},{234,185}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,21}</string>
    <key>spriteSize</key>
    <string>{218,174}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{520,956},{218,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,8}</string>
    <key>spriteSize</key>
    <string>{290,199}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{0,0},{290,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{216,216}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{0,619},{216,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{218,216}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{534,0},{218,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{226,216}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{0,401},{226,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{240,216}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{292,0},{240,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,16}</string>
    <key>spriteSize</key>
    <string>{220,184}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{746,587},{220,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,9}</string>
    <key>spriteSize</key>
    <string>{272,198}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{0,201},{272,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{39,18}</string>
    <key>spriteSize</key>
    <string>{226,180}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{0,837},{226,180}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{45,14}</string>
    <key>spriteSize</key>
    <string>{230,187}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{228,739},{230,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{46,15}</string>
    <key>spriteSize</key>
    <string>{214,185}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{228,928},{214,185}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{35,20}</string>
    <key>spriteSize</key>
    <string>{230,176}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{520,778},{230,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,30}</string>
    <key>spriteSize</key>
    <string>{210,156}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{752,969},{210,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_escape_doubleup_escape_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{22,13}</string>
    <key>spriteSize</key>
    <string>{232,190}</string>
    <key>spriteSourceSize</key>
    <string>{384,216}</string>
    <key>textureRect</key>
    <string>{{580,218},{232,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1172,1132}</string>
   <key>textureFileName</key>
   <string>double_up_escape.png</string>
  </dict>
 </dict>
</plist>
