<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>login_back</key>
   <dict>
    <key>frame</key>
    <string>{{676,958},{23,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,45}</string>
   </dict>
   <key>login_background</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1280,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1280,720}</string>
   </dict>
   <key>login_bottom_text</key>
   <dict>
    <key>frame</key>
    <string>{{0,981},{327,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{327,36}</string>
   </dict>
   <key>login_btn_login_pp</key>
   <dict>
    <key>frame</key>
    <string>{{676,906},{133,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{133,50}</string>
   </dict>
   <key>login_close_popup</key>
   <dict>
    <key>frame</key>
    <string>{{329,981},{25,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{25,25}</string>
   </dict>
   <key>login_copyright</key>
   <dict>
    <key>frame</key>
    <string>{{561,906},{113,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{113,113}</string>
   </dict>
   <key>login_guess_icon</key>
   <dict>
    <key>frame</key>
    <string>{{876,815},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
   <key>login_logo</key>
   <dict>
    <key>frame</key>
    <string>{{561,815},{313,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{313,89}</string>
   </dict>
   <key>login_notif_popup</key>
   <dict>
    <key>frame</key>
    <string>{{0,722},{559,257}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{559,257}</string>
   </dict>
   <key>login_or</key>
   <dict>
    <key>frame</key>
    <string>{{876,965},{247,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{247,19}</string>
   </dict>
   <key>login_with_fb</key>
   <dict>
    <key>frame</key>
    <string>{{561,722},{587,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{587,91}</string>
   </dict>
   <key>login_with_pp</key>
   <dict>
    <key>frame</key>
    <string>{{1026,815},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>login.png</string>
  </dict>
 </dict>
</plist>
