<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol5_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{536,520},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{0,390},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{402,0},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{134,390},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{402,130},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{268,390},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{402,260},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{0,520},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{536,0},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{134,520},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{536,130},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{0,130},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{402,390},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{268,520},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{536,260},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{402,520},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{536,390},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{134,0},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{134,130},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{0,260},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{268,0},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{134,260},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{268,130},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,128}</string>
    <key>spriteSourceSize</key>
    <string>{132,128}</string>
    <key>textureRect</key>
    <string>{{268,260},{132,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{670,650}</string>
   <key>textureFileName</key>
   <string>anim_symbol_5.png</string>
  </dict>
 </dict>
</plist>
