<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>piggy_bank_break_breaking_flash</key>
   <dict>
    <key>frame</key>
    <string>{{1093,423},{47,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{47,44}</string>
   </dict>
   <key>piggy_bank_break_breaking_light</key>
   <dict>
    <key>frame</key>
    <string>{{1062,335},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>piggy_bank_break_breaking_mark</key>
   <dict>
    <key>frame</key>
    <string>{{1010,828},{382,233}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{382,233}</string>
   </dict>
   <key>piggy_bank_break_coins_behind</key>
   <dict>
    <key>frame</key>
    <string>{{549,470},{741,356}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{741,358}</string>
   </dict>
   <key>piggy_bank_break_coins_front</key>
   <dict>
    <key>frame</key>
    <string>{{784,0},{744,333}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{744,333}</string>
   </dict>
   <key>piggy_bank_break_pig_body_behind</key>
   <dict>
    <key>frame</key>
    <string>{{1292,470},{175,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,157}</string>
   </dict>
   <key>piggy_bank_break_pig_body_front_1</key>
   <dict>
    <key>frame</key>
    <string>{{954,335},{106,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{108,87}</string>
   </dict>
   <key>piggy_bank_break_pig_body_front_2</key>
   <dict>
    <key>frame</key>
    <string>{{784,335},{168,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,129}</string>
   </dict>
   <key>piggy_bank_break_pig_glow</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{782,468}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{782,468}</string>
   </dict>
   <key>piggy_bank_break_pig_head</key>
   <dict>
    <key>frame</key>
    <string>{{1010,1063},{303,259}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{303,259}</string>
   </dict>
   <key>piggy_bank_hammer</key>
   <dict>
    <key>frame</key>
    <string>{{1132,335},{52,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{52,79}</string>
   </dict>
   <key>piggy_bank_light_coin</key>
   <dict>
    <key>frame</key>
    <string>{{0,975},{538,332}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{538,332}</string>
   </dict>
   <key>piggy_bank_pig</key>
   <dict>
    <key>frame</key>
    <string>{{549,828},{459,403}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{459,403}</string>
   </dict>
   <key>piggy_bank_pig_glow</key>
   <dict>
    <key>frame</key>
    <string>{{0,470},{547,503}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{547,503}</string>
   </dict>
   <key>piggy_bank_pig_mask_behind</key>
   <dict>
    <key>frame</key>
    <string>{{954,423},{137,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{137,40}</string>
   </dict>
   <key>piggy_bank_pig_tail</key>
   <dict>
    <key>frame</key>
    <string>{{1186,335},{52,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{52,65}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>piggy_bank.png</string>
  </dict>
 </dict>
</plist>
