<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_button_anim_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{0,0},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{0,262},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{464,0},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{0,524},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{464,262},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{464,524},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{0,786},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{464,786},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{928,0},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{928,262},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{0,1048},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{928,524},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{464,1048},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{928,786},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{0,1310},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{464,1310},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{1392,0},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{928,1048},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{1392,262},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{1392,524},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{0,1572},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{1392,786},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{928,1310},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{464,1572},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{1392,1048},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{928,1572},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{1392,1310},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{462,260}</string>
    <key>spriteSourceSize</key>
    <string>{462,260}</string>
    <key>textureRect</key>
    <string>{{1392,1572},{462,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1856,1834}</string>
   <key>textureFileName</key>
   <string>button_anim.png</string>
  </dict>
 </dict>
</plist>
