<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_hover_blue_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1842,1615}</string>
   <key>textureFileName</key>
   <string>hover_blue.png</string>
  </dict>
 </dict>
</plist>
