<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>settings_background-option</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{600,398}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{600,398}</string>
   </dict>
   <key>settings_btn-on-off_01</key>
   <dict>
    <key>frame</key>
    <string>{{218,462},{148,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,43}</string>
   </dict>
   <key>settings_btn-on-off_02</key>
   <dict>
    <key>frame</key>
    <string>{{368,462},{148,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,43}</string>
   </dict>
   <key>settings_issue_type</key>
   <dict>
    <key>frame</key>
    <string>{{436,400},{148,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,43}</string>
   </dict>
   <key>settings_logout_button</key>
   <dict>
    <key>frame</key>
    <string>{{0,400},{216,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{216,69}</string>
   </dict>
   <key>settings_pink_button</key>
   <dict>
    <key>frame</key>
    <string>{{218,507},{143,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,37}</string>
   </dict>
   <key>settings_privacy_policy_background</key>
   <dict>
    <key>frame</key>
    <string>{{218,400},{216,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{216,60}</string>
   </dict>
   <key>settings_term_of_service_background</key>
   <dict>
    <key>frame</key>
    <string>{{0,471},{216,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{216,60}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>settings.png</string>
  </dict>
 </dict>
</plist>
