<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol1_1</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_10</key>
			<dict>
				<key>frame</key>
				<string>{{2,168},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_11</key>
			<dict>
				<key>frame</key>
				<string>{{2,334},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_12</key>
			<dict>
				<key>frame</key>
				<string>{{2,500},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_13</key>
			<dict>
				<key>frame</key>
				<string>{{2,666},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_14</key>
			<dict>
				<key>frame</key>
				<string>{{165,2},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_15</key>
			<dict>
				<key>frame</key>
				<string>{{331,2},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_16</key>
			<dict>
				<key>frame</key>
				<string>{{497,2},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_17</key>
			<dict>
				<key>frame</key>
				<string>{{663,2},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_18</key>
			<dict>
				<key>frame</key>
				<string>{{165,165},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_19</key>
			<dict>
				<key>frame</key>
				<string>{{165,331},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_2</key>
			<dict>
				<key>frame</key>
				<string>{{165,497},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_20</key>
			<dict>
				<key>frame</key>
				<string>{{165,663},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_21</key>
			<dict>
				<key>frame</key>
				<string>{{328,165},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_22</key>
			<dict>
				<key>frame</key>
				<string>{{494,165},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_23</key>
			<dict>
				<key>frame</key>
				<string>{{660,165},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_3</key>
			<dict>
				<key>frame</key>
				<string>{{328,328},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_4</key>
			<dict>
				<key>frame</key>
				<string>{{328,494},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_5</key>
			<dict>
				<key>frame</key>
				<string>{{328,660},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_6</key>
			<dict>
				<key>frame</key>
				<string>{{491,328},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_7</key>
			<dict>
				<key>frame</key>
				<string>{{657,328},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_8</key>
			<dict>
				<key>frame</key>
				<string>{{491,491},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
			<key>symbol1_9</key>
			<dict>
				<key>frame</key>
				<string>{{491,657},{159,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,162}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_1.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>