<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol8_1</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_10</key>
			<dict>
				<key>frame</key>
				<string>{{2,200},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_11</key>
			<dict>
				<key>frame</key>
				<string>{{2,398},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_12</key>
			<dict>
				<key>frame</key>
				<string>{{2,596},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_13</key>
			<dict>
				<key>frame</key>
				<string>{{2,794},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_14</key>
			<dict>
				<key>frame</key>
				<string>{{189,2},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_15</key>
			<dict>
				<key>frame</key>
				<string>{{387,2},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_16</key>
			<dict>
				<key>frame</key>
				<string>{{585,2},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_17</key>
			<dict>
				<key>frame</key>
				<string>{{783,2},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_18</key>
			<dict>
				<key>frame</key>
				<string>{{189,189},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_19</key>
			<dict>
				<key>frame</key>
				<string>{{189,387},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_2</key>
			<dict>
				<key>frame</key>
				<string>{{189,585},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_20</key>
			<dict>
				<key>frame</key>
				<string>{{189,783},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_21</key>
			<dict>
				<key>frame</key>
				<string>{{376,189},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_22</key>
			<dict>
				<key>frame</key>
				<string>{{574,189},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_23</key>
			<dict>
				<key>frame</key>
				<string>{{772,189},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_3</key>
			<dict>
				<key>frame</key>
				<string>{{376,376},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_4</key>
			<dict>
				<key>frame</key>
				<string>{{376,574},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_5</key>
			<dict>
				<key>frame</key>
				<string>{{376,772},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_6</key>
			<dict>
				<key>frame</key>
				<string>{{563,376},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_7</key>
			<dict>
				<key>frame</key>
				<string>{{761,376},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_8</key>
			<dict>
				<key>frame</key>
				<string>{{563,563},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
			<key>symbol8_9</key>
			<dict>
				<key>frame</key>
				<string>{{563,761},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_8.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_8.png</string>
			<key>size</key>
			<string>{979,990}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>979</integer>
			<key>height</key>
			<integer>990</integer>
		</dict>
	</dict>
</plist>