<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol2_1</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_10</key>
			<dict>
				<key>frame</key>
				<string>{{219,2},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_11</key>
			<dict>
				<key>frame</key>
				<string>{{436,2},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_12</key>
			<dict>
				<key>frame</key>
				<string>{{653,2},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_13</key>
			<dict>
				<key>frame</key>
				<string>{{2,183},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_14</key>
			<dict>
				<key>frame</key>
				<string>{{2,400},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_15</key>
			<dict>
				<key>frame</key>
				<string>{{2,617},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_16</key>
			<dict>
				<key>frame</key>
				<string>{{2,834},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_17</key>
			<dict>
				<key>frame</key>
				<string>{{183,183},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_18</key>
			<dict>
				<key>frame</key>
				<string>{{183,400},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_19</key>
			<dict>
				<key>frame</key>
				<string>{{183,617},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_2</key>
			<dict>
				<key>frame</key>
				<string>{{219,834},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_20</key>
			<dict>
				<key>frame</key>
				<string>{{364,183},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_21</key>
			<dict>
				<key>frame</key>
				<string>{{364,400},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_3</key>
			<dict>
				<key>frame</key>
				<string>{{364,617},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_4</key>
			<dict>
				<key>frame</key>
				<string>{{436,834},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_5</key>
			<dict>
				<key>frame</key>
				<string>{{545,183},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_6</key>
			<dict>
				<key>frame</key>
				<string>{{762,183},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_7</key>
			<dict>
				<key>frame</key>
				<string>{{545,364},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_8</key>
			<dict>
				<key>frame</key>
				<string>{{545,581},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
			<key>symbol2_9</key>
			<dict>
				<key>frame</key>
				<string>{{653,798},{213,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,177}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_2.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_2.png</string>
			<key>size</key>
			<string>{977,1013}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>977</integer>
			<key>height</key>
			<integer>1013</integer>
		</dict>
	</dict>
</plist>