<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol3_1</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_10</key>
			<dict>
				<key>frame</key>
				<string>{{2,169},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_11</key>
			<dict>
				<key>frame</key>
				<string>{{2,336},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_12</key>
			<dict>
				<key>frame</key>
				<string>{{2,503},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_13</key>
			<dict>
				<key>frame</key>
				<string>{{2,670},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_14</key>
			<dict>
				<key>frame</key>
				<string>{{168,2},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_15</key>
			<dict>
				<key>frame</key>
				<string>{{335,2},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_16</key>
			<dict>
				<key>frame</key>
				<string>{{502,2},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_17</key>
			<dict>
				<key>frame</key>
				<string>{{669,2},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_18</key>
			<dict>
				<key>frame</key>
				<string>{{168,168},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_19</key>
			<dict>
				<key>frame</key>
				<string>{{168,335},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_2</key>
			<dict>
				<key>frame</key>
				<string>{{168,502},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_20</key>
			<dict>
				<key>frame</key>
				<string>{{168,669},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_21</key>
			<dict>
				<key>frame</key>
				<string>{{334,168},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_22</key>
			<dict>
				<key>frame</key>
				<string>{{501,168},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_23</key>
			<dict>
				<key>frame</key>
				<string>{{668,168},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_3</key>
			<dict>
				<key>frame</key>
				<string>{{334,334},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_4</key>
			<dict>
				<key>frame</key>
				<string>{{334,501},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_5</key>
			<dict>
				<key>frame</key>
				<string>{{334,668},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_6</key>
			<dict>
				<key>frame</key>
				<string>{{500,334},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_7</key>
			<dict>
				<key>frame</key>
				<string>{{667,334},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_8</key>
			<dict>
				<key>frame</key>
				<string>{{500,500},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>symbol3_9</key>
			<dict>
				<key>frame</key>
				<string>{{500,667},{162,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_3.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_3.png</string>
			<key>size</key>
			<string>{834,835}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>834</integer>
			<key>height</key>
			<integer>835</integer>
		</dict>
	</dict>
</plist>