<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol10_1</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_10</key>
			<dict>
				<key>frame</key>
				<string>{{185,2},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_11</key>
			<dict>
				<key>frame</key>
				<string>{{368,2},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_12</key>
			<dict>
				<key>frame</key>
				<string>{{551,2},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_13</key>
			<dict>
				<key>frame</key>
				<string>{{2,159},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_14</key>
			<dict>
				<key>frame</key>
				<string>{{2,342},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_15</key>
			<dict>
				<key>frame</key>
				<string>{{2,525},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_16</key>
			<dict>
				<key>frame</key>
				<string>{{2,708},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_17</key>
			<dict>
				<key>frame</key>
				<string>{{159,159},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_18</key>
			<dict>
				<key>frame</key>
				<string>{{342,159},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_19</key>
			<dict>
				<key>frame</key>
				<string>{{525,159},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_2</key>
			<dict>
				<key>frame</key>
				<string>{{159,316},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_20</key>
			<dict>
				<key>frame</key>
				<string>{{159,499},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_3</key>
			<dict>
				<key>frame</key>
				<string>{{159,682},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_4</key>
			<dict>
				<key>frame</key>
				<string>{{316,316},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_5</key>
			<dict>
				<key>frame</key>
				<string>{{499,316},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_6</key>
			<dict>
				<key>frame</key>
				<string>{{316,473},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_7</key>
			<dict>
				<key>frame</key>
				<string>{{316,656},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_8</key>
			<dict>
				<key>frame</key>
				<string>{{473,473},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
			<key>symbol10_9</key>
			<dict>
				<key>frame</key>
				<string>{{473,630},{153,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_10.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_10.png</string>
			<key>size</key>
			<string>{732,889}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>732</integer>
			<key>height</key>
			<integer>889</integer>
		</dict>
	</dict>
</plist>