<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>daily_streak_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1078,444}</string>
    <key>spriteSourceSize</key>
    <string>{1078,446}</string>
    <key>textureRect</key>
    <string>{{0,0},{1078,444}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,52}</string>
    <key>spriteSourceSize</key>
    <string>{66,52}</string>
    <key>textureRect</key>
    <string>{{162,852},{66,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,61}</string>
    <key>spriteSourceSize</key>
    <string>{79,61}</string>
    <key>textureRect</key>
    <string>{{0,852},{79,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_3_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,74}</string>
    <key>spriteSourceSize</key>
    <string>{105,74}</string>
    <key>textureRect</key>
    <string>{{282,837},{105,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_5_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,80}</string>
    <key>spriteSourceSize</key>
    <string>{124,80}</string>
    <key>textureRect</key>
    <string>{{282,755},{124,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{139,95}</string>
    <key>spriteSourceSize</key>
    <string>{139,95}</string>
    <key>textureRect</key>
    <string>{{0,755},{139,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,52}</string>
    <key>spriteSourceSize</key>
    <string>{66,52}</string>
    <key>textureRect</key>
    <string>{{534,755},{66,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,61}</string>
    <key>spriteSourceSize</key>
    <string>{79,61}</string>
    <key>textureRect</key>
    <string>{{81,852},{79,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_3_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,74}</string>
    <key>spriteSourceSize</key>
    <string>{105,74}</string>
    <key>textureRect</key>
    <string>{{389,837},{105,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_5_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,80}</string>
    <key>spriteSourceSize</key>
    <string>{124,80}</string>
    <key>textureRect</key>
    <string>{{408,755},{124,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{139,95}</string>
    <key>spriteSourceSize</key>
    <string>{139,95}</string>
    <key>textureRect</key>
    <string>{{141,755},{139,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,199}</string>
    <key>spriteSourceSize</key>
    <string>{132,199}</string>
    <key>textureRect</key>
    <string>{{676,715},{132,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_check</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,48}</string>
    <key>spriteSourceSize</key>
    <string>{50,48}</string>
    <key>textureRect</key>
    <string>{{230,852},{50,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_next</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,199}</string>
    <key>spriteSourceSize</key>
    <string>{132,199}</string>
    <key>textureRect</key>
    <string>{{945,446},{132,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_shiny</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{267,267}</string>
    <key>spriteSourceSize</key>
    <string>{267,267}</string>
    <key>textureRect</key>
    <string>{{676,446},{267,267}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_streak</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,199}</string>
    <key>spriteSourceSize</key>
    <string>{132,199}</string>
    <key>textureRect</key>
    <string>{{810,715},{132,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_logo</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{674,307}</string>
    <key>spriteSourceSize</key>
    <string>{674,308}</string>
    <key>textureRect</key>
    <string>{{0,446},{674,307}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1080,916}</string>
   <key>textureFileName</key>
   <string>daily_streak.png</string>
  </dict>
 </dict>
</plist>
