<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>achievement_BGAvatarAchievement</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{171,0},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_BGType</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{479,29}</string>
    <key>spriteSourceSize</key>
    <string>{479,29}</string>
    <key>textureRect</key>
    <string>{{0,88},{479,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_achievement_BGAchievementPoint</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,86}</string>
    <key>spriteSourceSize</key>
    <string>{169,86}</string>
    <key>textureRect</key>
    <string>{{0,0},{169,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_achievement_bar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{404,20}</string>
    <key>spriteSourceSize</key>
    <string>{404,20}</string>
    <key>textureRect</key>
    <string>{{0,119},{404,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_achievement_bar_filter</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{399,16}</string>
    <key>spriteSourceSize</key>
    <string>{399,16}</string>
    <key>textureRect</key>
    <string>{{0,141},{399,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_buttonCollectAchievement</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,35}</string>
    <key>spriteSourceSize</key>
    <string>{88,35}</string>
    <key>textureRect</key>
    <string>{{246,0},{88,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_facebookAvatar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{246,37},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_point</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{296,37},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_starNoColor</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,34}</string>
    <key>spriteSourceSize</key>
    <string>{34,34}</string>
    <key>textureRect</key>
    <string>{{346,37},{34,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>achievement_starcolor</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,34}</string>
    <key>spriteSourceSize</key>
    <string>{34,34}</string>
    <key>textureRect</key>
    <string>{{336,0},{34,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{481,159}</string>
   <key>textureFileName</key>
   <string>achievement_plist.png</string>
  </dict>
 </dict>
</plist>
