<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,33}</string>
    <key>textureRect</key>
    <string>{{351,418},{70,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>box-freespins-bonus</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,64}</string>
    <key>spriteSourceSize</key>
    <string>{80,64}</string>
    <key>textureRect</key>
    <string>{{351,297},{80,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn-double-up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,68}</string>
    <key>spriteSourceSize</key>
    <string>{127,68}</string>
    <key>textureRect</key>
    <string>{{351,227},{127,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{116,112}</string>
    <key>spriteSourceSize</key>
    <string>{116,112}</string>
    <key>textureRect</key>
    <string>{{0,0},{116,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,26}</string>
    <key>spriteSourceSize</key>
    <string>{122,26}</string>
    <key>textureRect</key>
    <string>{{351,363},{122,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>multiplier-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,25}</string>
    <key>spriteSourceSize</key>
    <string>{120,25}</string>
    <key>textureRect</key>
    <string>{{351,391},{120,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,114},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{118,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,340},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,114},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,340},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,114},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,227},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{235,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,227},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,114},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,227},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,340},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{352,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{480,453}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
