<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Dragon_ExpandingWild_action_HD_1</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_10</key>
			<dict>
				<key>frame</key>
				<string>{{0,454},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_11</key>
			<dict>
				<key>frame</key>
				<string>{{0,908},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_12</key>
			<dict>
				<key>frame</key>
				<string>{{0,1362},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_13</key>
			<dict>
				<key>frame</key>
				<string>{{349,0},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_14</key>
			<dict>
				<key>frame</key>
				<string>{{803,0},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_2</key>
			<dict>
				<key>frame</key>
				<string>{{1257,0},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_3</key>
			<dict>
				<key>frame</key>
				<string>{{349,349},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_4</key>
			<dict>
				<key>frame</key>
				<string>{{803,349},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_5</key>
			<dict>
				<key>frame</key>
				<string>{{1257,349},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_6</key>
			<dict>
				<key>frame</key>
				<string>{{349,698},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_8</key>
			<dict>
				<key>frame</key>
				<string>{{698,698},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_action_HD_9</key>
			<dict>
				<key>frame</key>
				<string>{{1152,698},{349,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,454}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_0</key>
			<dict>
				<key>frame</key>
				<string>{{1711,0},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_1</key>
			<dict>
				<key>frame</key>
				<string>{{1711,473},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_10</key>
			<dict>
				<key>frame</key>
				<string>{{1606,946},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_2</key>
			<dict>
				<key>frame</key>
				<string>{{698,1047},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_3</key>
			<dict>
				<key>frame</key>
				<string>{{349,1152},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_4</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1047},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_5</key>
			<dict>
				<key>frame</key>
				<string>{{1476,1419},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_6</key>
			<dict>
				<key>frame</key>
				<string>{{654,1352},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_7</key>
			<dict>
				<key>frame</key>
				<string>{{1127,1520},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_8</key>
			<dict>
				<key>frame</key>
				<string>{{1432,1724},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
			<key>Dragon_ExpandingWild_idle_HD_9</key>
			<dict>
				<key>frame</key>
				<string>{{349,1657},{305,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,473}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dragon_wild.png</string>
			<key>realTextureFileName</key>
			<string>dragon_wild.png</string>
			<key>size</key>
			<string>{2016,2029}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2016</integer>
			<key>height</key>
			<integer>2029</integer>
		</dict>
	</dict>
</plist>