<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>spin_type_autospin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,202}</string>
    <key>spriteSourceSize</key>
    <string>{158,202}</string>
    <key>textureRect</key>
    <string>{{0,0},{158,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_freespin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,202}</string>
    <key>spriteSourceSize</key>
    <string>{158,202}</string>
    <key>textureRect</key>
    <string>{{160,0},{158,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_skip</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,11}</string>
    <key>spriteSize</key>
    <string>{158,180}</string>
    <key>spriteSourceSize</key>
    <string>{158,202}</string>
    <key>textureRect</key>
    <string>{{160,204},{158,180}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_spin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,11}</string>
    <key>spriteSize</key>
    <string>{158,180}</string>
    <key>spriteSourceSize</key>
    <string>{158,202}</string>
    <key>textureRect</key>
    <string>{{320,0},{158,180}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_stop</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,11}</string>
    <key>spriteSize</key>
    <string>{158,180}</string>
    <key>spriteSourceSize</key>
    <string>{158,202}</string>
    <key>textureRect</key>
    <string>{{0,204},{158,180}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{480,386}</string>
   <key>textureFileName</key>
   <string>but_spin.png</string>
  </dict>
 </dict>
</plist>
