<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{103,60}</string>
    <key>spriteSourceSize</key>
    <string>{119,74}</string>
    <key>textureRect</key>
    <string>{{438,482},{103,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn-double-up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,83}</string>
    <key>spriteSourceSize</key>
    <string>{158,83}</string>
    <key>textureRect</key>
    <string>{{438,284},{158,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{148,142}</string>
    <key>textureRect</key>
    <string>{{0,0},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-box</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{134,55}</string>
    <key>spriteSourceSize</key>
    <string>{160,77}</string>
    <key>textureRect</key>
    <string>{{438,369},{134,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{156,39}</string>
    <key>spriteSourceSize</key>
    <string>{178,57}</string>
    <key>textureRect</key>
    <string>{{438,544},{156,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>multiplier-box</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{134,54}</string>
    <key>spriteSourceSize</key>
    <string>{144,66}</string>
    <key>textureRect</key>
    <string>{{438,426},{134,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{296,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,284},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{150,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,144},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,284},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,144},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,284},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,424},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{442,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,424},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,144},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,424},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,144},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{598,585}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
