<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>admin_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,67}</string>
    <key>spriteSourceSize</key>
    <string>{67,67}</string>
    <key>textureRect</key>
    <string>{{82,77},{67,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>commoner_treasure_chest_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,63}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{0,149},{81,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>inbox_voucher_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{79,77}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{0,0},{79,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>king_treasure_chest_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,72}</string>
    <key>spriteSourceSize</key>
    <string>{82,81}</string>
    <key>textureRect</key>
    <string>{{0,77},{82,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>noble_treasure_chest_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,68}</string>
    <key>spriteSourceSize</key>
    <string>{82,82}</string>
    <key>textureRect</key>
    <string>{{79,0},{82,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{161,212}</string>
   <key>textureFileName</key>
   <string>inbox_icons.png</string>
  </dict>
 </dict>
</plist>
