<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>BG_HD_0</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_1</key>
   <dict>
    <key>frame</key>
    <string>{{0,212},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_10</key>
   <dict>
    <key>frame</key>
    <string>{{674,848},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_11</key>
   <dict>
    <key>frame</key>
    <string>{{674,1060},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_12</key>
   <dict>
    <key>frame</key>
    <string>{{0,1272},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_2</key>
   <dict>
    <key>frame</key>
    <string>{{0,424},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_3</key>
   <dict>
    <key>frame</key>
    <string>{{0,636},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_4</key>
   <dict>
    <key>frame</key>
    <string>{{674,0},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_5</key>
   <dict>
    <key>frame</key>
    <string>{{674,212},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_6</key>
   <dict>
    <key>frame</key>
    <string>{{674,424},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_7</key>
   <dict>
    <key>frame</key>
    <string>{{0,848},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_8</key>
   <dict>
    <key>frame</key>
    <string>{{674,636},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
   <key>BG_HD_9</key>
   <dict>
    <key>frame</key>
    <string>{{0,1060},{672,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{672,210}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>sea_animation.png</string>
  </dict>
 </dict>
</plist>
