<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>daily_challenge_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1067,618}</string>
    <key>spriteSourceSize</key>
    <string>{1067,618}</string>
    <key>textureRect</key>
    <string>{{0,0},{1067,618}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_drop_down</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,33}</string>
    <key>spriteSourceSize</key>
    <string>{90,33}</string>
    <key>textureRect</key>
    <string>{{0,1087},{90,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_bar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{438,22}</string>
    <key>spriteSourceSize</key>
    <string>{438,22}</string>
    <key>textureRect</key>
    <string>{{774,1102},{438,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_bar_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{444,28}</string>
    <key>spriteSourceSize</key>
    <string>{444,28}</string>
    <key>textureRect</key>
    <string>{{207,1090},{444,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{802,126}</string>
    <key>spriteSourceSize</key>
    <string>{802,126}</string>
    <key>textureRect</key>
    <string>{{0,620},{802,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_full</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{772,96}</string>
    <key>spriteSourceSize</key>
    <string>{772,96}</string>
    <key>textureRect</key>
    <string>{{0,826},{772,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_row_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1018,76}</string>
    <key>spriteSourceSize</key>
    <string>{1018,76}</string>
    <key>textureRect</key>
    <string>{{0,748},{1018,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{804,620},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{919,620},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{774,986},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{1069,657},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{889,986},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{1092,826},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{1004,986},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,114}</string>
    <key>spriteSourceSize</key>
    <string>{117,118}</string>
    <key>textureRect</key>
    <string>{{1119,986},{113,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_big_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,6}</string>
    <key>spriteSize</key>
    <string>{161,159}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{1069,176},{161,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_collect</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{205,161}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{0,924},{205,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_level_up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,6}</string>
    <key>spriteSize</key>
    <string>{173,158}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{400,924},{173,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_max_bet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,6}</string>
    <key>spriteSize</key>
    <string>{157,158}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{575,924},{157,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_mega_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,6}</string>
    <key>spriteSize</key>
    <string>{157,158}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{1069,337},{157,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_receive_gift</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,6}</string>
    <key>spriteSize</key>
    <string>{157,158}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{774,826},{157,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_send_gift</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{157,174}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{1069,0},{157,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_spin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,6}</string>
    <key>spriteSize</key>
    <string>{157,158}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{1069,497},{157,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_total_bet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,6}</string>
    <key>spriteSize</key>
    <string>{157,158}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{933,826},{157,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_total_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,3}</string>
    <key>spriteSize</key>
    <string>{191,164}</string>
    <key>spriteSourceSize</key>
    <string>{205,177}</string>
    <key>textureRect</key>
    <string>{{207,924},{191,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1234,1126}</string>
   <key>textureFileName</key>
   <string>daily_challenge.png</string>
  </dict>
 </dict>
</plist>
