<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_btn_spin_hover</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{92,49}</string>
    <key>spriteSourceSize</key>
    <string>{94,53}</string>
    <key>textureRect</key>
    <string>{{273,129},{92,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_btn_spin_normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{88,43}</string>
    <key>spriteSourceSize</key>
    <string>{94,53}</string>
    <key>textureRect</key>
    <string>{{273,180},{88,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_needle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,36}</string>
    <key>spriteSize</key>
    <string>{65,127}</string>
    <key>spriteSourceSize</key>
    <string>{271,271}</string>
    <key>textureRect</key>
    <string>{{273,0},{65,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_text_bonus_fs</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{592,46}</string>
    <key>spriteSourceSize</key>
    <string>{614,62}</string>
    <key>textureRect</key>
    <string>{{0,273},{592,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_wheel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{271,271}</string>
    <key>spriteSourceSize</key>
    <string>{271,271}</string>
    <key>textureRect</key>
    <string>{{0,0},{271,271}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{594,321}</string>
   <key>textureFileName</key>
   <string>bonus_symbols.png</string>
  </dict>
 </dict>
</plist>
