<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{135,54}</string>
    <key>spriteSourceSize</key>
    <string>{135,72}</string>
    <key>textureRect</key>
    <string>{{0,349},{135,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>box-freespins-bonus</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{93,73}</string>
    <key>spriteSourceSize</key>
    <string>{93,73}</string>
    <key>textureRect</key>
    <string>{{259,296},{93,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn-double-up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,84}</string>
    <key>spriteSourceSize</key>
    <string>{158,84}</string>
    <key>textureRect</key>
    <string>{{0,161},{158,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{166,159}</string>
    <key>spriteSourceSize</key>
    <string>{188,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{166,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{138,21}</string>
    <key>spriteSourceSize</key>
    <string>{162,36}</string>
    <key>textureRect</key>
    <string>{{0,405},{138,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>multiplier-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{142,22}</string>
    <key>spriteSourceSize</key>
    <string>{162,36}</string>
    <key>textureRect</key>
    <string>{{168,389},{142,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,99}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{105,247},{57,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,91}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{168,296},{89,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{97,91}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{277,0},{97,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,102}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{168,0},{107,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,102}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{168,104},{107,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,92}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{354,296},{65,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{71,90}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{376,0},{71,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,91}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{372,93},{73,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{93,90}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{277,93},{93,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{65,92}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{372,186},{65,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,86}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{168,208},{105,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{103,100}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{0,247},{103,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{83,99}</string>
    <key>spriteSourceSize</key>
    <string>{107,102}</string>
    <key>textureRect</key>
    <string>{{277,185},{83,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{449,428}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
