<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{85,29}</string>
    <key>spriteSourceSize</key>
    <string>{85,29}</string>
    <key>textureRect</key>
    <string>{{197,585},{85,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,11}</string>
    <key>spriteSize</key>
    <string>{195,330}</string>
    <key>spriteSourceSize</key>
    <string>{209,371}</string>
    <key>textureRect</key>
    <string>{{0,0},{195,330}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn-double-up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,67}</string>
    <key>spriteSourceSize</key>
    <string>{127,67}</string>
    <key>textureRect</key>
    <string>{{0,558},{127,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{118,117}</string>
    <key>spriteSourceSize</key>
    <string>{118,117}</string>
    <key>textureRect</key>
    <string>{{330,0},{118,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol-expand</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{131,357}</string>
    <key>spriteSourceSize</key>
    <string>{131,357}</string>
    <key>textureRect</key>
    <string>{{197,0},{131,357}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,332},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{330,119},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{431,359},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{314,472},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{431,472},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{330,232},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{197,359},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,445},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{450,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{447,119},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{314,359},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{447,232},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{197,472},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{567,627}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
