<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>settings_background-option</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{480,319}</string>
    <key>spriteSourceSize</key>
    <string>{480,319}</string>
    <key>textureRect</key>
    <string>{{0,0},{480,319}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>settings_btn-on-off_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,34}</string>
    <key>spriteSourceSize</key>
    <string>{119,34}</string>
    <key>textureRect</key>
    <string>{{175,371},{119,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>settings_btn-on-off_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,34}</string>
    <key>spriteSourceSize</key>
    <string>{119,34}</string>
    <key>textureRect</key>
    <string>{{349,321},{119,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>settings_issue_type</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,34}</string>
    <key>spriteSourceSize</key>
    <string>{119,34}</string>
    <key>textureRect</key>
    <string>{{296,371},{119,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>settings_logout_button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{173,55}</string>
    <key>spriteSourceSize</key>
    <string>{173,55}</string>
    <key>textureRect</key>
    <string>{{0,321},{173,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>settings_pink_button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,30}</string>
    <key>spriteSourceSize</key>
    <string>{115,30}</string>
    <key>textureRect</key>
    <string>{{175,407},{115,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>settings_privacy_policy_background</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,48}</string>
    <key>spriteSourceSize</key>
    <string>{172,48}</string>
    <key>textureRect</key>
    <string>{{175,321},{172,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>settings_term_of_service_background</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,48}</string>
    <key>spriteSourceSize</key>
    <string>{172,48}</string>
    <key>textureRect</key>
    <string>{{0,378},{172,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{482,439}</string>
   <key>textureFileName</key>
   <string>settings.png</string>
  </dict>
 </dict>
</plist>
