<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>popup_button_addButton</key>
   <dict>
    <key>frame</key>
    <string>{{331,72},{51,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{51,44}</string>
   </dict>
   <key>popup_button_btn_blue</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{331,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{331,70}</string>
   </dict>
   <key>popup_button_btn_close</key>
   <dict>
    <key>frame</key>
    <string>{{333,0},{68,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>popup_button_btn_green</key>
   <dict>
    <key>frame</key>
    <string>{{226,144},{187,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,59}</string>
   </dict>
   <key>popup_button_btn_green_long</key>
   <dict>
    <key>frame</key>
    <string>{{0,72},{329,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{331,70}</string>
   </dict>
   <key>popup_button_btn_green_new</key>
   <dict>
    <key>frame</key>
    <string>{{0,288},{227,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{227,61}</string>
   </dict>
   <key>popup_button_btn_purple</key>
   <dict>
    <key>frame</key>
    <string>{{226,205},{187,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,59}</string>
   </dict>
   <key>popup_button_btn_yellow</key>
   <dict>
    <key>frame</key>
    <string>{{229,288},{187,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,58}</string>
   </dict>
   <key>popup_button_minusButton</key>
   <dict>
    <key>frame</key>
    <string>{{229,348},{51,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{51,44}</string>
   </dict>
   <key>popup_button_switch_tab_button_off</key>
   <dict>
    <key>frame</key>
    <string>{{0,144},{224,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,70}</string>
   </dict>
   <key>popup_button_switch_tab_button_on</key>
   <dict>
    <key>frame</key>
    <string>{{0,216},{224,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,70}</string>
   </dict>
   <key>popup_button_transparent</key>
   <dict>
    <key>frame</key>
    <string>{{226,266},{2,2}}</string>
    <key>offset</key>
    <string>{-24,24}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>popup_button.png</string>
  </dict>
 </dict>
</plist>
