<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_button_inner_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{0,0},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{222,0},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{0,222},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{222,222},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{444,0},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{0,444},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{222,444},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{444,222},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{444,444},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{666,0},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{0,666},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{222,666},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{666,222},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{444,666},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{666,444},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{888,0},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{0,888},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{222,888},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{888,222},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{666,666},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{444,888},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{888,444},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{666,888},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{888,666},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1110,0},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{0,1110},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{222,1110},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1110,222},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{444,1110},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1110,444},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{888,888},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{666,1110},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_33</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1110,666},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_34</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1332,0},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_35</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1332,222},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_36</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1332,444},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_37</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{888,1110},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_38</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1110,888},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_39</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,220}</string>
    <key>spriteSourceSize</key>
    <string>{220,220}</string>
    <key>textureRect</key>
    <string>{{1332,666},{220,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1554,1332}</string>
   <key>textureFileName</key>
   <string>button_inner.png</string>
  </dict>
 </dict>
</plist>
