<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_hover_purple_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{307,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{614,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,323},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{921,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,646},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1228,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,969},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{1535,1292},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{305,321}</string>
    <key>spriteSourceSize</key>
    <string>{305,321}</string>
    <key>textureRect</key>
    <string>{{0,0},{305,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1842,1615}</string>
   <key>textureFileName</key>
   <string>hover_purple.png</string>
  </dict>
 </dict>
</plist>
