<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Freespin-Nezha_0</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_1</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_10</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_11</key>
			<dict>
				<key>frame</key>
				<string>{{0,1350},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_12</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_13</key>
			<dict>
				<key>frame</key>
				<string>{{834,0},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_14</key>
			<dict>
				<key>frame</key>
				<string>{{1284,0},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_15</key>
			<dict>
				<key>frame</key>
				<string>{{384,384},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_16</key>
			<dict>
				<key>frame</key>
				<string>{{384,834},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_17</key>
			<dict>
				<key>frame</key>
				<string>{{384,1284},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_2</key>
			<dict>
				<key>frame</key>
				<string>{{768,384},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_3</key>
			<dict>
				<key>frame</key>
				<string>{{1218,384},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_4</key>
			<dict>
				<key>frame</key>
				<string>{{768,768},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_5</key>
			<dict>
				<key>frame</key>
				<string>{{768,1218},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_6</key>
			<dict>
				<key>frame</key>
				<string>{{1152,768},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_7</key>
			<dict>
				<key>frame</key>
				<string>{{1602,768},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_8</key>
			<dict>
				<key>frame</key>
				<string>{{1152,1152},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
			<key>Freespin-Nezha_9</key>
			<dict>
				<key>frame</key>
				<string>{{1602,1218},{384,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,450}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>nezha_freespin.png</string>
			<key>realTextureFileName</key>
			<string>nezha_freespin.png</string>
			<key>size</key>
			<string>{1986,1800}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1986</integer>
			<key>height</key>
			<integer>1800</integer>
		</dict>
	</dict>
</plist>