<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>body_slotGameIcon_WebGame_40</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-32}</string>
    <key>spriteSize</key>
    <string>{258,210}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{0,501},{258,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_41</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-22}</string>
    <key>spriteSize</key>
    <string>{254,229}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{266,0},{254,229}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_42</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-24}</string>
    <key>spriteSize</key>
    <string>{232,225}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{522,245},{232,225}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_43</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-33}</string>
    <key>spriteSize</key>
    <string>{234,207}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{492,472},{234,207}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_44</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-23}</string>
    <key>spriteSize</key>
    <string>{250,228}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{0,271},{250,228}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_45</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-33}</string>
    <key>spriteSize</key>
    <string>{214,207}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{0,713},{214,207}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_46</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-33}</string>
    <key>spriteSize</key>
    <string>{208,207}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{728,686},{208,207}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_47</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-17}</string>
    <key>spriteSize</key>
    <string>{224,240}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{266,472},{224,240}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-35}</string>
    <key>spriteSize</key>
    <string>{216,204}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{266,714},{216,204}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_49</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-15}</string>
    <key>spriteSize</key>
    <string>{222,243}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{522,0},{222,243}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_50</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-24}</string>
    <key>spriteSize</key>
    <string>{206,225}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{746,0},{206,225}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_51</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-25}</string>
    <key>spriteSize</key>
    <string>{210,224}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{492,681},{210,224}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_52</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-17}</string>
    <key>spriteSize</key>
    <string>{234,239}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{266,231},{234,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_53</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{264,269}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{0,0},{264,269}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>body_slotGameIcon_WebGame_54</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-31}</string>
    <key>spriteSize</key>
    <string>{210,212}</string>
    <key>spriteSourceSize</key>
    <string>{264,274}</string>
    <key>textureRect</key>
    <string>{{728,472},{210,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{954,922}</string>
   <key>textureFileName</key>
   <string>gameIcon.png</string>
  </dict>
 </dict>
</plist>
