<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Ui_Nezha_idle_0</key>
   <dict>
    <key>frame</key>
    <string>{{1278,0},{298,416}}</string>
    <key>offset</key>
    <string>{-13,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_1</key>
   <dict>
    <key>frame</key>
    <string>{{636,842},{314,418}}</string>
    <key>offset</key>
    <string>{-5,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_10</key>
   <dict>
    <key>frame</key>
    <string>{{0,847},{316,417}}</string>
    <key>offset</key>
    <string>{-4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_11</key>
   <dict>
    <key>frame</key>
    <string>{{960,0},{316,417}}</string>
    <key>offset</key>
    <string>{-4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_12</key>
   <dict>
    <key>frame</key>
    <string>{{952,842},{312,416}}</string>
    <key>offset</key>
    <string>{-6,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_13</key>
   <dict>
    <key>frame</key>
    <string>{{956,419},{316,417}}</string>
    <key>offset</key>
    <string>{-4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_2</key>
   <dict>
    <key>frame</key>
    <string>{{640,419},{314,420}}</string>
    <key>offset</key>
    <string>{-5,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_3</key>
   <dict>
    <key>frame</key>
    <string>{{320,842},{314,420}}</string>
    <key>offset</key>
    <string>{-5,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_4</key>
   <dict>
    <key>frame</key>
    <string>{{320,0},{318,421}}</string>
    <key>offset</key>
    <string>{-3,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_5</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{318,423}}</string>
    <key>offset</key>
    <string>{-3,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_6</key>
   <dict>
    <key>frame</key>
    <string>{{320,423},{318,417}}</string>
    <key>offset</key>
    <string>{-3,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_7</key>
   <dict>
    <key>frame</key>
    <string>{{0,425},{316,420}}</string>
    <key>offset</key>
    <string>{-4,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_8</key>
   <dict>
    <key>frame</key>
    <string>{{1266,842},{310,414}}</string>
    <key>offset</key>
    <string>{-7,7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
   <key>Ui_Nezha_idle_9</key>
   <dict>
    <key>frame</key>
    <string>{{640,0},{318,417}}</string>
    <key>offset</key>
    <string>{-3,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{324,432}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>nezha_idle.png</string>
  </dict>
 </dict>
</plist>
