<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Freespin-Nezha_0</key>
   <dict>
    <key>frame</key>
    <string>{{1194,0},{295,329}}</string>
    <key>offset</key>
    <string>{-6,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_1</key>
   <dict>
    <key>frame</key>
    <string>{{1194,331},{295,326}}</string>
    <key>offset</key>
    <string>{-6,-8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_10</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{299,347}}</string>
    <key>offset</key>
    <string>{-4,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_11</key>
   <dict>
    <key>frame</key>
    <string>{{301,0},{295,347}}</string>
    <key>offset</key>
    <string>{-6,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_12</key>
   <dict>
    <key>frame</key>
    <string>{{0,349},{295,345}}</string>
    <key>offset</key>
    <string>{-6,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_13</key>
   <dict>
    <key>frame</key>
    <string>{{297,349},{295,345}}</string>
    <key>offset</key>
    <string>{-6,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_14</key>
   <dict>
    <key>frame</key>
    <string>{{0,696},{295,344}}</string>
    <key>offset</key>
    <string>{-6,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_15</key>
   <dict>
    <key>frame</key>
    <string>{{598,0},{295,345}}</string>
    <key>offset</key>
    <string>{-6,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_16</key>
   <dict>
    <key>frame</key>
    <string>{{594,349},{299,340}}</string>
    <key>offset</key>
    <string>{-4,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_17</key>
   <dict>
    <key>frame</key>
    <string>{{297,696},{299,339}}</string>
    <key>offset</key>
    <string>{-4,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_2</key>
   <dict>
    <key>frame</key>
    <string>{{299,1042},{299,326}}</string>
    <key>offset</key>
    <string>{-4,-9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_3</key>
   <dict>
    <key>frame</key>
    <string>{{899,1042},{297,325}}</string>
    <key>offset</key>
    <string>{-5,-8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_4</key>
   <dict>
    <key>frame</key>
    <string>{{600,1042},{297,326}}</string>
    <key>offset</key>
    <string>{-5,-9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_5</key>
   <dict>
    <key>frame</key>
    <string>{{895,683},{297,327}}</string>
    <key>offset</key>
    <string>{-5,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_6</key>
   <dict>
    <key>frame</key>
    <string>{{0,1042},{297,333}}</string>
    <key>offset</key>
    <string>{-5,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_7</key>
   <dict>
    <key>frame</key>
    <string>{{895,343},{297,338}}</string>
    <key>offset</key>
    <string>{-5,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_8</key>
   <dict>
    <key>frame</key>
    <string>{{895,0},{297,341}}</string>
    <key>offset</key>
    <string>{-5,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
   <key>Freespin-Nezha_9</key>
   <dict>
    <key>frame</key>
    <string>{{598,696},{295,343}}</string>
    <key>offset</key>
    <string>{-6,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{307,360}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>nezha_freespin.png</string>
  </dict>
 </dict>
</plist>
