<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{104,44}</string>
    <key>spriteSourceSize</key>
    <string>{108,58}</string>
    <key>textureRect</key>
    <string>{{0,283},{104,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>box-freespins-bonus</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,58}</string>
    <key>spriteSourceSize</key>
    <string>{75,59}</string>
    <key>textureRect</key>
    <string>{{266,240},{75,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn-double-up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,68}</string>
    <key>spriteSourceSize</key>
    <string>{127,68}</string>
    <key>textureRect</key>
    <string>{{0,130},{127,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,128}</string>
    <key>spriteSourceSize</key>
    <string>{150,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{134,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,18}</string>
    <key>spriteSourceSize</key>
    <string>{130,29}</string>
    <key>textureRect</key>
    <string>{{0,329},{112,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>multiplier-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,19}</string>
    <key>spriteSourceSize</key>
    <string>{130,29}</string>
    <key>textureRect</key>
    <string>{{136,318},{114,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,81}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{84,200},{46,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{224,151},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{78,74}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{224,0},{78,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,82}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{136,0},{86,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,82}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{136,84},{86,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,74}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{304,0},{54,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,73}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{302,76},{58,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,74}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{204,240},{60,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,73}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{224,76},{76,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{48,74}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{298,151},{48,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,70}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{136,168},{84,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{82,81}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{0,200},{82,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,76}</string>
    <key>spriteSourceSize</key>
    <string>{86,82}</string>
    <key>textureRect</key>
    <string>{{136,240},{66,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{362,349}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
