<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol7_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,339},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,339},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,113},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,339},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,226},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,452},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,452},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{468,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{468,113},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,113},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,339},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,452},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{468,226},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,565},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,452},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,565},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{468,339},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,565},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{468,452},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,565},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{468,565},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,113},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,226},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,226},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,113},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,226},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{585,678}</string>
   <key>textureFileName</key>
   <string>anim_symbol_7.png</string>
  </dict>
 </dict>
</plist>
