<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>popup_button_addButton</key>
   <dict>
    <key>frame</key>
    <string>{{266,57},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>popup_button_btn_blue</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{264,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{264,56}</string>
   </dict>
   <key>popup_button_btn_close</key>
   <dict>
    <key>frame</key>
    <string>{{266,0},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{55,55}</string>
   </dict>
   <key>popup_button_btn_green</key>
   <dict>
    <key>frame</key>
    <string>{{181,116},{150,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,47}</string>
   </dict>
   <key>popup_button_btn_green_long</key>
   <dict>
    <key>frame</key>
    <string>{{0,58},{264,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{264,56}</string>
   </dict>
   <key>popup_button_btn_green_new</key>
   <dict>
    <key>frame</key>
    <string>{{0,232},{182,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,49}</string>
   </dict>
   <key>popup_button_btn_purple</key>
   <dict>
    <key>frame</key>
    <string>{{181,165},{150,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,47}</string>
   </dict>
   <key>popup_button_btn_yellow</key>
   <dict>
    <key>frame</key>
    <string>{{184,232},{150,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,46}</string>
   </dict>
   <key>popup_button_minusButton</key>
   <dict>
    <key>frame</key>
    <string>{{184,280},{41,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{41,36}</string>
   </dict>
   <key>popup_button_switch_tab_button_off</key>
   <dict>
    <key>frame</key>
    <string>{{0,116},{179,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{179,56}</string>
   </dict>
   <key>popup_button_switch_tab_button_on</key>
   <dict>
    <key>frame</key>
    <string>{{0,174},{179,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{179,56}</string>
   </dict>
   <key>popup_button_transparent</key>
   <dict>
    <key>frame</key>
    <string>{{181,214},{2,2}}</string>
    <key>offset</key>
    <string>{-19,19}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>popup_button.png</string>
  </dict>
 </dict>
</plist>
