<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>levelup_LevelUpBG</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{544,475}</string>
    <key>spriteSourceSize</key>
    <string>{544,475}</string>
    <key>textureRect</key>
    <string>{{0,0},{544,475}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>levelup_LevelUpTitle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,32}</string>
    <key>spriteSourceSize</key>
    <string>{172,32}</string>
    <key>textureRect</key>
    <string>{{0,775},{172,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>levelup_booster_package_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{42,59}</string>
    <key>spriteSourceSize</key>
    <string>{138,138}</string>
    <key>textureRect</key>
    <string>{{483,477},{42,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>levelup_booster_package_icon_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{138,137}</string>
    <key>spriteSourceSize</key>
    <string>{138,138}</string>
    <key>textureRect</key>
    <string>{{298,637},{138,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>levelup_booster_package_multiplier_large_background</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,52}</string>
    <key>spriteSourceSize</key>
    <string>{76,52}</string>
    <key>textureRect</key>
    <string>{{438,637},{76,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>levelup_booster_package_multiplier_small_background</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,52}</string>
    <key>spriteSourceSize</key>
    <string>{66,52}</string>
    <key>textureRect</key>
    <string>{{438,691},{66,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>levelup_lightray</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{296,296}</string>
    <key>spriteSourceSize</key>
    <string>{296,296}</string>
    <key>textureRect</key>
    <string>{{0,477},{296,296}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>levelup_stars</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,6}</string>
    <key>spriteSize</key>
    <string>{183,158}</string>
    <key>spriteSourceSize</key>
    <string>{203,203}</string>
    <key>textureRect</key>
    <string>{{298,477},{183,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{546,809}</string>
   <key>textureFileName</key>
   <string>levelup.png</string>
  </dict>
 </dict>
</plist>
