<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol10_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{118,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{492,404},{118,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,14}</string>
    <key>spriteSize</key>
    <string>{116,152}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{116,459},{116,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,6}</string>
    <key>spriteSize</key>
    <string>{118,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{492,153},{118,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{126,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{608,0},{126,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,14}</string>
    <key>spriteSize</key>
    <string>{140,136}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{326,283},{140,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,11}</string>
    <key>spriteSize</key>
    <string>{150,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{326,150},{150,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{120,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{612,153},{120,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-2}</string>
    <key>spriteSize</key>
    <string>{122,122}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{350,459},{122,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-4}</string>
    <key>spriteSize</key>
    <string>{132,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{492,286},{132,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-14}</string>
    <key>spriteSize</key>
    <string>{160,144}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,301},{160,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-7}</string>
    <key>spriteSize</key>
    <string>{160,149}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,150},{160,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{118,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{234,597},{118,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-9}</string>
    <key>spriteSize</key>
    <string>{162,154}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{162,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-13}</string>
    <key>spriteSize</key>
    <string>{162,146}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,311},{162,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-9}</string>
    <key>spriteSize</key>
    <string>{162,153}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,156},{162,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-13}</string>
    <key>spriteSize</key>
    <string>{162,146}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{328,0},{162,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-12}</string>
    <key>spriteSize</key>
    <string>{162,148}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,0},{162,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{116,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{354,597},{116,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{116,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{492,514},{116,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{612,404},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{610,514},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,14}</string>
    <key>spriteSize</key>
    <string>{114,136}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{234,459},{114,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,14}</string>
    <key>spriteSize</key>
    <string>{114,151}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{492,0},{114,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,12}</string>
    <key>spriteSize</key>
    <string>{114,155}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,459},{114,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{736,707}</string>
   <key>textureFileName</key>
   <string>anim_symbol_10.png</string>
  </dict>
 </dict>
</plist>
