<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol0_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{120,530},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{486,480},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{114,120}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{482,0},{114,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{114,130}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{120,398},{114,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{114,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,414},{114,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{116,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{120,265},{116,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{116,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{246,271},{116,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{116,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{368,140},{116,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{362,0},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{120,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{246,140},{120,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{120,132}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{120,131},{120,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{486,260},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,8}</string>
    <key>spriteSize</key>
    <string>{118,137}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{118,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,6}</string>
    <key>spriteSize</key>
    <string>{124,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{120,0},{124,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,11}</string>
    <key>spriteSize</key>
    <string>{118,135}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,139},{118,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,14}</string>
    <key>spriteSize</key>
    <string>{114,136}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,276},{114,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{114,138}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{246,0},{114,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{236,530},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{486,370},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{114,112}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{362,402},{114,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,124}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{246,402},{114,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{364,271},{114,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,118}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{486,140},{114,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol0_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{362,516},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{602,640}</string>
   <key>textureFileName</key>
   <string>anim_symbol_0.png</string>
  </dict>
 </dict>
</plist>
