<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol2_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,520},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{466,459},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{114,114}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{466,116},{114,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{114,122}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{118,275},{114,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{114,122}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{350,0},{114,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{114,122}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{234,275},{114,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{114,122}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{348,128},{114,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{114,121}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{118,399},{114,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{114,121}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{350,275},{114,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{116,120}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,275},{116,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{116,126}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{232,0},{116,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,110}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{466,347},{114,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{114,132}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,141},{114,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,5}</string>
    <key>spriteSize</key>
    <string>{114,126}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{232,128},{114,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{114,130}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{116,136},{114,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{114,139}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{114,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,13}</string>
    <key>spriteSize</key>
    <string>{114,134}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{116,0},{114,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,110}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{350,511},{114,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{114,111}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{350,398},{114,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{114,114}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{466,0},{114,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{114,120}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{234,399},{114,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,121}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,397},{114,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{466,232},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{234,521},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{582,631}</string>
   <key>textureFileName</key>
   <string>anim_symbol_2.png</string>
  </dict>
 </dict>
</plist>
