<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol9_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,431},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{376,408},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{260,518},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{506,330},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{376,518},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{114,112}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{386,151},{114,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,4}</string>
    <key>spriteSize</key>
    <string>{128,121}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{260,285},{128,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,10}</string>
    <key>spriteSize</key>
    <string>{124,128}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{380,0},{124,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,13}</string>
    <key>spriteSize</key>
    <string>{132,134}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{126,151},{132,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,14}</string>
    <key>spriteSize</key>
    <string>{128,136}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{250,0},{128,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,12}</string>
    <key>spriteSize</key>
    <string>{128,133}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,296},{128,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{116,431},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,8}</string>
    <key>spriteSize</key>
    <string>{124,132}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{260,151},{124,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{124,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{130,296},{124,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,3}</string>
    <key>spriteSize</key>
    <string>{124,149}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{124,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,4}</string>
    <key>spriteSize</key>
    <string>{122,149}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{126,0},{122,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,3}</string>
    <key>spriteSize</key>
    <string>{124,143}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,151},{124,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{390,285},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{260,408},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{506,0},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{506,110},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,541},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{506,220},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{116,541},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{622,651}</string>
   <key>textureFileName</key>
   <string>anim_symbol_9.png</string>
  </dict>
 </dict>
</plist>
