<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol12_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,573},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{162,143}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{162,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{160,141}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,0},{160,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{160,137}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,143},{160,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-4}</string>
    <key>spriteSize</key>
    <string>{156,128}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{326,0},{156,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,1}</string>
    <key>spriteSize</key>
    <string>{128,130}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,558},{128,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,11}</string>
    <key>spriteSize</key>
    <string>{118,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{578,282},{118,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,9}</string>
    <key>spriteSize</key>
    <string>{124,127}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{452,562},{124,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,10}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{448,420},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,12}</string>
    <key>spriteSize</key>
    <string>{128,132}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{318,428},{128,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,14}</string>
    <key>spriteSize</key>
    <string>{128,136}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{448,282},{128,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{586,130},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,17}</string>
    <key>spriteSize</key>
    <string>{128,143}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{456,130},{128,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,18}</string>
    <key>spriteSize</key>
    <string>{128,144}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{326,130},{128,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,18}</string>
    <key>spriteSize</key>
    <string>{128,144}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{318,282},{128,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,18}</string>
    <key>spriteSize</key>
    <string>{128,144}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,427},{128,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,18}</string>
    <key>spriteSize</key>
    <string>{128,144}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,412},{128,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{578,539},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-7}</string>
    <key>spriteSize</key>
    <string>{120,122}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{578,415},{120,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-7}</string>
    <key>spriteSize</key>
    <string>{132,123}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{318,562},{132,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-6}</string>
    <key>spriteSize</key>
    <string>{140,125}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{484,0},{140,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-4}</string>
    <key>spriteSize</key>
    <string>{152,128}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{164,282},{152,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{156,137}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,288},{156,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol12_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{162,141}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,145},{162,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{702,691}</string>
   <key>textureFileName</key>
   <string>anim_symbol_12.png</string>
  </dict>
 </dict>
</plist>
