<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol7_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{512,221},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,109}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{390,334},{114,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,109}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{512,110},{114,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-4}</string>
    <key>spriteSize</key>
    <string>{116,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{256,269},{116,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-4}</string>
    <key>spriteSize</key>
    <string>{116,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,379},{116,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-4}</string>
    <key>spriteSize</key>
    <string>{120,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{134,269},{120,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{120,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{390,110},{120,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{120,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{134,387},{120,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{124,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{390,0},{124,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,0}</string>
    <key>spriteSize</key>
    <string>{130,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{250,142},{130,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,0}</string>
    <key>spriteSize</key>
    <string>{132,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,269},{132,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{256,501},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,3}</string>
    <key>spriteSize</key>
    <string>{126,114}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{122,142},{126,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,8}</string>
    <key>spriteSize</key>
    <string>{120,125}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,142},{120,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,5}</string>
    <key>spriteSize</key>
    <string>{120,119}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{268,0},{120,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{128,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{138,0},{128,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,12}</string>
    <key>spriteSize</key>
    <string>{136,140}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{136,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,112}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{390,220},{114,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,112}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{256,387},{114,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{390,445},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,110}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{116,497},{114,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{506,334},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{506,444},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol7_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,112}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,497},{114,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{628,611}</string>
   <key>textureFileName</key>
   <string>anim_symbol_7.png</string>
  </dict>
 </dict>
</plist>
