<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol1_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,554},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{132,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{384,391},{132,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{118,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{264,522},{118,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-5}</string>
    <key>spriteSize</key>
    <string>{120,119}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,433},{120,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{120,119}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{262,391},{120,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{124,119}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{394,149},{124,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{128,118}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{416,0},{128,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{128,119}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{130,283},{128,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{128,119}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{262,270},{128,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{130,119}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{262,149},{130,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{130,132}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{130,149},{130,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{518,502},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,3}</string>
    <key>spriteSize</key>
    <string>{142,147}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{142,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,0}</string>
    <key>spriteSize</key>
    <string>{148,141}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{144,0},{148,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,6}</string>
    <key>spriteSize</key>
    <string>{128,144}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,149},{128,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,15}</string>
    <key>spriteSize</key>
    <string>{120,141}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{294,0},{120,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,14}</string>
    <key>spriteSize</key>
    <string>{122,136}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,295},{122,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,110}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{518,390},{114,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{114,114}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{520,149},{114,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-4}</string>
    <key>spriteSize</key>
    <string>{124,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{130,404},{124,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-3}</string>
    <key>spriteSize</key>
    <string>{124,115}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{392,270},{124,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-3}</string>
    <key>spriteSize</key>
    <string>{116,118}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{518,270},{116,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{120,113}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{384,501},{120,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{132,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{130,522},{132,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{636,664}</string>
   <key>textureFileName</key>
   <string>anim_symbol_1.png</string>
  </dict>
 </dict>
</plist>
