<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol8_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{242,637},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,0}</string>
    <key>spriteSize</key>
    <string>{126,117}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{584,174},{126,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{122,159}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,519},{122,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,3}</string>
    <key>spriteSize</key>
    <string>{116,165}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{124,519},{116,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,10}</string>
    <key>spriteSize</key>
    <string>{118,153}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{448,334},{118,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,8}</string>
    <key>spriteSize</key>
    <string>{134,158}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{448,174},{134,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,4}</string>
    <key>spriteSize</key>
    <string>{144,165}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{300,346},{144,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,2}</string>
    <key>spriteSize</key>
    <string>{144,169}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{150,345},{144,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,2}</string>
    <key>spriteSize</key>
    <string>{146,170}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{300,174},{146,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,2}</string>
    <key>spriteSize</key>
    <string>{144,169}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{454,0},{144,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,1}</string>
    <key>spriteSize</key>
    <string>{150,172}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{150,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{584,521},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,1}</string>
    <key>spriteSize</key>
    <string>{148,172}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,174},{148,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,2}</string>
    <key>spriteSize</key>
    <string>{148,169}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{150,174},{148,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,2}</string>
    <key>spriteSize</key>
    <string>{146,169}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,348},{146,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,1}</string>
    <key>spriteSize</key>
    <string>{150,171}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{152,0},{150,171}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,2}</string>
    <key>spriteSize</key>
    <string>{148,169}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{304,0},{148,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,110}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{584,409},{114,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{584,631},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,110}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{372,629},{114,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-3}</string>
    <key>spriteSize</key>
    <string>{122,114}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{584,293},{122,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{114,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{600,0},{114,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{128,116}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{242,519},{128,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,0}</string>
    <key>spriteSize</key>
    <string>{132,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{372,519},{132,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{716,747}</string>
   <key>textureFileName</key>
   <string>anim_symbol_8.png</string>
  </dict>
 </dict>
</plist>
