<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol6_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{148,527},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-11}</string>
    <key>spriteSize</key>
    <string>{116,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{406,252},{116,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-3}</string>
    <key>spriteSize</key>
    <string>{128,129}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,247},{128,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,2}</string>
    <key>spriteSize</key>
    <string>{138,123}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{148,125},{138,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,6}</string>
    <key>spriteSize</key>
    <string>{146,120}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,125},{146,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,4}</string>
    <key>spriteSize</key>
    <string>{144,123}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,0},{144,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-14,5}</string>
    <key>spriteSize</key>
    <string>{142,122}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{146,0},{142,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,2}</string>
    <key>spriteSize</key>
    <string>{136,112}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{406,138},{136,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,0}</string>
    <key>spriteSize</key>
    <string>{126,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,518},{126,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{544,261},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{114,135}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{290,286},{114,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,108}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{522,499},{114,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,9}</string>
    <key>spriteSize</key>
    <string>{116,139}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{148,250},{116,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{114,143}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{290,0},{114,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{114,133}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{290,423},{114,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{114,134}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{148,391},{114,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,5}</string>
    <key>spriteSize</key>
    <string>{114,131}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{406,385},{114,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,110}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{406,518},{114,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{114,112}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{522,385},{114,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{114,121}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{544,138},{114,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{114,132}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{522,0},{114,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-14}</string>
    <key>spriteSize</key>
    <string>{114,136}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{406,0},{114,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-15}</string>
    <key>spriteSize</key>
    <string>{114,139}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{290,145},{114,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol6_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-15}</string>
    <key>spriteSize</key>
    <string>{114,138}</string>
    <key>spriteSourceSize</key>
    <string>{180,180}</string>
    <key>textureRect</key>
    <string>{{0,378},{114,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{660,637}</string>
   <key>textureFileName</key>
   <string>anim_symbol_6.png</string>
  </dict>
 </dict>
</plist>
