<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol1_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{0,0},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{0,315},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{324,0},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{108,315},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{324,105},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{216,315},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{324,210},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{0,420},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{432,0},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{108,420},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{432,105},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{0,105},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{324,315},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{216,420},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{432,210},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{324,420},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{432,315},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{432,420},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{108,0},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{108,105},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{0,210},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{216,0},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{108,210},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{216,105},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,103}</string>
    <key>spriteSourceSize</key>
    <string>{106,103}</string>
    <key>textureRect</key>
    <string>{{216,210},{106,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{540,525}</string>
   <key>textureFileName</key>
   <string>anim_symbol_1.png</string>
  </dict>
 </dict>
</plist>
