<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jellyfish_small_0010</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0011</key>
			<dict>
				<key>frame</key>
				<string>{{93,1},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0012</key>
			<dict>
				<key>frame</key>
				<string>{{185,1},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0013</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0014</key>
			<dict>
				<key>frame</key>
				<string>{{369,1},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0015</key>
			<dict>
				<key>frame</key>
				<string>{{1,108},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0016</key>
			<dict>
				<key>frame</key>
				<string>{{93,108},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0017</key>
			<dict>
				<key>frame</key>
				<string>{{185,108},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0018</key>
			<dict>
				<key>frame</key>
				<string>{{277,108},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0019</key>
			<dict>
				<key>frame</key>
				<string>{{369,108},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0020</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0021</key>
			<dict>
				<key>frame</key>
				<string>{{93,215},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0022</key>
			<dict>
				<key>frame</key>
				<string>{{185,215},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0023</key>
			<dict>
				<key>frame</key>
				<string>{{277,215},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0024</key>
			<dict>
				<key>frame</key>
				<string>{{369,215},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0025</key>
			<dict>
				<key>frame</key>
				<string>{{1,322},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0026</key>
			<dict>
				<key>frame</key>
				<string>{{93,322},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0027</key>
			<dict>
				<key>frame</key>
				<string>{{185,322},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0028</key>
			<dict>
				<key>frame</key>
				<string>{{277,322},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0029</key>
			<dict>
				<key>frame</key>
				<string>{{369,322},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0030</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0031</key>
			<dict>
				<key>frame</key>
				<string>{{93,429},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0032</key>
			<dict>
				<key>frame</key>
				<string>{{185,429},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0033</key>
			<dict>
				<key>frame</key>
				<string>{{277,429},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0034</key>
			<dict>
				<key>frame</key>
				<string>{{369,429},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0035</key>
			<dict>
				<key>frame</key>
				<string>{{1,536},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0036</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0037</key>
			<dict>
				<key>frame</key>
				<string>{{1,750},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0038</key>
			<dict>
				<key>frame</key>
				<string>{{1,857},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0039</key>
			<dict>
				<key>frame</key>
				<string>{{93,536},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0040</key>
			<dict>
				<key>frame</key>
				<string>{{185,536},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0041</key>
			<dict>
				<key>frame</key>
				<string>{{277,536},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0042</key>
			<dict>
				<key>frame</key>
				<string>{{369,536},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0043</key>
			<dict>
				<key>frame</key>
				<string>{{93,643},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0044</key>
			<dict>
				<key>frame</key>
				<string>{{93,750},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0045</key>
			<dict>
				<key>frame</key>
				<string>{{93,857},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0046</key>
			<dict>
				<key>frame</key>
				<string>{{185,643},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0047</key>
			<dict>
				<key>frame</key>
				<string>{{277,643},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
			<key>jellyfish_small_0048</key>
			<dict>
				<key>frame</key>
				<string>{{369,643},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jelly_fish.png</string>
			<key>realTextureFileName</key>
			<string>jelly_fish.png</string>
			<key>size</key>
			<string>{460,963}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>460</integer>
			<key>height</key>
			<integer>963</integer>
		</dict>
	</dict>
</plist>