<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>loading-icon_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,80}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,0},{80,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{164,0},{80,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,77}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{244,81},{80,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{82,0},{80,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{78,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{82,162},{78,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,82},{80,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,77}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,163},{80,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{78,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{164,81},{78,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{78,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{162,162},{78,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{78,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{246,0},{78,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>loading-icon_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{82,81},{80,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{326,243}</string>
   <key>textureFileName</key>
   <string>loading-icon.png</string>
  </dict>
 </dict>
</plist>
