<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_2_1_price</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{187,118}</string>
    <key>spriteSourceSize</key>
    <string>{187,118}</string>
    <key>textureRect</key>
    <string>{{909,154},{187,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_2_price</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,172}</string>
    <key>spriteSourceSize</key>
    <string>{109,172}</string>
    <key>textureRect</key>
    <string>{{973,334},{109,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_3_price</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,172}</string>
    <key>spriteSourceSize</key>
    <string>{109,172}</string>
    <key>textureRect</key>
    <string>{{973,508},{109,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_aim</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,152}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{909,0},{152,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_aim-pressed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,152}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{819,334},{152,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_arrow</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{65,148}</string>
    <key>spriteSourceSize</key>
    <string>{65,152}</string>
    <key>textureRect</key>
    <string>{{1063,0},{65,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_box-multiplier</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,92}</string>
    <key>spriteSourceSize</key>
    <string>{132,92}</string>
    <key>textureRect</key>
    <string>{{1002,817},{132,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_box-total-bet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,92}</string>
    <key>spriteSourceSize</key>
    <string>{134,92}</string>
    <key>textureRect</key>
    <string>{{1002,723},{134,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_box-totalwin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{242,147}</string>
    <key>spriteSourceSize</key>
    <string>{242,147}</string>
    <key>textureRect</key>
    <string>{{575,334},{242,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,38}</string>
    <key>spriteSourceSize</key>
    <string>{55,38}</string>
    <key>textureRect</key>
    <string>{{575,483},{55,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_instruction</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{848,146}</string>
    <key>spriteSourceSize</key>
    <string>{852,146}</string>
    <key>textureRect</key>
    <string>{{0,575},{848,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{332,332}</string>
    <key>spriteSourceSize</key>
    <string>{332,332}</string>
    <key>textureRect</key>
    <string>{{575,0},{332,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{573,573}</string>
    <key>spriteSourceSize</key>
    <string>{573,573}</string>
    <key>textureRect</key>
    <string>{{0,0},{573,573}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{332,332}</string>
    <key>spriteSourceSize</key>
    <string>{332,332}</string>
    <key>textureRect</key>
    <string>{{0,723},{332,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{332,332}</string>
    <key>spriteSourceSize</key>
    <string>{332,332}</string>
    <key>textureRect</key>
    <string>{{334,723},{332,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{332,332}</string>
    <key>spriteSourceSize</key>
    <string>{332,332}</string>
    <key>textureRect</key>
    <string>{{668,723},{332,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1138,1057}</string>
   <key>textureFileName</key>
   <string>bonus_stage2_symbols.png</string>
  </dict>
 </dict>
</plist>
