<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>feature_unlocked_info-daily-challenge</key>
   <dict>
    <key>frame</key>
    <string>{{0,265},{270,272}}</string>
    <key>offset</key>
    <string>{0,-19}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{270,310}</string>
   </dict>
   <key>feature_unlocked_info-pay-line</key>
   <dict>
    <key>frame</key>
    <string>{{272,265},{298,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{298,185}</string>
   </dict>
   <key>feature_unlocked_info-piggy-bank</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{324,263}}</string>
    <key>offset</key>
    <string>{1,-10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{326,283}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>feature_unlocked.png</string>
  </dict>
 </dict>
</plist>
