<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_freespin_bonus_jellyfish_idle_001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{0,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0010</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{540,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0011</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{135,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0012</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{270,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0013</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{540,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0014</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{405,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0015</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{675,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0016</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{675,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0017</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{540,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0018</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{0,804},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0019</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{810,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{135,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0020</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{135,804},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0021</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{270,804},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0022</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{810,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0023</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{675,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0024</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{405,804},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0025</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{945,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0026</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{540,804},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0027</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{810,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0028</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{945,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0029</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{675,804},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{0,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0030</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{945,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{270,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_005</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{135,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_006</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{270,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_007</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{405,0},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_008</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{405,268},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_009</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,266}</string>
    <key>spriteSourceSize</key>
    <string>{133,266}</string>
    <key>textureRect</key>
    <string>{{0,536},{133,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1080,1072}</string>
   <key>textureFileName</key>
   <string>bonus_freespin_fish.png</string>
  </dict>
 </dict>
</plist>
