<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_basket</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,67}</string>
    <key>spriteSourceSize</key>
    <string>{192,67}</string>
    <key>textureRect</key>
    <string>{{0,439},{192,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_btn_collect-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{238,92}</string>
    <key>spriteSourceSize</key>
    <string>{238,92}</string>
    <key>textureRect</key>
    <string>{{386,329},{238,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_btn_collect-start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{238,92}</string>
    <key>spriteSourceSize</key>
    <string>{238,92}</string>
    <key>textureRect</key>
    <string>{{386,423},{238,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_current-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{173,142}</string>
    <key>spriteSourceSize</key>
    <string>{173,142}</string>
    <key>textureRect</key>
    <string>{{211,329},{173,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_golden-egg-option</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{131,154}</string>
    <key>spriteSourceSize</key>
    <string>{131,154}</string>
    <key>textureRect</key>
    <string>{{485,0},{131,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_golden-egg-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,123}</string>
    <key>spriteSourceSize</key>
    <string>{201,123}</string>
    <key>textureRect</key>
    <string>{{211,204},{201,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_golden-egg-start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,123}</string>
    <key>spriteSourceSize</key>
    <string>{201,123}</string>
    <key>textureRect</key>
    <string>{{0,314},{201,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_guess-the-next-egg-laid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{483,58}</string>
    <key>spriteSourceSize</key>
    <string>{483,58}</string>
    <key>textureRect</key>
    <string>{{0,0},{483,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_normal-egg-option</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,148}</string>
    <key>spriteSourceSize</key>
    <string>{129,148}</string>
    <key>textureRect</key>
    <string>{{485,156},{129,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_normal-egg-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{209,125}</string>
    <key>spriteSourceSize</key>
    <string>{209,125}</string>
    <key>textureRect</key>
    <string>{{0,60},{209,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_normal-egg-start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{209,125}</string>
    <key>spriteSourceSize</key>
    <string>{209,125}</string>
    <key>textureRect</key>
    <string>{{0,187},{209,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_potential-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,142}</string>
    <key>spriteSourceSize</key>
    <string>{176,142}</string>
    <key>textureRect</key>
    <string>{{211,60},{176,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{626,517}</string>
   <key>textureFileName</key>
   <string>double_up.png</string>
  </dict>
 </dict>
</plist>
