<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_basket</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{154,54}</string>
    <key>spriteSourceSize</key>
    <string>{154,54}</string>
    <key>textureRect</key>
    <string>{{328,163},{154,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_btn_collect-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{187,71}</string>
    <key>spriteSourceSize</key>
    <string>{191,74}</string>
    <key>textureRect</key>
    <string>{{305,262},{187,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_btn_collect-start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{187,71}</string>
    <key>spriteSourceSize</key>
    <string>{191,74}</string>
    <key>textureRect</key>
    <string>{{167,377},{187,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_current-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{136,113}</string>
    <key>spriteSourceSize</key>
    <string>{138,114}</string>
    <key>textureRect</key>
    <string>{{167,262},{136,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_golden-egg-option</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,124}</string>
    <key>spriteSourceSize</key>
    <string>{105,124}</string>
    <key>textureRect</key>
    <string>{{0,345},{105,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_golden-egg-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{159,97}</string>
    <key>spriteSourceSize</key>
    <string>{161,99}</string>
    <key>textureRect</key>
    <string>{{167,163},{159,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_golden-egg-start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{159,97}</string>
    <key>spriteSourceSize</key>
    <string>{161,99}</string>
    <key>textureRect</key>
    <string>{{0,246},{159,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_guess-the-next-egg-laid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{387,46}</string>
    <key>spriteSourceSize</key>
    <string>{387,46}</string>
    <key>textureRect</key>
    <string>{{0,0},{387,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_normal-egg-option</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,119}</string>
    <key>spriteSourceSize</key>
    <string>{103,119}</string>
    <key>textureRect</key>
    <string>{{389,0},{103,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_normal-egg-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{165,97}</string>
    <key>spriteSourceSize</key>
    <string>{167,100}</string>
    <key>textureRect</key>
    <string>{{0,48},{165,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_normal-egg-start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{165,97}</string>
    <key>spriteSourceSize</key>
    <string>{167,100}</string>
    <key>textureRect</key>
    <string>{{0,147},{165,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_potential-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{141,113}</string>
    <key>spriteSourceSize</key>
    <string>{141,114}</string>
    <key>textureRect</key>
    <string>{{167,48},{141,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{494,471}</string>
   <key>textureFileName</key>
   <string>double_up.png</string>
  </dict>
 </dict>
</plist>
