<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol5_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{452,588},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{160,152},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{0,304},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{320,0},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{160,304},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{158,146}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{480,0},{158,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,149}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{320,303},{158,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{156,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{0,456},{156,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{158,456},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,0}</string>
    <key>spriteSize</key>
    <string>{142,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{480,148},{142,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,0}</string>
    <key>spriteSize</key>
    <string>{140,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{310,456},{140,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{574,588},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-4}</string>
    <key>spriteSize</key>
    <string>{144,135}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{480,300},{144,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{0,0},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,149}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{320,152},{158,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{132,123}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{590,456},{132,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-4}</string>
    <key>spriteSize</key>
    <string>{136,130}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{452,456},{136,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{0,152},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol5_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,150}</string>
    <key>spriteSourceSize</key>
    <string>{158,150}</string>
    <key>textureRect</key>
    <string>{{160,0},{158,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{724,701}</string>
   <key>textureFileName</key>
   <string>anim_symbol_5.png</string>
  </dict>
 </dict>
</plist>
