<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol1_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,10}</string>
    <key>spriteSize</key>
    <string>{121,110}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{248,503},{121,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,9}</string>
    <key>spriteSize</key>
    <string>{125,111}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{369,376},{125,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,10}</string>
    <key>spriteSize</key>
    <string>{123,110}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{123,503},{123,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,10}</string>
    <key>spriteSize</key>
    <string>{123,110}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{492,253},{123,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{121,123}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{246,129},{121,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,4}</string>
    <key>spriteSize</key>
    <string>{121,122}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{0,384},{121,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{121,124}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{0,132},{121,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,4}</string>
    <key>spriteSize</key>
    <string>{121,122}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{369,129},{121,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{121,123}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{123,255},{121,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,4}</string>
    <key>spriteSize</key>
    <string>{121,121}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{246,379},{121,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{121,124}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{123,129},{121,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,10}</string>
    <key>spriteSize</key>
    <string>{121,110}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{371,503},{121,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{121,124}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{248,0},{121,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{121,123}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{246,254},{121,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{121,124}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{0,258},{121,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{121,130}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{0,0},{121,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,10}</string>
    <key>spriteSize</key>
    <string>{121,110}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{494,503},{121,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,4}</string>
    <key>spriteSize</key>
    <string>{121,121}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{123,380},{121,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,4}</string>
    <key>spriteSize</key>
    <string>{121,121}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{369,253},{121,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,6}</string>
    <key>spriteSize</key>
    <string>{121,117}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{494,120},{121,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,6}</string>
    <key>spriteSize</key>
    <string>{121,118}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{494,0},{121,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,4}</string>
    <key>spriteSize</key>
    <string>{121,122}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{371,0},{121,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol1_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,1}</string>
    <key>spriteSize</key>
    <string>{123,127}</string>
    <key>spriteSourceSize</key>
    <string>{127,130}</string>
    <key>textureRect</key>
    <string>{{123,0},{123,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{617,615}</string>
   <key>textureFileName</key>
   <string>anim_symbol_1.png</string>
  </dict>
 </dict>
</plist>
