<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol10_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-16}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{375,236},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{123,137}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{125,0},{123,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{123,130}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{125,139},{123,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{123,125}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{250,0},{123,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{123,124}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{0,280},{123,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{123,120}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{250,127},{123,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{123,119}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{125,271},{123,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-13}</string>
    <key>spriteSize</key>
    <string>{123,117}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{250,249},{123,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-14}</string>
    <key>spriteSize</key>
    <string>{123,116}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{375,0},{123,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-14}</string>
    <key>spriteSize</key>
    <string>{123,116}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{375,118},{123,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-14}</string>
    <key>spriteSize</key>
    <string>{123,116}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{0,406},{123,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-16}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{250,368},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-15}</string>
    <key>spriteSize</key>
    <string>{123,114}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{125,392},{123,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-16}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{375,349},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-16}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{496,236},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-16}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{375,462},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-16}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{496,349},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-16}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{496,462},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{123,132}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{0,146},{123,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol10_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{123,144}</string>
    <key>spriteSourceSize</key>
    <string>{123,144}</string>
    <key>textureRect</key>
    <string>{{0,0},{123,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{617,575}</string>
   <key>textureFileName</key>
   <string>anim_symbol_10.png</string>
  </dict>
 </dict>
</plist>
