<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol8_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-23}</string>
    <key>spriteSize</key>
    <string>{119,110}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{0,619},{119,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-7}</string>
    <key>spriteSize</key>
    <string>{135,141}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{447,305},{135,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-7}</string>
    <key>spriteSize</key>
    <string>{141,142}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{149,470},{141,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{147,143}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{0,474},{147,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,155}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{298,158},{147,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{147,152}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{149,316},{147,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{147,150}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{447,153},{147,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{147,151}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{447,0},{147,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{147,152}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{298,315},{147,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,156}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{0,0},{147,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,156}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{149,0},{147,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-23}</string>
    <key>spriteSize</key>
    <string>{119,110}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{570,582},{119,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,156}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{0,158},{147,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,156}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{149,158},{147,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,156}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{298,0},{147,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,156}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{0,316},{147,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-22}</string>
    <key>spriteSize</key>
    <string>{119,111}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{149,614},{119,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-19}</string>
    <key>spriteSize</key>
    <string>{119,118}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{292,611},{119,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-15}</string>
    <key>spriteSize</key>
    <string>{119,125}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{584,305},{119,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-14}</string>
    <key>spriteSize</key>
    <string>{121,128}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{447,582},{121,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-13}</string>
    <key>spriteSize</key>
    <string>{123,129}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{574,448},{123,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-12}</string>
    <key>spriteSize</key>
    <string>{125,132}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{447,448},{125,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-8}</string>
    <key>spriteSize</key>
    <string>{131,139}</string>
    <key>spriteSourceSize</key>
    <string>{147,156}</string>
    <key>textureRect</key>
    <string>{{292,470},{131,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{705,731}</string>
   <key>textureFileName</key>
   <string>anim_symbol_8.png</string>
  </dict>
 </dict>
</plist>
