<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol4_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-13}</string>
    <key>spriteSize</key>
    <string>{118,110}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{122,531},{118,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{134,131}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{0,138},{134,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{136,136}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{0,0},{136,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{130,136}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{138,0},{130,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{120,131}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{0,271},{120,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{120,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{122,271},{120,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{244,271},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{402,0},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{0,404},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{122,401},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{402,130},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-13}</string>
    <key>spriteSize</key>
    <string>{118,110}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{484,271},{118,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{364,271},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{242,401},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{522,0},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{522,130},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{118,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{362,401},{118,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-13}</string>
    <key>spriteSize</key>
    <string>{118,110}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{242,531},{118,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-13}</string>
    <key>spriteSize</key>
    <string>{118,110}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{484,383},{118,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-13}</string>
    <key>spriteSize</key>
    <string>{118,110}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{362,531},{118,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-13}</string>
    <key>spriteSize</key>
    <string>{118,110}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{484,495},{118,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-8}</string>
    <key>spriteSize</key>
    <string>{128,119}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{270,126},{128,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-6}</string>
    <key>spriteSize</key>
    <string>{130,124}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{270,0},{130,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol4_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{130,127}</string>
    <key>spriteSourceSize</key>
    <string>{140,136}</string>
    <key>textureRect</key>
    <string>{{136,138},{130,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{642,643}</string>
   <key>textureFileName</key>
   <string>anim_symbol_4.png</string>
  </dict>
 </dict>
</plist>
