<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol9_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,8}</string>
    <key>spriteSize</key>
    <string>{118,111}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{614,0},{118,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{148,149}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{0,613},{148,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{0,461},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{462,0},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{462,152},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{154,462},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,151}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{308,305},{150,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{152,150}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{308,153},{152,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,151}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{308,0},{152,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,151}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{0,308},{152,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,152}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{154,308},{150,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{138,143}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{596,609},{138,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,152}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{0,0},{152,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,152}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{154,0},{152,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,152}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{0,154},{152,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,152}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{154,154},{152,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{138,144}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{606,458},{138,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{142,146}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{308,609},{142,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{142,144}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{452,609},{142,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{146,147}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{458,458},{146,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{148,149}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{460,305},{148,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{154,614},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{148,149}</string>
    <key>spriteSourceSize</key>
    <string>{152,152}</string>
    <key>textureRect</key>
    <string>{{308,458},{148,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{746,764}</string>
   <key>textureFileName</key>
   <string>anim_symbol_9.png</string>
  </dict>
 </dict>
</plist>
