<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol3_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{0,495},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,5}</string>
    <key>spriteSize</key>
    <string>{124,120}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{126,131},{124,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{130,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{128,261},{130,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,1}</string>
    <key>spriteSize</key>
    <string>{124,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{128,374},{124,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{126,117}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{0,261},{126,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{130,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{260,261},{130,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{130,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{378,0},{130,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{126,113}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{0,380},{126,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{498,487},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{120,112}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{502,113},{120,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{122,114}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{378,113},{122,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{120,112}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{128,487},{120,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-1}</string>
    <key>spriteSize</key>
    <string>{124,120}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{252,0},{124,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{124,126}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{0,133},{124,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{124,129}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{126,0},{124,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{124,131}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{0,0},{124,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{376,374},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{254,489},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{376,487},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{122,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{392,261},{122,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{120,113}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{254,374},{120,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{120,111}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{498,374},{120,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol3_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{124,117}</string>
    <key>spriteSourceSize</key>
    <string>{130,131}</string>
    <key>textureRect</key>
    <string>{{252,122},{124,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{624,608}</string>
   <key>textureFileName</key>
   <string>anim_symbol_3.png</string>
  </dict>
 </dict>
</plist>
