<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol2_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,16}</string>
    <key>spriteSize</key>
    <string>{138,110}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{588,576},{138,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{516,144},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{160,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{172,432},{160,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{0,0},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{0,144},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{172,0},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{172,144},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{0,288},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{172,288},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{344,0},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{344,144},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,14}</string>
    <key>spriteSize</key>
    <string>{138,113}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{448,576},{138,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{0,432},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{344,288},{170,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,9}</string>
    <key>spriteSize</key>
    <string>{140,123}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{306,576},{140,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,6}</string>
    <key>spriteSize</key>
    <string>{152,129}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{0,576},{152,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,4}</string>
    <key>spriteSize</key>
    <string>{154,133}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{334,432},{154,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,5}</string>
    <key>spriteSize</key>
    <string>{150,131}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{516,288},{150,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,5}</string>
    <key>spriteSize</key>
    <string>{150,131}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{490,432},{150,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,6}</string>
    <key>spriteSize</key>
    <string>{150,130}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{154,576},{150,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol2_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{170,142}</string>
    <key>textureRect</key>
    <string>{{516,0},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{738,708}</string>
   <key>textureFileName</key>
   <string>anim_symbol_2.png</string>
  </dict>
 </dict>
</plist>
