<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Bonus-01-weaponExplodeEffects_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,41}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{468,162},{42,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,14}</string>
    <key>spriteSize</key>
    <string>{172,153}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{426,389},{172,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,11}</string>
    <key>spriteSize</key>
    <string>{174,153}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{426,234},{174,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,4}</string>
    <key>spriteSize</key>
    <string>{88,136}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{602,234},{88,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,15}</string>
    <key>spriteSize</key>
    <string>{96,116}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{602,372},{96,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,5}</string>
    <key>spriteSize</key>
    <string>{108,105}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{232,610},{108,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,6}</string>
    <key>spriteSize</key>
    <string>{118,115}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{596,544},{118,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-2}</string>
    <key>spriteSize</key>
    <string>{198,190}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{0,465},{198,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{232,232}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{0,0},{232,232}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{232,231}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{234,0},{232,231}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{230,229}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{0,234},{230,229}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,1}</string>
    <key>spriteSize</key>
    <string>{192,205}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{232,234},{192,205}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,9}</string>
    <key>spriteSize</key>
    <string>{168,160}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{468,0},{168,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,8}</string>
    <key>spriteSize</key>
    <string>{158,167}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{232,441},{158,167}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,17}</string>
    <key>spriteSize</key>
    <string>{168,150}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{426,544},{168,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{716,717}</string>
   <key>textureFileName</key>
   <string>explosion.png</string>
  </dict>
 </dict>
</plist>
