<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_freespin_bg_bonus_freespin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,720}</string>
    <key>spriteSourceSize</key>
    <string>{1280,720}</string>
    <key>textureRect</key>
    <string>{{0,0},{1280,720}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_gold-egg-option</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{131,154}</string>
    <key>spriteSourceSize</key>
    <string>{131,154}</string>
    <key>textureRect</key>
    <string>{{490,722},{131,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_text_bonus_fs</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{488,88}</string>
    <key>spriteSourceSize</key>
    <string>{488,88}</string>
    <key>textureRect</key>
    <string>{{0,722},{488,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1282,878}</string>
   <key>textureFileName</key>
   <string>bonus_symbols.png</string>
  </dict>
 </dict>
</plist>
