<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_btn_spin_hover</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{76,40}</string>
    <key>spriteSourceSize</key>
    <string>{76,43}</string>
    <key>textureRect</key>
    <string>{{219,104},{76,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_btn_spin_normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{72,35}</string>
    <key>spriteSourceSize</key>
    <string>{76,43}</string>
    <key>textureRect</key>
    <string>{{219,146},{72,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_needle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,28}</string>
    <key>spriteSize</key>
    <string>{51,102}</string>
    <key>spriteSourceSize</key>
    <string>{217,217}</string>
    <key>textureRect</key>
    <string>{{219,0},{51,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_text_bonus_fs</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{476,37}</string>
    <key>spriteSourceSize</key>
    <string>{492,49}</string>
    <key>textureRect</key>
    <string>{{0,219},{476,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_wheel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,217}</string>
    <key>spriteSourceSize</key>
    <string>{217,217}</string>
    <key>textureRect</key>
    <string>{{0,0},{217,217}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{478,258}</string>
   <key>textureFileName</key>
   <string>bonus_symbols.png</string>
  </dict>
 </dict>
</plist>
