<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{564,649},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{309,133},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{344,0},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{282,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{0,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{94,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{403,133},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{188,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{438,0},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{376,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{282,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{376,777},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{497,133},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{0,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{94,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{532,0},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{470,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{376,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{188,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{282,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{591,133},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{470,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{470,777},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{564,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{626,0},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{376,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_33</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{0,649},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_34</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{94,649},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_35</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{188,649},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_36</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{564,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_37</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{685,133},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_38</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{470,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_39</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{282,649},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{121,133},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_40</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{658,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_41</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{720,0},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_42</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{376,649},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_43</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{658,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_44</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{564,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_45</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{0,777},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_46</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{94,777},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_47</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{752,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{188,777},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_49</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{470,649},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{250,0},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_50</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{282,777},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_51</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{658,521},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_52</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{752,393},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{215,133},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{0,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{94,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,126}</string>
    <key>spriteSourceSize</key>
    <string>{92,126}</string>
    <key>textureRect</key>
    <string>{{188,265},{92,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_Card2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,130}</string>
    <key>spriteSourceSize</key>
    <string>{119,130}</string>
    <key>textureRect</key>
    <string>{{0,133},{119,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_Card3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,118}</string>
    <key>spriteSourceSize</key>
    <string>{88,118}</string>
    <key>textureRect</key>
    <string>{{752,521},{88,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_Card4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,126}</string>
    <key>spriteSourceSize</key>
    <string>{109,126}</string>
    <key>textureRect</key>
    <string>{{139,0},{109,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_Card5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{137,131}</string>
    <key>spriteSourceSize</key>
    <string>{137,131}</string>
    <key>textureRect</key>
    <string>{{0,0},{137,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_Dealer</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{160,56}</string>
    <key>spriteSourceSize</key>
    <string>{160,56}</string>
    <key>textureRect</key>
    <string>{{564,777},{160,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_Player</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,56}</string>
    <key>spriteSourceSize</key>
    <string>{162,56}</string>
    <key>textureRect</key>
    <string>{{658,649},{162,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_choose_option</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{208,20}</string>
    <key>spriteSourceSize</key>
    <string>{242,37}</string>
    <key>textureRect</key>
    <string>{{0,905},{208,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_collect-off</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{116,23}</string>
    <key>spriteSourceSize</key>
    <string>{134,60}</string>
    <key>textureRect</key>
    <string>{{726,777},{116,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_collect-on</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{116,24}</string>
    <key>spriteSourceSize</key>
    <string>{134,60}</string>
    <key>textureRect</key>
    <string>{{564,883},{116,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_dealer_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{89,22}</string>
    <key>spriteSourceSize</key>
    <string>{95,23}</string>
    <key>textureRect</key>
    <string>{{682,883},{89,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_double-off</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{100,23}</string>
    <key>spriteSourceSize</key>
    <string>{134,60}</string>
    <key>textureRect</key>
    <string>{{726,802},{100,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_double-on</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{100,24}</string>
    <key>spriteSourceSize</key>
    <string>{134,60}</string>
    <key>textureRect</key>
    <string>{{666,835},{100,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_doubleHalf-off</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{100,46}</string>
    <key>spriteSourceSize</key>
    <string>{134,60}</string>
    <key>textureRect</key>
    <string>{{564,835},{100,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_doubleHalf-on</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{100,47}</string>
    <key>spriteSourceSize</key>
    <string>{134,60}</string>
    <key>textureRect</key>
    <string>{{658,707},{100,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_pick_card</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,20}</string>
    <key>spriteSourceSize</key>
    <string>{242,37}</string>
    <key>textureRect</key>
    <string>{{210,905},{126,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_you_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,22}</string>
    <key>spriteSourceSize</key>
    <string>{95,23}</string>
    <key>textureRect</key>
    <string>{{760,707},{67,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{846,927}</string>
   <key>textureFileName</key>
   <string>double_up_plist.png</string>
  </dict>
 </dict>
</plist>
