<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>doubleup_capture_doubleup_capture_1</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_10</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_11</key>
			<dict>
				<key>frame</key>
				<string>{{965,1},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_12</key>
			<dict>
				<key>frame</key>
				<string>{{1447,1},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_13</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_14</key>
			<dict>
				<key>frame</key>
				<string>{{483,273},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_15</key>
			<dict>
				<key>frame</key>
				<string>{{965,273},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_16</key>
			<dict>
				<key>frame</key>
				<string>{{1447,273},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_17</key>
			<dict>
				<key>frame</key>
				<string>{{1,545},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_18</key>
			<dict>
				<key>frame</key>
				<string>{{483,545},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_19</key>
			<dict>
				<key>frame</key>
				<string>{{965,545},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_2</key>
			<dict>
				<key>frame</key>
				<string>{{1447,545},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_20</key>
			<dict>
				<key>frame</key>
				<string>{{1,817},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_21</key>
			<dict>
				<key>frame</key>
				<string>{{483,817},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_22</key>
			<dict>
				<key>frame</key>
				<string>{{965,817},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_23</key>
			<dict>
				<key>frame</key>
				<string>{{1447,817},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_24</key>
			<dict>
				<key>frame</key>
				<string>{{1,1089},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_3</key>
			<dict>
				<key>frame</key>
				<string>{{1,1361},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_4</key>
			<dict>
				<key>frame</key>
				<string>{{1,1633},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_5</key>
			<dict>
				<key>frame</key>
				<string>{{483,1089},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_6</key>
			<dict>
				<key>frame</key>
				<string>{{965,1089},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_7</key>
			<dict>
				<key>frame</key>
				<string>{{1447,1089},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_8</key>
			<dict>
				<key>frame</key>
				<string>{{483,1361},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
			<key>doubleup_capture_doubleup_capture_9</key>
			<dict>
				<key>frame</key>
				<string>{{483,1633},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>double_up_capture.png</string>
			<key>realTextureFileName</key>
			<string>double_up_capture.png</string>
			<key>size</key>
			<string>{1928,1904}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1928</integer>
			<key>height</key>
			<integer>1904</integer>
		</dict>
	</dict>
</plist>