<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_bottom-bar</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{812,133}}</string>
    <key>offset</key>
    <string>{7,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{828,134}</string>
   </dict>
   <key>doubleup_bottom_bg_win_amount</key>
   <dict>
    <key>frame</key>
    <string>{{208,135},{166,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{166,50}</string>
   </dict>
   <key>doubleup_btn_capture</key>
   <dict>
    <key>frame</key>
    <string>{{0,135},{206,43}}</string>
    <key>offset</key>
    <string>{3,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{212,43}</string>
   </dict>
   <key>doubleup_btn_collect</key>
   <dict>
    <key>frame</key>
    <string>{{559,135},{151,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,35}</string>
   </dict>
   <key>doubleup_btn_escape</key>
   <dict>
    <key>frame</key>
    <string>{{376,135},{181,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{181,42}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>double_up_symbols.png</string>
  </dict>
 </dict>
</plist>
