<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Ui_Nezha_idle_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{0,0},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{407,0},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{814,1084},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{1628,0},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{1221,1084},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{1628,542},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{0,542},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{407,542},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{814,0},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{814,542},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{0,1084},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{407,1084},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{1221,0},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ui_Nezha_idle_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,540}</string>
    <key>spriteSourceSize</key>
    <string>{405,540}</string>
    <key>textureRect</key>
    <string>{{1221,542},{405,540}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2035,1626}</string>
   <key>textureFileName</key>
   <string>nezha_idle.png</string>
  </dict>
 </dict>
</plist>
