<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>doubleup_btn_collect</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{165,53}</string>
    <key>spriteSourceSize</key>
    <string>{165,53}</string>
    <key>textureRect</key>
    <string>{{728,578},{165,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_coin-head-disabled</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{112,113}</string>
    <key>spriteSourceSize</key>
    <string>{136,132}</string>
    <key>textureRect</key>
    <string>{{276,578},{112,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_coin-head-hover</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{136,132}</string>
    <key>spriteSourceSize</key>
    <string>{136,132}</string>
    <key>textureRect</key>
    <string>{{0,578},{136,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_coin-head-normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{112,113}</string>
    <key>spriteSourceSize</key>
    <string>{136,132}</string>
    <key>textureRect</key>
    <string>{{390,578},{112,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_coin-tail-disabled</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{110,113}</string>
    <key>spriteSourceSize</key>
    <string>{136,132}</string>
    <key>textureRect</key>
    <string>{{504,578},{110,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_coin-tail-hover</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{136,132}</string>
    <key>spriteSourceSize</key>
    <string>{136,132}</string>
    <key>textureRect</key>
    <string>{{138,578},{136,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_coin-tail-normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{110,113}</string>
    <key>spriteSourceSize</key>
    <string>{136,132}</string>
    <key>textureRect</key>
    <string>{{616,578},{110,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doubleup_double-up-bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1024,576}</string>
    <key>spriteSourceSize</key>
    <string>{1024,576}</string>
    <key>textureRect</key>
    <string>{{0,0},{1024,576}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1026,712}</string>
   <key>textureFileName</key>
   <string>double_up.png</string>
  </dict>
 </dict>
</plist>
