<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
  <key>eagle_animation0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{0,0},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{0,335},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{380,1005},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1140,0},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1140,335},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{760,1005},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1140,670},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{0,1340},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{380,1340},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1140,1005},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1520,0},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{760,1340},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{380,0},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1520,335},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1520,670},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{0,1675},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{380,1675},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1140,1340},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1520,1005},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{760,1675},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{1140,1675},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{380,335},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{0,670},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{760,0},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{380,670},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{760,335},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{0,1005},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>eagle_animation9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{378,333}</string>
    <key>spriteSourceSize</key>
    <string>{378,333}</string>
    <key>textureRect</key>
    <string>{{760,670},{378,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2048,2048}</string>
   <key>textureFileName</key>
   <string>freespin_eagle.png</string>
  </dict>
 </dict>
</plist>
