<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Dragon_ExpandingWild_action_HD_1</key>
   <dict>
    <key>frame</key>
    <string>{{1311,0},{111,112}}</string>
    <key>offset</key>
    <string>{0,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_10</key>
   <dict>
    <key>frame</key>
    <string>{{562,0},{279,361}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_11</key>
   <dict>
    <key>frame</key>
    <string>{{281,0},{279,364}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_12</key>
   <dict>
    <key>frame</key>
    <string>{{0,366},{279,364}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_13</key>
   <dict>
    <key>frame</key>
    <string>{{281,366},{279,364}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_14</key>
   <dict>
    <key>frame</key>
    <string>{{968,1078},{197,304}}</string>
    <key>offset</key>
    <string>{-21,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_2</key>
   <dict>
    <key>frame</key>
    <string>{{1211,1284},{137,165}}</string>
    <key>offset</key>
    <string>{-12,-17}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_3</key>
   <dict>
    <key>frame</key>
    <string>{{1211,1012},{217,270}}</string>
    <key>offset</key>
    <string>{-20,-47}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_4</key>
   <dict>
    <key>frame</key>
    <string>{{1211,732},{217,278}}</string>
    <key>offset</key>
    <string>{-8,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_5</key>
   <dict>
    <key>frame</key>
    <string>{{745,1078},{221,286}}</string>
    <key>offset</key>
    <string>{7,-39}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_6</key>
   <dict>
    <key>frame</key>
    <string>{{0,732},{279,339}}</string>
    <key>offset</key>
    <string>{0,-12}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_8</key>
   <dict>
    <key>frame</key>
    <string>{{562,363},{279,352}}</string>
    <key>offset</key>
    <string>{0,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_action_HD_9</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{279,364}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{279,364}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_0</key>
   <dict>
    <key>frame</key>
    <string>{{983,732},{226,342}}</string>
    <key>offset</key>
    <string>{-3,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_1</key>
   <dict>
    <key>frame</key>
    <string>{{0,1073},{232,342}}</string>
    <key>offset</key>
    <string>{-6,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_10</key>
   <dict>
    <key>frame</key>
    <string>{{1077,344},{232,341}}</string>
    <key>offset</key>
    <string>{-6,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_2</key>
   <dict>
    <key>frame</key>
    <string>{{843,346},{232,343}}</string>
    <key>offset</key>
    <string>{-6,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_3</key>
   <dict>
    <key>frame</key>
    <string>{{281,732},{232,344}}</string>
    <key>offset</key>
    <string>{-6,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_4</key>
   <dict>
    <key>frame</key>
    <string>{{843,0},{232,344}}</string>
    <key>offset</key>
    <string>{-6,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_5</key>
   <dict>
    <key>frame</key>
    <string>{{515,732},{232,344}}</string>
    <key>offset</key>
    <string>{-6,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_6</key>
   <dict>
    <key>frame</key>
    <string>{{749,732},{232,343}}</string>
    <key>offset</key>
    <string>{-6,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_7</key>
   <dict>
    <key>frame</key>
    <string>{{515,1078},{228,343}}</string>
    <key>offset</key>
    <string>{-4,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_8</key>
   <dict>
    <key>frame</key>
    <string>{{1077,0},{232,342}}</string>
    <key>offset</key>
    <string>{-6,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
   <key>Dragon_ExpandingWild_idle_HD_9</key>
   <dict>
    <key>frame</key>
    <string>{{281,1078},{232,341}}</string>
    <key>offset</key>
    <string>{-6,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{244,379}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>dragon_wild.png</string>
  </dict>
 </dict>
</plist>
