<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Freespin-DragonBody</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,135}</string>
    <key>spriteSize</key>
    <string>{545,277}</string>
    <key>spriteSourceSize</key>
    <string>{547,547}</string>
    <key>textureRect</key>
    <string>{{0,0},{545,277}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Freespin-DragonBody2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{33,0}</string>
    <key>spriteSize</key>
    <string>{208,274}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{0,279},{208,274}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Freespin-DragonHead</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,49}</string>
    <key>spriteSize</key>
    <string>{274,175}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{210,279},{274,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{547,555}</string>
   <key>textureFileName</key>
   <string>dragon.png</string>
  </dict>
 </dict>
</plist>
