<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,30}</string>
    <key>spriteSourceSize</key>
    <string>{72,30}</string>
    <key>textureRect</key>
    <string>{{464,219},{72,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{230,315}</string>
    <key>spriteSourceSize</key>
    <string>{230,315}</string>
    <key>textureRect</key>
    <string>{{0,0},{230,315}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>box-freespins-bonus</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{93,73}</string>
    <key>spriteSourceSize</key>
    <string>{93,73}</string>
    <key>textureRect</key>
    <string>{{464,110},{93,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,34}</string>
    <key>spriteSourceSize</key>
    <string>{155,34}</string>
    <key>textureRect</key>
    <string>{{232,460},{155,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol-bonus-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-40}</string>
    <key>spriteSize</key>
    <string>{92,32}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{464,185},{92,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol-scatter-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-39}</string>
    <key>spriteSize</key>
    <string>{114,32}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{232,496},{114,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol-wild-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-41}</string>
    <key>spriteSize</key>
    <string>{58,29}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{464,251},{58,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{232,0},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{232,115},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{116,432},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{348,345},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,108}</string>
    <key>spriteSourceSize</key>
    <string>{113,108}</string>
    <key>textureRect</key>
    <string>{{464,0},{113,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{0,317},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{232,230},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{116,317},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{348,0},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{348,115},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{232,345},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{348,230},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{114,113}</string>
    <key>textureRect</key>
    <string>{{0,432},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{579,547}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
