<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_lady_idle_01</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_02</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_03</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_04</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_05</key>
			<dict>
				<key>frame</key>
				<string>{{263,0},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_06</key>
			<dict>
				<key>frame</key>
				<string>{{263,512},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_07</key>
			<dict>
				<key>frame</key>
				<string>{{263,1024},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_08</key>
			<dict>
				<key>frame</key>
				<string>{{263,1536},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_09</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_10</key>
			<dict>
				<key>frame</key>
				<string>{{526,512},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_11</key>
			<dict>
				<key>frame</key>
				<string>{{526,1024},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_12</key>
			<dict>
				<key>frame</key>
				<string>{{526,1536},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_13</key>
			<dict>
				<key>frame</key>
				<string>{{789,0},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_14</key>
			<dict>
				<key>frame</key>
				<string>{{789,512},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_15</key>
			<dict>
				<key>frame</key>
				<string>{{789,1024},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_16</key>
			<dict>
				<key>frame</key>
				<string>{{789,1536},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_17</key>
			<dict>
				<key>frame</key>
				<string>{{1052,0},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_18</key>
			<dict>
				<key>frame</key>
				<string>{{1315,0},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_19</key>
			<dict>
				<key>frame</key>
				<string>{{1578,0},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_20</key>
			<dict>
				<key>frame</key>
				<string>{{1052,512},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_21</key>
			<dict>
				<key>frame</key>
				<string>{{1052,1024},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_22</key>
			<dict>
				<key>frame</key>
				<string>{{1052,1536},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_23</key>
			<dict>
				<key>frame</key>
				<string>{{1315,512},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
			<key>ui_lady_idle_24</key>
			<dict>
				<key>frame</key>
				<string>{{1578,512},{263,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lady.png</string>
			<key>realTextureFileName</key>
			<string>lady.png</string>
			<key>size</key>
			<string>{1841,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1841</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>