<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_side_fly_bonus_side_fly_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-36}</string>
    <key>spriteSize</key>
    <string>{204,178}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{432,0},{204,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-36}</string>
    <key>spriteSize</key>
    <string>{204,178}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{432,0},{204,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-36}</string>
    <key>spriteSize</key>
    <string>{204,178}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{432,0},{204,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-36}</string>
    <key>spriteSize</key>
    <string>{204,178}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{432,180},{204,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-37}</string>
    <key>spriteSize</key>
    <string>{204,176}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{0,472},{204,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-39}</string>
    <key>spriteSize</key>
    <string>{206,172}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{208,442},{206,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-42}</string>
    <key>spriteSize</key>
    <string>{204,166}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{432,360},{204,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-45}</string>
    <key>spriteSize</key>
    <string>{204,159}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{432,528},{204,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-48}</string>
    <key>spriteSize</key>
    <string>{204,153}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{0,650},{204,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-42}</string>
    <key>spriteSize</key>
    <string>{204,165}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{208,616},{204,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-29}</string>
    <key>spriteSize</key>
    <string>{204,191}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{208,249},{204,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-14}</string>
    <key>spriteSize</key>
    <string>{206,221}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{0,249},{206,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{206,237}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{224,0},{206,237}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_side_fly_bonus_side_fly_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-1}</string>
    <key>spriteSize</key>
    <string>{222,247}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{0,0},{222,247}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{638,805}</string>
   <key>textureFileName</key>
   <string>bonus_anim_side.png</string>
  </dict>
 </dict>
</plist>
