<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_front_fly_bonus_front_fly_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-34}</string>
    <key>spriteSize</key>
    <string>{206,184}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{428,0},{206,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-34}</string>
    <key>spriteSize</key>
    <string>{206,183}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{0,488},{206,183}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-36}</string>
    <key>spriteSize</key>
    <string>{206,177}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{440,256},{206,177}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-40}</string>
    <key>spriteSize</key>
    <string>{206,170}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{220,472},{206,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-44}</string>
    <key>spriteSize</key>
    <string>{206,162}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{440,435},{206,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-46}</string>
    <key>spriteSize</key>
    <string>{206,157}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{220,644},{206,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-45}</string>
    <key>spriteSize</key>
    <string>{204,162}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{440,599},{204,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-18}</string>
    <key>spriteSize</key>
    <string>{218,214}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{220,256},{218,214}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-10}</string>
    <key>spriteSize</key>
    <string>{218,230}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{0,256},{218,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-5}</string>
    <key>spriteSize</key>
    <string>{218,240}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{208,0},{218,240}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_front_fly_bonus_front_fly_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,1}</string>
    <key>spriteSize</key>
    <string>{206,254}</string>
    <key>spriteSourceSize</key>
    <string>{240,268}</string>
    <key>textureRect</key>
    <string>{{0,0},{206,254}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{648,803}</string>
   <key>textureFileName</key>
   <string>bonus_anim_front.png</string>
  </dict>
 </dict>
</plist>
