<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol8_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol8_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{730,840}</string>
   <key>textureFileName</key>
   <string>anim_symbol_8.png</string>
  </dict>
 </dict>
</plist>
