<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol9_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,420},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,560},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{584,700},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,140},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol9_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,280},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{730,840}</string>
   <key>textureFileName</key>
   <string>anim_symbol_9.png</string>
  </dict>
 </dict>
</plist>
