<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>general_icon_crown-Slot</key>
   <dict>
    <key>frame</key>
    <string>{{0,56},{62,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,55}</string>
   </dict>
   <key>general_icon_input_field_bg</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{552,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{552,54}</string>
   </dict>
   <key>general_icon_red_notification</key>
   <dict>
    <key>frame</key>
    <string>{{205,56},{32,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{32,32}</string>
   </dict>
   <key>general_icon_stardom-bronze</key>
   <dict>
    <key>frame</key>
    <string>{{64,56},{45,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{45,40}</string>
   </dict>
   <key>general_icon_stardom-gold</key>
   <dict>
    <key>frame</key>
    <string>{{111,56},{45,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{45,40}</string>
   </dict>
   <key>general_icon_stardom-sliver</key>
   <dict>
    <key>frame</key>
    <string>{{158,56},{45,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{45,40}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>general_icon.png</string>
  </dict>
 </dict>
</plist>
