<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>header_bg-buy-coin</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{276,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{276,58}</string>
   </dict>
   <key>header_bg-buy-crown</key>
   <dict>
    <key>frame</key>
    <string>{{0,60},{284,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{284,51}</string>
   </dict>
   <key>header_friend</key>
   <dict>
    <key>frame</key>
    <string>{{67,168},{61,60}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{63,63}</string>
   </dict>
   <key>header_home</key>
   <dict>
    <key>frame</key>
    <string>{{130,168},{61,59}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{63,63}</string>
   </dict>
   <key>header_info</key>
   <dict>
    <key>frame</key>
    <string>{{227,174},{59,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{63,63}</string>
   </dict>
   <key>header_level</key>
   <dict>
    <key>frame</key>
    <string>{{0,113},{225,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{225,31}</string>
   </dict>
   <key>header_level_mask</key>
   <dict>
    <key>frame</key>
    <string>{{0,146},{213,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{213,20}</string>
   </dict>
   <key>header_setting</key>
   <dict>
    <key>frame</key>
    <string>{{227,113},{61,59}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{63,63}</string>
   </dict>
   <key>header_star_for_level_and_vip_header</key>
   <dict>
    <key>frame</key>
    <string>{{0,168},{65,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{65,61}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>header.png</string>
  </dict>
 </dict>
</plist>
