<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol8_1</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_10</key>
			<dict>
				<key>frame</key>
				<string>{{1,228},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_11</key>
			<dict>
				<key>frame</key>
				<string>{{1,455},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_12</key>
			<dict>
				<key>frame</key>
				<string>{{1,682},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_13</key>
			<dict>
				<key>frame</key>
				<string>{{1,909},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_14</key>
			<dict>
				<key>frame</key>
				<string>{{228,1},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_15</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_16</key>
			<dict>
				<key>frame</key>
				<string>{{682,1},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_17</key>
			<dict>
				<key>frame</key>
				<string>{{909,1},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_18</key>
			<dict>
				<key>frame</key>
				<string>{{228,228},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_19</key>
			<dict>
				<key>frame</key>
				<string>{{228,455},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_2</key>
			<dict>
				<key>frame</key>
				<string>{{228,682},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_20</key>
			<dict>
				<key>frame</key>
				<string>{{228,909},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_21</key>
			<dict>
				<key>frame</key>
				<string>{{455,228},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_22</key>
			<dict>
				<key>frame</key>
				<string>{{682,228},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_23</key>
			<dict>
				<key>frame</key>
				<string>{{909,228},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_24</key>
			<dict>
				<key>frame</key>
				<string>{{455,455},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_3</key>
			<dict>
				<key>frame</key>
				<string>{{455,682},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_4</key>
			<dict>
				<key>frame</key>
				<string>{{455,909},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_5</key>
			<dict>
				<key>frame</key>
				<string>{{682,455},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_6</key>
			<dict>
				<key>frame</key>
				<string>{{909,455},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_7</key>
			<dict>
				<key>frame</key>
				<string>{{682,682},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_8</key>
			<dict>
				<key>frame</key>
				<string>{{682,909},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>symbol8_9</key>
			<dict>
				<key>frame</key>
				<string>{{909,682},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_8.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_8.png</string>
			<key>size</key>
			<string>{1135,1135}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1135</integer>
			<key>height</key>
			<integer>1135</integer>
		</dict>
	</dict>
</plist>