<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,37}</string>
    <key>spriteSourceSize</key>
    <string>{89,37}</string>
    <key>textureRect</key>
    <string>{{195,538},{89,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{287,393}</string>
    <key>spriteSourceSize</key>
    <string>{287,393}</string>
    <key>textureRect</key>
    <string>{{0,0},{287,393}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>box-freespins-bonus</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{116,91}</string>
    <key>spriteSourceSize</key>
    <string>{116,91}</string>
    <key>textureRect</key>
    <string>{{579,426},{116,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,43}</string>
    <key>spriteSourceSize</key>
    <string>{193,43}</string>
    <key>textureRect</key>
    <string>{{0,538},{193,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol-bonus-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-51}</string>
    <key>spriteSize</key>
    <string>{115,39}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{579,561},{115,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol-scatter-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-50}</string>
    <key>spriteSize</key>
    <string>{143,40}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{579,519},{143,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol-wild-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-52}</string>
    <key>spriteSize</key>
    <string>{73,36}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{434,570},{73,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,141}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{289,0},{143,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,141}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{289,143},{143,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,140}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{579,284},{143,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,141}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{434,143},{143,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{141,134}</string>
    <key>spriteSourceSize</key>
    <string>{141,134}</string>
    <key>textureRect</key>
    <string>{{145,395},{141,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,140}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{289,429},{143,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,141}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{0,395},{143,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,140}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{434,286},{143,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,141}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{289,286},{143,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,140}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{579,0},{143,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,140}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{579,142},{143,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,141}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{434,0},{143,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,140}</string>
    <key>spriteSourceSize</key>
    <string>{143,141}</string>
    <key>textureRect</key>
    <string>{{434,428},{143,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{724,608}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
