<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>daily_challenge_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{854,495}</string>
    <key>spriteSourceSize</key>
    <string>{854,495}</string>
    <key>textureRect</key>
    <string>{{0,0},{854,495}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{644,497},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{738,497},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{620,790},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{856,528},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{714,790},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{876,662},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{808,790},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_collect_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{94,95}</string>
    <key>textureRect</key>
    <string>{{902,790},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_drop_down</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,26}</string>
    <key>spriteSourceSize</key>
    <string>{72,26}</string>
    <key>textureRect</key>
    <string>{{0,872},{72,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_big_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,4}</string>
    <key>spriteSize</key>
    <string>{130,127}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{856,142},{130,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_collect</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{164,130}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{0,740},{164,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_level_up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,5}</string>
    <key>spriteSize</key>
    <string>{140,126}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{320,740},{140,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_max_bet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,5}</string>
    <key>spriteSize</key>
    <string>{126,126}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{620,662},{126,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_mega_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,5}</string>
    <key>spriteSize</key>
    <string>{126,126}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{856,400},{126,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_receive_gift</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{126,127}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{462,740},{126,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_send_gift</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{126,140}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{856,0},{126,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_spin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{126,127}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{856,271},{126,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_total_bet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,5}</string>
    <key>spriteSize</key>
    <string>{126,126}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{748,662},{126,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_icon_total_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,3}</string>
    <key>spriteSize</key>
    <string>{152,132}</string>
    <key>spriteSourceSize</key>
    <string>{164,142}</string>
    <key>textureRect</key>
    <string>{{166,740},{152,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_bar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{351,17}</string>
    <key>spriteSourceSize</key>
    <string>{351,17}</string>
    <key>textureRect</key>
    <string>{{620,884},{351,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_bar_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{356,22}</string>
    <key>spriteSourceSize</key>
    <string>{356,22}</string>
    <key>textureRect</key>
    <string>{{166,874},{356,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{642,101}</string>
    <key>spriteSourceSize</key>
    <string>{642,101}</string>
    <key>textureRect</key>
    <string>{{0,497},{642,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_progress_full</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{618,76}</string>
    <key>spriteSourceSize</key>
    <string>{618,76}</string>
    <key>textureRect</key>
    <string>{{0,662},{618,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_challenge_row_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{815,60}</string>
    <key>spriteSourceSize</key>
    <string>{815,60}</string>
    <key>textureRect</key>
    <string>{{0,600},{815,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{996,903}</string>
   <key>textureFileName</key>
   <string>daily_challenge.png</string>
  </dict>
 </dict>
</plist>
