<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>win_effect_big_star_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{273,159}</string>
    <key>spriteSourceSize</key>
    <string>{273,159}</string>
    <key>textureRect</key>
    <string>{{306,213},{273,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{273,159}</string>
    <key>spriteSourceSize</key>
    <string>{273,159}</string>
    <key>textureRect</key>
    <string>{{306,374},{273,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{289,90}</string>
    <key>spriteSourceSize</key>
    <string>{289,90}</string>
    <key>textureRect</key>
    <string>{{540,770},{289,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{213,193}</string>
    <key>spriteSourceSize</key>
    <string>{213,193}</string>
    <key>textureRect</key>
    <string>{{545,0},{213,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{290,90}</string>
    <key>spriteSourceSize</key>
    <string>{290,90}</string>
    <key>textureRect</key>
    <string>{{540,678},{290,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{213,193}</string>
    <key>spriteSourceSize</key>
    <string>{213,193}</string>
    <key>textureRect</key>
    <string>{{0,569},{213,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_bigwin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{370,107}</string>
    <key>spriteSourceSize</key>
    <string>{370,107}</string>
    <key>textureRect</key>
    <string>{{215,569},{370,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_mega</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{280,112}</string>
    <key>spriteSourceSize</key>
    <string>{280,112}</string>
    <key>textureRect</key>
    <string>{{581,213},{280,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{137,89}</string>
    <key>spriteSourceSize</key>
    <string>{137,89}</string>
    <key>textureRect</key>
    <string>{{581,417},{137,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{137,89}</string>
    <key>spriteSourceSize</key>
    <string>{137,89}</string>
    <key>textureRect</key>
    <string>{{0,764},{137,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,56}</string>
    <key>spriteSourceSize</key>
    <string>{128,56}</string>
    <key>textureRect</key>
    <string>{{711,508},{128,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,94}</string>
    <key>spriteSourceSize</key>
    <string>{104,94}</string>
    <key>textureRect</key>
    <string>{{587,569},{104,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,94}</string>
    <key>spriteSourceSize</key>
    <string>{104,94}</string>
    <key>textureRect</key>
    <string>{{752,327},{104,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,59}</string>
    <key>spriteSourceSize</key>
    <string>{128,59}</string>
    <key>textureRect</key>
    <string>{{581,508},{128,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{304,176}</string>
    <key>spriteSourceSize</key>
    <string>{304,176}</string>
    <key>textureRect</key>
    <string>{{0,0},{304,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{304,176}</string>
    <key>spriteSourceSize</key>
    <string>{304,176}</string>
    <key>textureRect</key>
    <string>{{0,178},{304,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{323,99}</string>
    <key>spriteSourceSize</key>
    <string>{323,99}</string>
    <key>textureRect</key>
    <string>{{215,678},{323,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,211}</string>
    <key>spriteSourceSize</key>
    <string>{237,211}</string>
    <key>textureRect</key>
    <string>{{306,0},{237,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{323,99}</string>
    <key>spriteSourceSize</key>
    <string>{323,99}</string>
    <key>textureRect</key>
    <string>{{215,779},{323,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,211}</string>
    <key>spriteSourceSize</key>
    <string>{237,211}</string>
    <key>textureRect</key>
    <string>{{0,356},{237,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,88}</string>
    <key>spriteSourceSize</key>
    <string>{169,88}</string>
    <key>textureRect</key>
    <string>{{581,327},{169,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{863,880}</string>
   <key>textureFileName</key>
   <string>win_effect.png</string>
  </dict>
 </dict>
</plist>
