<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>header_bg-buy-coin</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{221,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{221,46}</string>
   </dict>
   <key>header_bg-buy-crown</key>
   <dict>
    <key>frame</key>
    <string>{{0,48},{228,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{228,41}</string>
   </dict>
   <key>header_friend</key>
   <dict>
    <key>frame</key>
    <string>{{0,135},{51,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{51,51}</string>
   </dict>
   <key>header_home</key>
   <dict>
    <key>frame</key>
    <string>{{107,135},{51,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{51,51}</string>
   </dict>
   <key>header_info</key>
   <dict>
    <key>frame</key>
    <string>{{182,142},{49,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{51,51}</string>
   </dict>
   <key>header_level</key>
   <dict>
    <key>frame</key>
    <string>{{0,91},{180,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,24}</string>
   </dict>
   <key>header_level_mask</key>
   <dict>
    <key>frame</key>
    <string>{{0,117},{170,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{170,16}</string>
   </dict>
   <key>header_setting</key>
   <dict>
    <key>frame</key>
    <string>{{182,91},{51,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{51,51}</string>
   </dict>
   <key>header_star_for_level_and_vip_header</key>
   <dict>
    <key>frame</key>
    <string>{{53,135},{52,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{52,49}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>header.png</string>
  </dict>
 </dict>
</plist>
