<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol_frame_winVFX_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{0,0},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{202,0},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{0,606},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{202,606},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{606,202},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{404,606},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{606,404},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{808,0},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{0,808},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{202,808},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{808,202},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{606,606},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{0,202},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{404,808},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{808,404},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{606,808},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{808,606},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{808,808},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{202,202},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{404,0},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{0,404},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{202,404},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{404,202},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{404,404},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_frame_winVFX_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{606,0},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1010,1010}</string>
   <key>textureFileName</key>
   <string>frame_win.png</string>
  </dict>
 </dict>
</plist>
