<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>general_icon_crown-Slot</key>
   <dict>
    <key>frame</key>
    <string>{{0,70},{77,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{77,68}</string>
   </dict>
   <key>general_icon_input_field_bg</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{689,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{689,68}</string>
   </dict>
   <key>general_icon_red_notification</key>
   <dict>
    <key>frame</key>
    <string>{{256,70},{40,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>general_icon_stardom-bronze</key>
   <dict>
    <key>frame</key>
    <string>{{79,70},{57,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,50}</string>
   </dict>
   <key>general_icon_stardom-gold</key>
   <dict>
    <key>frame</key>
    <string>{{138,70},{57,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,50}</string>
   </dict>
   <key>general_icon_stardom-sliver</key>
   <dict>
    <key>frame</key>
    <string>{{197,70},{57,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,50}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>general_icon.png</string>
  </dict>
 </dict>
</plist>
