<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
  <key>bonus_side_fly_bonus_side_fly_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{0,0},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{0,0},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{0,0},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{300,0},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{0,334},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{300,334},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{600,0},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{0,668},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{600,334},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{300,668},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{600,668},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{900,0},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{900,334},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  <key>bonus_side_fly_bonus_side_fly_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,334}</string>
    <key>spriteSourceSize</key>
    <string>{300,334}</string>
    <key>textureRect</key>
    <string>{{900,668},{300,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1200,1002}</string>
   <key>textureFileName</key>
   <string>bonus_anim_side.png</string>
  </dict>
 </dict>
</plist>
