<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dailyBonusWheel_bg-result</key>
   <dict>
    <key>frame</key>
    <string>{{0,641},{675,588}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{675,588}</string>
   </dict>
   <key>dailyBonusWheel_bg-wheel</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{639,639}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{639,639}</string>
   </dict>
   <key>dailyBonusWheel_btn_spin</key>
   <dict>
    <key>frame</key>
    <string>{{641,467},{164,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,165}</string>
   </dict>
   <key>dailyBonusWheel_spin_active_v_light</key>
   <dict>
    <key>frame</key>
    <string>{{677,641},{164,220}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,220}</string>
   </dict>
   <key>dailyBonusWheel_spin_icon_gear</key>
   <dict>
    <key>frame</key>
    <string>{{807,597},{24,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{24,42}</string>
   </dict>
   <key>dailyBonusWheel_star1</key>
   <dict>
    <key>frame</key>
    <string>{{807,467},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>dailyBonusWheel_starWhileLens</key>
   <dict>
    <key>frame</key>
    <string>{{937,467},{128,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,128}</string>
   </dict>
   <key>dailyBonusWheel_wheel_round_inner</key>
   <dict>
    <key>frame</key>
    <string>{{641,0},{465,465}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{465,465}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>dailyBonusWheel.png</string>
  </dict>
 </dict>
</plist>
