<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>coin_flare_animation_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,86}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{490,742},{87,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{231,212}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{259,427},{231,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{243,208}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{0,438},{243,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{251,216}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{259,0},{251,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{259,219}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{0,0},{259,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{257,219}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{0,219},{257,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{251,211}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{259,216},{251,211}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,86}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{577,742},{87,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,126}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{627,613},{127,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,152}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{338,646},{151,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{183,646},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{137,129}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{490,613},{137,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{183,182}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{0,646},{183,182}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{213,212}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{510,0},{213,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{211,210}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{510,212},{211,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,186}</string>
    <key>spriteSourceSize</key>
    <string>{273,234}</string>
    <key>textureRect</key>
    <string>{{490,427},{217,186}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{787,828}</string>
   <key>textureFileName</key>
   <string>coin_flare_animation.png</string>
  </dict>
 </dict>
</plist>
