<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>coin_animation_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{128,129}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{0,0},{128,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{128,116}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{130,130},{128,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{130,0},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{128,118}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{0,131},{128,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{128,100}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{260,0},{128,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{128,76}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{260,102},{128,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{128,46}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{260,180},{128,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{128,13}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{0,251},{128,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{128,45}</string>
    <key>spriteSourceSize</key>
    <string>{140,140}</string>
    <key>textureRect</key>
    <string>{{260,228},{128,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{390,275}</string>
   <key>textureFileName</key>
   <string>coin-animation.png</string>
  </dict>
 </dict>
</plist>
