<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>magic_item_100_win_noti_text</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{520,137}</string>
    <key>spriteSourceSize</key>
    <string>{524,139}</string>
    <key>textureRect</key>
    <string>{{0,0},{520,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_bg_double_exp_bar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,41}</string>
    <key>spriteSourceSize</key>
    <string>{198,41}</string>
    <key>textureRect</key>
    <string>{{298,417},{198,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_bg_noti_magic_item_pink</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,158}</string>
    <key>spriteSourceSize</key>
    <string>{150,158}</string>
    <key>textureRect</key>
    <string>{{0,417},{150,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_bg_noti_magic_item_yellow</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,144}</string>
    <key>spriteSourceSize</key>
    <string>{144,144}</string>
    <key>textureRect</key>
    <string>{{152,417},{144,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{522,163},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{522,163},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{522,313},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{302,563},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{448,460},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{377,563},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{523,460},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{452,563},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{527,563},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{298,460},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{522,238},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{0,577},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{75,577},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{152,563},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{373,460},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{595,0},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_double_exp_anim9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{227,563},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_flare_double_exp_bar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,83}</string>
    <key>spriteSourceSize</key>
    <string>{71,83}</string>
    <key>textureRect</key>
    <string>{{522,0},{71,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_lucky_spin_10_noti_text</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{520,137}</string>
    <key>spriteSourceSize</key>
    <string>{524,139}</string>
    <key>textureRect</key>
    <string>{{0,139},{520,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_lucky_spin_20_noti_text</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{520,137}</string>
    <key>spriteSourceSize</key>
    <string>{524,139}</string>
    <key>textureRect</key>
    <string>{{0,278},{520,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>magic_item_lucky_symbol_full_icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{75,76}</string>
    <key>textureRect</key>
    <string>{{522,85},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{670,652}</string>
   <key>textureFileName</key>
   <string>magic_item.png</string>
  </dict>
 </dict>
</plist>
