<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>shop_background</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{857,493}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{857,493}</string>
   </dict>
   <key>shop_bg_btn_buy_shop_booster</key>
   <dict>
    <key>frame</key>
    <string>{{936,590},{145,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{145,32}</string>
   </dict>
   <key>shop_bg_btn_buy_shop_coin</key>
   <dict>
    <key>frame</key>
    <string>{{705,809},{118,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,45}</string>
   </dict>
   <key>shop_bg_btn_buy_shop_magic_free</key>
   <dict>
    <key>frame</key>
    <string>{{705,856},{145,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{145,32}</string>
   </dict>
   <key>shop_booster_activated_bottom</key>
   <dict>
    <key>frame</key>
    <string>{{211,905},{240,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,66}</string>
   </dict>
   <key>shop_booster_info_bg</key>
   <dict>
    <key>frame</key>
    <string>{{0,495},{379,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{379,256}</string>
   </dict>
   <key>shop_boosters_1</key>
   <dict>
    <key>frame</key>
    <string>{{623,809},{80,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{80,80}</string>
   </dict>
   <key>shop_boosters_text_3_days_$2_99</key>
   <dict>
    <key>frame</key>
    <string>{{936,713},{150,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,22}</string>
   </dict>
   <key>shop_boosters_text_7_days_$3_99</key>
   <dict>
    <key>frame</key>
    <string>{{852,856},{149,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{149,22}</string>
   </dict>
   <key>shop_boosters_text_boosters</key>
   <dict>
    <key>frame</key>
    <string>{{453,1003},{144,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,35}</string>
   </dict>
   <key>shop_btn_info</key>
   <dict>
    <key>frame</key>
    <string>{{166,900},{33,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{33,35}</string>
   </dict>
   <key>shop_coins_1</key>
   <dict>
    <key>frame</key>
    <string>{{1018,75},{103,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,69}</string>
   </dict>
   <key>shop_coins_2</key>
   <dict>
    <key>frame</key>
    <string>{{453,905},{136,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{136,96}</string>
   </dict>
   <key>shop_coins_3</key>
   <dict>
    <key>frame</key>
    <string>{{381,790},{184,110}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{186,110}</string>
   </dict>
   <key>shop_coins_text_$0_99</key>
   <dict>
    <key>frame</key>
    <string>{{974,985},{80,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{80,25}</string>
   </dict>
   <key>shop_coins_text_$19_99</key>
   <dict>
    <key>frame</key>
    <string>{{877,1012},{90,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,25}</string>
   </dict>
   <key>shop_coins_text_$1_99</key>
   <dict>
    <key>frame</key>
    <string>{{1064,809},{72,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,25}</string>
   </dict>
   <key>shop_coins_text_$49_99</key>
   <dict>
    <key>frame</key>
    <string>{{877,985},{95,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{95,25}</string>
   </dict>
   <key>shop_coins_text_$4_99</key>
   <dict>
    <key>frame</key>
    <string>{{969,1012},{78,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{78,25}</string>
   </dict>
   <key>shop_coins_text_$99_99</key>
   <dict>
    <key>frame</key>
    <string>{{967,905},{93,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{93,25}</string>
   </dict>
   <key>shop_coins_text_$9_99</key>
   <dict>
    <key>frame</key>
    <string>{{1062,905},{76,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,25}</string>
   </dict>
   <key>shop_coins_text_2,400,000</key>
   <dict>
    <key>frame</key>
    <string>{{729,935},{120,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,28}</string>
   </dict>
   <key>shop_coins_text_200,000,000</key>
   <dict>
    <key>frame</key>
    <string>{{747,1003},{125,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{125,23}</string>
   </dict>
   <key>shop_coins_text_24,000,000</key>
   <dict>
    <key>frame</key>
    <string>{{825,809},{134,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{134,28}</string>
   </dict>
   <key>shop_coins_text_400,000</key>
   <dict>
    <key>frame</key>
    <string>{{961,809},{101,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,28}</string>
   </dict>
   <key>shop_coins_text_7,200,000</key>
   <dict>
    <key>frame</key>
    <string>{{1008,655},{116,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,28}</string>
   </dict>
   <key>shop_coins_text_70,000,000</key>
   <dict>
    <key>frame</key>
    <string>{{859,773},{133,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{133,28}</string>
   </dict>
   <key>shop_coins_text_880,000</key>
   <dict>
    <key>frame</key>
    <string>{{994,773},{99,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,28}</string>
   </dict>
   <key>shop_coins_text_free</key>
   <dict>
    <key>frame</key>
    <string>{{1056,985},{68,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{68,23}</string>
   </dict>
   <key>shop_coins_text_free_coins</key>
   <dict>
    <key>frame</key>
    <string>{{1008,685},{126,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{126,25}</string>
   </dict>
   <key>shop_crowns_1</key>
   <dict>
    <key>frame</key>
    <string>{{1018,146},{103,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,58}</string>
   </dict>
   <key>shop_crowns_2</key>
   <dict>
    <key>frame</key>
    <string>{{1018,0},{113,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{113,73}</string>
   </dict>
   <key>shop_crowns_3</key>
   <dict>
    <key>frame</key>
    <string>{{0,900},{164,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,88}</string>
   </dict>
   <key>shop_crowns_text_10_crowns</key>
   <dict>
    <key>frame</key>
    <string>{{859,742},{144,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,29}</string>
   </dict>
   <key>shop_crowns_text_120_crowns</key>
   <dict>
    <key>frame</key>
    <string>{{665,905},{153,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{153,28}</string>
   </dict>
   <key>shop_crowns_text_55_crowns</key>
   <dict>
    <key>frame</key>
    <string>{{936,624},{148,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,29}</string>
   </dict>
   <key>shop_divisor</key>
   <dict>
    <key>frame</key>
    <string>{{348,753},{2,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{2,24}</string>
   </dict>
   <key>shop_magic_100_big_win</key>
   <dict>
    <key>frame</key>
    <string>{{591,905},{72,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,73}</string>
   </dict>
   <key>shop_magic_100_big_win_1</key>
   <dict>
    <key>frame</key>
    <string>{{1005,515},{72,57}}</string>
    <key>offset</key>
    <string>{0,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,73}</string>
   </dict>
   <key>shop_magic_100_mega_win</key>
   <dict>
    <key>frame</key>
    <string>{{859,590},{75,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,76}</string>
   </dict>
   <key>shop_magic_100_mega_win_1</key>
   <dict>
    <key>frame</key>
    <string>{{936,655},{70,56}}</string>
    <key>offset</key>
    <string>{0,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,73}</string>
   </dict>
   <key>shop_magic_activated_bottom</key>
   <dict>
    <key>frame</key>
    <string>{{211,973},{155,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{155,55}</string>
   </dict>
   <key>shop_magic_double_exp</key>
   <dict>
    <key>frame</key>
    <string>{{859,668},{72,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,72}</string>
   </dict>
   <key>shop_magic_info_bg</key>
   <dict>
    <key>frame</key>
    <string>{{0,753},{209,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{209,145}</string>
   </dict>
   <key>shop_magic_lucky10</key>
   <dict>
    <key>frame</key>
    <string>{{1005,370},{75,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,75}</string>
   </dict>
   <key>shop_magic_lucky10_1</key>
   <dict>
    <key>frame</key>
    <string>{{1078,446},{59,61}}</string>
    <key>offset</key>
    <string>{-1,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{73,73}</string>
   </dict>
   <key>shop_magic_lucky10_2</key>
   <dict>
    <key>frame</key>
    <string>{{1005,446},{71,67}}</string>
    <key>offset</key>
    <string>{-1,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{73,73}</string>
   </dict>
   <key>shop_magic_lucky20</key>
   <dict>
    <key>frame</key>
    <string>{{1018,206},{76,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{80,80}</string>
   </dict>
   <key>shop_magic_lucky20_1</key>
   <dict>
    <key>frame</key>
    <string>{{665,935},{62,63}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
   <key>shop_magic_lucky20_2</key>
   <dict>
    <key>frame</key>
    <string>{{368,973},{76,67}}</string>
    <key>offset</key>
    <string>{0,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,76}</string>
   </dict>
   <key>shop_magic_lucky_symbol</key>
   <dict>
    <key>frame</key>
    <string>{{1005,294},{75,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,75}</string>
   </dict>
   <key>shop_magic_lucky_symbol_1</key>
   <dict>
    <key>frame</key>
    <string>{{567,790},{52,51}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,72}</string>
   </dict>
   <key>shop_magic_lucky_symbol_2</key>
   <dict>
    <key>frame</key>
    <string>{{1082,294},{56,66}}</string>
    <key>offset</key>
    <string>{-8,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{72,72}</string>
   </dict>
   <key>shop_magic_text_100_big_win</key>
   <dict>
    <key>frame</key>
    <string>{{851,935},{128,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,21}</string>
   </dict>
   <key>shop_magic_text_100_mega_win</key>
   <dict>
    <key>frame</key>
    <string>{{852,880},{150,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,20}</string>
   </dict>
   <key>shop_magic_text_10_spins_$1_99</key>
   <dict>
    <key>frame</key>
    <string>{{1003,856},{130,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,18}</string>
   </dict>
   <key>shop_magic_text_1_hour_$4_99</key>
   <dict>
    <key>frame</key>
    <string>{{825,839},{111,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,15}</string>
   </dict>
   <key>shop_magic_text_1_spin_$0_99</key>
   <dict>
    <key>frame</key>
    <string>{{1004,880},{120,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,17}</string>
   </dict>
   <key>shop_magic_text_1_spin_$1_99</key>
   <dict>
    <key>frame</key>
    <string>{{981,935},{119,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{119,17}</string>
   </dict>
   <key>shop_magic_text_3_spins_$0_99</key>
   <dict>
    <key>frame</key>
    <string>{{877,965},{131,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{131,18}</string>
   </dict>
   <key>shop_magic_text_double_exp</key>
   <dict>
    <key>frame</key>
    <string>{{1005,742},{132,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{132,22}</string>
   </dict>
   <key>shop_magic_text_lucky10</key>
   <dict>
    <key>frame</key>
    <string>{{599,1003},{146,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{146,23}</string>
   </dict>
   <key>shop_magic_text_lucky20</key>
   <dict>
    <key>frame</key>
    <string>{{729,965},{146,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{146,22}</string>
   </dict>
   <key>shop_magic_text_lucky_symbol</key>
   <dict>
    <key>frame</key>
    <string>{{820,905},{145,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{145,22}</string>
   </dict>
   <key>shop_maskToggle</key>
   <dict>
    <key>frame</key>
    <string>{{0,990},{201,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{201,37}</string>
   </dict>
   <key>shop_panel_item_booster</key>
   <dict>
    <key>frame</key>
    <string>{{381,495},{240,293}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,293}</string>
   </dict>
   <key>shop_panel_item_coin</key>
   <dict>
    <key>frame</key>
    <string>{{859,294},{144,294}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,295}</string>
   </dict>
   <key>shop_panel_item_crown</key>
   <dict>
    <key>frame</key>
    <string>{{623,495},{216,312}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{216,312}</string>
   </dict>
   <key>shop_panel_item_magic_item</key>
   <dict>
    <key>frame</key>
    <string>{{859,0},{157,292}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,292}</string>
   </dict>
   <key>shop_watch_video_icon</key>
   <dict>
    <key>frame</key>
    <string>{{211,753},{135,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,150}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>shop.png</string>
  </dict>
 </dict>
</plist>
