<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>info_ToggleOff</key>
   <dict>
    <key>frame</key>
    <string>{{0,591},{440,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{440,67}</string>
   </dict>
   <key>info_ToggleOn</key>
   <dict>
    <key>frame</key>
    <string>{{442,591},{440,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{440,67}</string>
   </dict>
   <key>info_background-info-gameslots</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{960,589}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{960,589}</string>
   </dict>
   <key>info_backgroundChangeBet</key>
   <dict>
    <key>frame</key>
    <string>{{0,660},{251,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{251,51}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>info_popup.png</string>
  </dict>
 </dict>
</plist>
