<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>levelup_LevelUpBG</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{680,593}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{680,593}</string>
   </dict>
   <key>levelup_LevelUpTitle</key>
   <dict>
    <key>frame</key>
    <string>{{371,794},{215,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{215,41}</string>
   </dict>
   <key>levelup_booster_package_icon</key>
   <dict>
    <key>frame</key>
    <string>{{682,66},{50,72}}</string>
    <key>offset</key>
    <string>{0,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,172}</string>
   </dict>
   <key>levelup_booster_package_icon_bg</key>
   <dict>
    <key>frame</key>
    <string>{{602,595},{172,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,172}</string>
   </dict>
   <key>levelup_booster_package_multiplier_large_background</key>
   <dict>
    <key>frame</key>
    <string>{{371,837},{94,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{94,64}</string>
   </dict>
   <key>levelup_booster_package_multiplier_small_background</key>
   <dict>
    <key>frame</key>
    <string>{{682,0},{82,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{82,64}</string>
   </dict>
   <key>levelup_lightray</key>
   <dict>
    <key>frame</key>
    <string>{{0,595},{369,369}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{369,369}</string>
   </dict>
   <key>levelup_stars</key>
   <dict>
    <key>frame</key>
    <string>{{371,595},{229,197}}</string>
    <key>offset</key>
    <string>{-2,8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{253,253}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>levelup.png</string>
  </dict>
 </dict>
</plist>
