<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>daily_lucky_spin_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{720,298}</string>
    <key>spriteSourceSize</key>
    <string>{720,298}</string>
    <key>textureRect</key>
    <string>{{0,0},{720,298}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_bg_reel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{437,198}</string>
    <key>spriteSourceSize</key>
    <string>{437,198}</string>
    <key>textureRect</key>
    <string>{{0,300},{437,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_btn_green_new</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,33}</string>
    <key>spriteSourceSize</key>
    <string>{122,33}</string>
    <key>textureRect</key>
    <string>{{722,242},{122,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{158,158}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,1001},{158,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{158,158}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{1038,300},{158,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{158,158}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{970,668},{158,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{158,158}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{864,874},{158,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{158,158}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{1024,874},{158,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{160,161}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{702,874},{160,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{162,162}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{974,500},{162,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{804,668},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{166,165}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{534,874},{166,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{168,166}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{804,500},{168,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{168,167}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{364,874},{168,167}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{170,170}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{914,0},{170,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{174,174}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{862,300},{174,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{178,177}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{184,874},{178,177}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{182,181}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,818},{182,181}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,184}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{618,500},{184,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{188,187}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{388,624},{188,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,190}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{722,0},{190,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,624},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{194,624},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{158,158}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,1001},{158,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_mask_reel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{421,177}</string>
    <key>spriteSourceSize</key>
    <string>{421,177}</string>
    <key>textureRect</key>
    <string>{{439,300},{421,177}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_popup_info_table</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{616,122}</string>
    <key>spriteSourceSize</key>
    <string>{616,122}</string>
    <key>textureRect</key>
    <string>{{0,500},{616,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_popup_info_title</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{429,48}</string>
    <key>spriteSourceSize</key>
    <string>{429,48}</string>
    <key>textureRect</key>
    <string>{{722,192},{429,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_title</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{599,54}</string>
    <key>spriteSourceSize</key>
    <string>{599,54}</string>
    <key>textureRect</key>
    <string>{{184,818},{599,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1198,1161}</string>
   <key>textureFileName</key>
   <string>daily_lucky_spin.png</string>
  </dict>
 </dict>
</plist>
