<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>feature_unlocked_info-daily-challenge</key>
   <dict>
    <key>frame</key>
    <string>{{0,213},{216,217}}</string>
    <key>offset</key>
    <string>{0,-15}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{216,248}</string>
   </dict>
   <key>feature_unlocked_info-pay-line</key>
   <dict>
    <key>frame</key>
    <string>{{218,213},{238,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{238,148}</string>
   </dict>
   <key>feature_unlocked_info-piggy-bank</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{259,211}}</string>
    <key>offset</key>
    <string>{1,-8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{261,227}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>feature_unlocked.png</string>
  </dict>
 </dict>
</plist>
