<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_idle_01</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_02</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_03</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_04</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_05</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_06</key>
			<dict>
				<key>frame</key>
				<string>{{320,512},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_07</key>
			<dict>
				<key>frame</key>
				<string>{{320,1024},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_08</key>
			<dict>
				<key>frame</key>
				<string>{{320,1536},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_09</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_10</key>
			<dict>
				<key>frame</key>
				<string>{{640,512},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_11</key>
			<dict>
				<key>frame</key>
				<string>{{640,1024},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_12</key>
			<dict>
				<key>frame</key>
				<string>{{640,1536},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_13</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_14</key>
			<dict>
				<key>frame</key>
				<string>{{1280,0},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_15</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_16</key>
			<dict>
				<key>frame</key>
				<string>{{960,512},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_17</key>
			<dict>
				<key>frame</key>
				<string>{{960,1024},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_18</key>
			<dict>
				<key>frame</key>
				<string>{{960,1536},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_19</key>
			<dict>
				<key>frame</key>
				<string>{{1280,512},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_20</key>
			<dict>
				<key>frame</key>
				<string>{{1600,512},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_21</key>
			<dict>
				<key>frame</key>
				<string>{{1280,1024},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_22</key>
			<dict>
				<key>frame</key>
				<string>{{1280,1536},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_23</key>
			<dict>
				<key>frame</key>
				<string>{{1600,1024},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
			<key>ui_idle_24</key>
			<dict>
				<key>frame</key>
				<string>{{1600,1536},{320,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>farmer.png</string>
			<key>realTextureFileName</key>
			<string>farmer.png</string>
			<key>size</key>
			<string>{1920,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1920</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>