<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_button_inner_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,56}</string>
    <key>spriteSize</key>
    <string>{38,64}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{666,532},{38,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,55}</string>
    <key>spriteSize</key>
    <string>{48,66}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{892,804},{48,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{16,54}</string>
    <key>spriteSize</key>
    <string>{60,68}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{638,782},{60,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,53}</string>
    <key>spriteSize</key>
    <string>{70,70}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{638,710},{70,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{25,50}</string>
    <key>spriteSize</key>
    <string>{78,75}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{812,804},{78,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{29,48}</string>
    <key>spriteSize</key>
    <string>{86,79}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{862,86},{86,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{33,46}</string>
    <key>spriteSize</key>
    <string>{92,84}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{862,0},{92,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{35,43}</string>
    <key>spriteSize</key>
    <string>{96,90}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{812,712},{96,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{36,40}</string>
    <key>spriteSize</key>
    <string>{100,96}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{830,601},{100,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,36}</string>
    <key>spriteSize</key>
    <string>{100,104}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{710,712},{100,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,30}</string>
    <key>spriteSize</key>
    <string>{102,115}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{830,484},{102,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,25}</string>
    <key>spriteSize</key>
    <string>{102,126}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{830,356},{102,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,19}</string>
    <key>spriteSize</key>
    <string>{102,138}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{534,710},{102,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,14}</string>
    <key>spriteSize</key>
    <string>{102,148}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{416,709},{102,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,10}</string>
    <key>spriteSize</key>
    <string>{102,156}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{312,709},{102,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,6}</string>
    <key>spriteSize</key>
    <string>{102,164}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{208,709},{102,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,4}</string>
    <key>spriteSize</key>
    <string>{102,168}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{104,709},{102,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,1}</string>
    <key>spriteSize</key>
    <string>{102,173}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{0,709},{102,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{37,0}</string>
    <key>spriteSize</key>
    <string>{102,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{852,178},{102,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{35,0}</string>
    <key>spriteSize</key>
    <string>{106,176}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{710,534},{106,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{29,0}</string>
    <key>spriteSize</key>
    <string>{118,176}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{710,356},{118,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{23,0}</string>
    <key>spriteSize</key>
    <string>{130,176}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{534,532},{130,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,0}</string>
    <key>spriteSize</key>
    <string>{140,176}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{710,178},{140,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,0}</string>
    <key>spriteSize</key>
    <string>{150,176}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{710,0},{150,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,0}</string>
    <key>spriteSize</key>
    <string>{156,176}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{534,354},{156,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{164,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{352,531},{164,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{168,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{534,177},{168,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{172,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{178,531},{172,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{174,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{534,0},{174,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{0,532},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{356,354},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{356,177},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_33</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{178,354},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_34</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{356,0},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_35</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{0,355},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_36</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{178,177},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_37</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{0,178},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_38</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,175}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{178,0},{176,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_inner_39</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,176}</string>
    <key>spriteSourceSize</key>
    <string>{176,176}</string>
    <key>textureRect</key>
    <string>{{0,0},{176,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{958,884}</string>
   <key>textureFileName</key>
   <string>button_inner.png</string>
  </dict>
 </dict>
</plist>
