<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_button_anim_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{0,0},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{0,210},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{371,0},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{0,420},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{371,210},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{371,420},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{0,630},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{371,630},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{742,0},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{742,210},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{0,840},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{742,420},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{371,840},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{742,630},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{0,1050},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{1113,0},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{371,1050},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{742,840},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{1113,210},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{1113,420},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{0,1260},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{1113,630},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{742,1050},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{371,1260},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{1113,840},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{742,1260},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{1113,1050},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_button_anim_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,208}</string>
    <key>spriteSourceSize</key>
    <string>{369,208}</string>
    <key>textureRect</key>
    <string>{{1113,1260},{369,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1484,1470}</string>
   <key>textureFileName</key>
   <string>button_anim.png</string>
  </dict>
 </dict>
</plist>
