<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_hover_purple_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_purple_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1476,1295}</string>
   <key>textureFileName</key>
   <string>hover_purple.png</string>
  </dict>
 </dict>
</plist>
