<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>luckywheel_hover_blue_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{246,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{492,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,259},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{738,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,518},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{984,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,777},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{1230,1036},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>luckywheel_hover_blue_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,257}</string>
    <key>spriteSourceSize</key>
    <string>{244,257}</string>
    <key>textureRect</key>
    <string>{{0,0},{244,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1476,1295}</string>
   <key>textureFileName</key>
   <string>hover_blue.png</string>
  </dict>
 </dict>
</plist>
