<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>lucky_wheel_buy_spin_normal</key>
   <dict>
    <key>frame</key>
    <string>{{686,1443},{196,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{268,107}</string>
   </dict>
   <key>lucky_wheel_buy_spin_selected</key>
   <dict>
    <key>frame</key>
    <string>{{474,1443},{210,66}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{268,107}</string>
   </dict>
   <key>lucky_wheel_footer</key>
   <dict>
    <key>frame</key>
    <string>{{474,1389},{1024,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1024,52}</string>
   </dict>
   <key>lucky_wheel_light_flare_yellow</key>
   <dict>
    <key>frame</key>
    <string>{{956,871},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>lucky_wheel_model</key>
   <dict>
    <key>frame</key>
    <string>{{1397,423},{232,489}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{232,489}</string>
   </dict>
   <key>lucky_wheel_package_crown_10</key>
   <dict>
    <key>frame</key>
    <string>{{1075,250},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
   <key>lucky_wheel_package_crown_20</key>
   <dict>
    <key>frame</key>
    <string>{{1225,250},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
   <key>lucky_wheel_package_crown_30</key>
   <dict>
    <key>frame</key>
    <string>{{0,1375},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
   <key>lucky_wheel_package_money_10</key>
   <dict>
    <key>frame</key>
    <string>{{150,1375},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
   <key>lucky_wheel_package_money_20</key>
   <dict>
    <key>frame</key>
    <string>{{1375,250},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
   <key>lucky_wheel_package_money_30</key>
   <dict>
    <key>frame</key>
    <string>{{300,1375},{148,148}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,148}</string>
   </dict>
   <key>lucky_wheel_popup_buy_bg</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{758,421}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{758,421}</string>
   </dict>
   <key>lucky_wheel_shiny_bg_1</key>
   <dict>
    <key>frame</key>
    <string>{{760,0},{280,248}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,248}</string>
   </dict>
   <key>lucky_wheel_shiny_bg_2</key>
   <dict>
    <key>frame</key>
    <string>{{1283,0},{240,208}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,208}</string>
   </dict>
   <key>lucky_wheel_spin</key>
   <dict>
    <key>frame</key>
    <string>{{760,250},{160,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,164}</string>
   </dict>
   <key>lucky_wheel_spin_bg</key>
   <dict>
    <key>frame</key>
    <string>{{922,250},{151,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,151}</string>
   </dict>
   <key>lucky_wheel_wheel_bg</key>
   <dict>
    <key>frame</key>
    <string>{{914,901},{424,424}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{424,424}</string>
   </dict>
   <key>lucky_wheel_wheel_bg_back</key>
   <dict>
    <key>frame</key>
    <string>{{0,901},{472,472}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{472,472}</string>
   </dict>
   <key>lucky_wheel_wheel_bound</key>
   <dict>
    <key>frame</key>
    <string>{{0,423},{476,476}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{476,476}</string>
   </dict>
   <key>lucky_wheel_wheel_bound_light</key>
   <dict>
    <key>frame</key>
    <string>{{1042,0},{239,239}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{239,239}</string>
   </dict>
   <key>lucky_wheel_wheel_bound_light_bg</key>
   <dict>
    <key>frame</key>
    <string>{{478,423},{476,476}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{476,476}</string>
   </dict>
   <key>lucky_wheel_wheel_circle_light</key>
   <dict>
    <key>frame</key>
    <string>{{956,423},{439,446}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{439,446}</string>
   </dict>
   <key>lucky_wheel_wheel_sting</key>
   <dict>
    <key>frame</key>
    <string>{{1525,314},{64,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{64,96}</string>
   </dict>
   <key>lucky_wheel_wheel_top</key>
   <dict>
    <key>frame</key>
    <string>{{474,901},{438,486}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{438,486}</string>
   </dict>
   <key>luckywheel_button_flash_01</key>
   <dict>
    <key>frame</key>
    <string>{{760,416},{2,2}}</string>
    <key>offset</key>
    <string>{-79,79}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_02</key>
   <dict>
    <key>frame</key>
    <string>{{1066,1443},{36,76}}</string>
    <key>offset</key>
    <string>{-62,28}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_03</key>
   <dict>
    <key>frame</key>
    <string>{{1397,1238},{68,122}}</string>
    <key>offset</key>
    <string>{-46,18}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_04</key>
   <dict>
    <key>frame</key>
    <string>{{1529,914},{94,143}}</string>
    <key>offset</key>
    <string>{-33,8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_05</key>
   <dict>
    <key>frame</key>
    <string>{{1525,0},{118,155}}</string>
    <key>offset</key>
    <string>{-21,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_06</key>
   <dict>
    <key>frame</key>
    <string>{{1397,914},{130,160}}</string>
    <key>offset</key>
    <string>{-8,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_07</key>
   <dict>
    <key>frame</key>
    <string>{{1397,1076},{130,160}}</string>
    <key>offset</key>
    <string>{8,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_08</key>
   <dict>
    <key>frame</key>
    <string>{{1525,157},{116,155}}</string>
    <key>offset</key>
    <string>{22,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_09</key>
   <dict>
    <key>frame</key>
    <string>{{1529,1059},{92,142}}</string>
    <key>offset</key>
    <string>{34,-9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_10</key>
   <dict>
    <key>frame</key>
    <string>{{1467,1238},{66,119}}</string>
    <key>offset</key>
    <string>{47,-19}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_11</key>
   <dict>
    <key>frame</key>
    <string>{{1340,1239},{32,68}}</string>
    <key>offset</key>
    <string>{64,-29}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_button_flash_12</key>
   <dict>
    <key>frame</key>
    <string>{{760,416},{2,2}}</string>
    <key>offset</key>
    <string>{-79,79}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_coin_1</key>
   <dict>
    <key>frame</key>
    <string>{{1188,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_10</key>
   <dict>
    <key>frame</key>
    <string>{{1140,1477},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_11</key>
   <dict>
    <key>frame</key>
    <string>{{1316,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_12</key>
   <dict>
    <key>frame</key>
    <string>{{1283,210},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_13</key>
   <dict>
    <key>frame</key>
    <string>{{1315,210},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_14</key>
   <dict>
    <key>frame</key>
    <string>{{1347,210},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_15</key>
   <dict>
    <key>frame</key>
    <string>{{1379,210},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_16</key>
   <dict>
    <key>frame</key>
    <string>{{1411,210},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_17</key>
   <dict>
    <key>frame</key>
    <string>{{1443,210},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_18</key>
   <dict>
    <key>frame</key>
    <string>{{1475,210},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_19</key>
   <dict>
    <key>frame</key>
    <string>{{1060,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_2</key>
   <dict>
    <key>frame</key>
    <string>{{1092,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_20</key>
   <dict>
    <key>frame</key>
    <string>{{1204,1443},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_3</key>
   <dict>
    <key>frame</key>
    <string>{{1124,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_4</key>
   <dict>
    <key>frame</key>
    <string>{{1156,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_5</key>
   <dict>
    <key>frame</key>
    <string>{{1220,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_6</key>
   <dict>
    <key>frame</key>
    <string>{{1252,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_7</key>
   <dict>
    <key>frame</key>
    <string>{{1140,1443},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_8</key>
   <dict>
    <key>frame</key>
    <string>{{1284,1327},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_coin_9</key>
   <dict>
    <key>frame</key>
    <string>{{1172,1443},{30,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,32}</string>
   </dict>
   <key>luckywheel_sting_flash_01</key>
   <dict>
    <key>frame</key>
    <string>{{760,416},{2,2}}</string>
    <key>offset</key>
    <string>{-79,79}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>luckywheel_sting_flash_02</key>
   <dict>
    <key>frame</key>
    <string>{{982,871},{14,23}}</string>
    <key>offset</key>
    <string>{-20,28}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_03</key>
   <dict>
    <key>frame</key>
    <string>{{1172,1477},{24,37}}</string>
    <key>offset</key>
    <string>{-15,25}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_04</key>
   <dict>
    <key>frame</key>
    <string>{{1028,1327},{30,44}}</string>
    <key>offset</key>
    <string>{-12,22}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_05</key>
   <dict>
    <key>frame</key>
    <string>{{958,1327},{36,51}}</string>
    <key>offset</key>
    <string>{-9,18}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_06</key>
   <dict>
    <key>frame</key>
    <string>{{914,1327},{42,58}}</string>
    <key>offset</key>
    <string>{-6,15}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_07</key>
   <dict>
    <key>frame</key>
    <string>{{978,1443},{46,65}}</string>
    <key>offset</key>
    <string>{-4,11}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_08</key>
   <dict>
    <key>frame</key>
    <string>{{884,1443},{50,71}}</string>
    <key>offset</key>
    <string>{-2,8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_09</key>
   <dict>
    <key>frame</key>
    <string>{{1340,987},{54,77}}</string>
    <key>offset</key>
    <string>{0,5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_10</key>
   <dict>
    <key>frame</key>
    <string>{{1340,901},{52,84}}</string>
    <key>offset</key>
    <string>{1,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_11</key>
   <dict>
    <key>frame</key>
    <string>{{1591,314},{50,87}}</string>
    <key>offset</key>
    <string>{2,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_12</key>
   <dict>
    <key>frame</key>
    <string>{{1340,1066},{46,86}}</string>
    <key>offset</key>
    <string>{4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_13</key>
   <dict>
    <key>frame</key>
    <string>{{1340,1154},{44,83}}</string>
    <key>offset</key>
    <string>{5,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_14</key>
   <dict>
    <key>frame</key>
    <string>{{936,1443},{40,80}}</string>
    <key>offset</key>
    <string>{7,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_15</key>
   <dict>
    <key>frame</key>
    <string>{{1026,1443},{38,74}}</string>
    <key>offset</key>
    <string>{8,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_16</key>
   <dict>
    <key>frame</key>
    <string>{{1104,1443},{34,67}}</string>
    <key>offset</key>
    <string>{10,-9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_17</key>
   <dict>
    <key>frame</key>
    <string>{{996,1327},{30,55}}</string>
    <key>offset</key>
    <string>{11,-16}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,88}</string>
   </dict>
   <key>luckywheel_sting_flash_18</key>
   <dict>
    <key>frame</key>
    <string>{{760,416},{2,2}}</string>
    <key>offset</key>
    <string>{-79,79}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>lucky_wheel.png</string>
  </dict>
 </dict>
</plist>
