<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>free_to_play</key>
   <dict>
    <key>frame</key>
    <string>{{549,759},{553,350}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{553,350}</string>
   </dict>
   <key>get_more_coins</key>
   <dict>
    <key>frame</key>
    <string>{{549,403},{610,354}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{610,354}</string>
   </dict>
   <key>pay_to_play</key>
   <dict>
    <key>frame</key>
    <string>{{0,403},{547,432}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{547,432}</string>
   </dict>
   <key>special_offer</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{687,401}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{687,401}</string>
   </dict>
   <key>starter_pack</key>
   <dict>
    <key>frame</key>
    <string>{{689,0},{542,378}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{542,378}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>promotion_popups.png</string>
  </dict>
 </dict>
</plist>
