<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,43}</string>
    <key>spriteSourceSize</key>
    <string>{134,43}</string>
    <key>textureRect</key>
    <string>{{440,93},{132,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>box-freespins-bonus</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{116,91}</string>
    <key>spriteSourceSize</key>
    <string>{116,91}</string>
    <key>textureRect</key>
    <string>{{440,0},{116,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,140}</string>
    <key>spriteSourceSize</key>
    <string>{146,140}</string>
    <key>textureRect</key>
    <string>{{0,0},{146,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,24}</string>
    <key>spriteSourceSize</key>
    <string>{176,24}</string>
    <key>textureRect</key>
    <string>{{292,422},{176,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{148,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,282},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{294,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,282},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,282},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,422},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,422},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{584,562}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
