<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_2_1_price</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,94}</string>
    <key>spriteSourceSize</key>
    <string>{150,95}</string>
    <key>textureRect</key>
    <string>{{729,124},{150,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_2_price</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,138}</string>
    <key>spriteSourceSize</key>
    <string>{87,138}</string>
    <key>textureRect</key>
    <string>{{781,268},{87,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_3_price</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,138}</string>
    <key>spriteSourceSize</key>
    <string>{87,138}</string>
    <key>textureRect</key>
    <string>{{781,408},{87,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_aim</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,122}</string>
    <key>spriteSourceSize</key>
    <string>{122,122}</string>
    <key>textureRect</key>
    <string>{{657,268},{122,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_aim-pressed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,122}</string>
    <key>spriteSourceSize</key>
    <string>{122,122}</string>
    <key>textureRect</key>
    <string>{{729,0},{122,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_arrow</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{52,115}</string>
    <key>spriteSourceSize</key>
    <string>{52,122}</string>
    <key>textureRect</key>
    <string>{{678,461},{52,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_box-multiplier</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,72}</string>
    <key>spriteSourceSize</key>
    <string>{106,74}</string>
    <key>textureRect</key>
    <string>{{461,387},{106,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_box-total-bet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,72}</string>
    <key>spriteSourceSize</key>
    <string>{107,74}</string>
    <key>textureRect</key>
    <string>{{804,580},{103,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_box-totalwin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{194,117}</string>
    <key>spriteSourceSize</key>
    <string>{194,118}</string>
    <key>textureRect</key>
    <string>{{461,268},{194,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,31}</string>
    <key>spriteSourceSize</key>
    <string>{44,31}</string>
    <key>textureRect</key>
    <string>{{569,387},{44,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_instruction</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{676,117}</string>
    <key>spriteSourceSize</key>
    <string>{682,117}</string>
    <key>textureRect</key>
    <string>{{0,461},{676,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,266}</string>
    <key>spriteSourceSize</key>
    <string>{266,266}</string>
    <key>textureRect</key>
    <string>{{461,0},{266,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,266}</string>
    <key>spriteSourceSize</key>
    <string>{266,266}</string>
    <key>textureRect</key>
    <string>{{0,580},{266,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,266}</string>
    <key>spriteSourceSize</key>
    <string>{266,266}</string>
    <key>textureRect</key>
    <string>{{268,580},{266,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,266}</string>
    <key>spriteSourceSize</key>
    <string>{266,266}</string>
    <key>textureRect</key>
    <string>{{536,580},{266,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_2_wheel_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{459,459}</string>
    <key>spriteSourceSize</key>
    <string>{459,459}</string>
    <key>textureRect</key>
    <string>{{0,0},{459,459}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{909,848}</string>
   <key>textureFileName</key>
   <string>bonus_stage2_symbols.png</string>
  </dict>
 </dict>
</plist>
