<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_1_symbol_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,72}</string>
    <key>spriteSourceSize</key>
    <string>{79,72}</string>
    <key>textureRect</key>
    <string>{{359,739},{79,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,83}</string>
    <key>spriteSourceSize</key>
    <string>{77,83}</string>
    <key>textureRect</key>
    <string>{{198,739},{77,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,72}</string>
    <key>spriteSourceSize</key>
    <string>{79,72}</string>
    <key>textureRect</key>
    <string>{{0,831},{79,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,79}</string>
    <key>spriteSourceSize</key>
    <string>{60,79}</string>
    <key>textureRect</key>
    <string>{{198,824},{60,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{78,78}</string>
    <key>spriteSourceSize</key>
    <string>{78,78}</string>
    <key>textureRect</key>
    <string>{{96,813},{78,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,78}</string>
    <key>spriteSourceSize</key>
    <string>{80,78}</string>
    <key>textureRect</key>
    <string>{{277,739},{80,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,72}</string>
    <key>spriteSourceSize</key>
    <string>{100,72}</string>
    <key>textureRect</key>
    <string>{{96,739},{100,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,90}</string>
    <key>spriteSourceSize</key>
    <string>{94,90}</string>
    <key>textureRect</key>
    <string>{{0,739},{94,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_bg_door</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,589}</string>
    <key>spriteSourceSize</key>
    <string>{1280,589}</string>
    <key>textureRect</key>
    <string>{{0,0},{1280,589}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_door-left</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{175,452}</string>
    <key>spriteSourceSize</key>
    <string>{185,452}</string>
    <key>textureRect</key>
    <string>{{850,591},{175,452}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_door-right</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{174,452}</string>
    <key>spriteSourceSize</key>
    <string>{174,452}</string>
    <key>textureRect</key>
    <string>{{1027,591},{174,452}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_instruction</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{848,146}</string>
    <key>spriteSourceSize</key>
    <string>{852,146}</string>
    <key>textureRect</key>
    <string>{{0,591},{848,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1282,1045}</string>
   <key>textureFileName</key>
   <string>bonus_stage1_symbols.png</string>
  </dict>
 </dict>
</plist>
