<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>circle_pink1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-62,63}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{121,117},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{101,101}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{0,234},{101,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,106}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{113,121},{105,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,111}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{0,121},{111,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,115}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{121,0},{115,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-62,63}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{121,117},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{313,169},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,46}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{313,121},{45,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,54}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{281,297},{55,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,66}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{281,229},{65,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,80}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{200,229},{79,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{85,86}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{113,229},{85,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{91,90}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{220,121},{91,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle_pink9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{95,96}</string>
    <key>spriteSourceSize</key>
    <string>{127,128}</string>
    <key>textureRect</key>
    <string>{{238,0},{95,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{360,353}</string>
   <key>textureFileName</key>
   <string>circle_pink.png</string>
  </dict>
 </dict>
</plist>
