<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>coin_animation_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{104,104}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{0,0},{104,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{104,103}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{106,0},{104,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{104,95}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{0,106},{104,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{104,81}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{212,0},{104,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{104,61}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{212,83},{104,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{104,37}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{212,146},{104,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{104,11}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{0,203},{104,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{104,37}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{212,185},{104,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_animation_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{104,93}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{106,105},{104,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{318,224}</string>
   <key>textureFileName</key>
   <string>coin-animation.png</string>
  </dict>
 </dict>
</plist>
