<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>coin_flare_animation_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,70}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{559,346},{71,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{185,172}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{209,343},{185,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{195,166}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{0,354},{195,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,172}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{209,0},{201,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{207,175}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{0,0},{207,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{205,175}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{0,177},{205,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{199,167}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{209,174},{199,167}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,70}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{559,418},{71,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,102}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{542,522},{103,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{123,124}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{304,522},{123,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{125,124}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{177,522},{125,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,105}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{429,522},{111,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,148}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{410,346},{147,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{171,172}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{412,0},{171,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{171,170}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{410,174},{171,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_flare_animation_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{175,149}</string>
    <key>spriteSourceSize</key>
    <string>{219,188}</string>
    <key>textureRect</key>
    <string>{{0,522},{175,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{647,673}</string>
   <key>textureFileName</key>
   <string>coin_flare_animation.png</string>
  </dict>
 </dict>
</plist>
