<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>crown_flare_animation1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-29,25}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{106,66},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,2}</string>
    <key>spriteSize</key>
    <string>{52,35}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{0,36},{52,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,4}</string>
    <key>spriteSize</key>
    <string>{52,33}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{56,0},{52,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,6}</string>
    <key>spriteSize</key>
    <string>{44,29}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{0,105},{44,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,9}</string>
    <key>spriteSize</key>
    <string>{44,30}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{46,73},{44,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,12}</string>
    <key>spriteSize</key>
    <string>{44,29}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{46,105},{44,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,13}</string>
    <key>spriteSize</key>
    <string>{44,26}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{92,73},{44,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{17,16}</string>
    <key>spriteSize</key>
    <string>{20,21}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{124,101},{20,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{16,19}</string>
    <key>spriteSize</key>
    <string>{16,14}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{124,124},{16,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,23}</string>
    <key>spriteSize</key>
    <string>{6,7}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{110,24},{6,7}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,25}</string>
    <key>spriteSize</key>
    <string>{4,2}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{118,31},{4,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-23}</string>
    <key>spriteSize</key>
    <string>{6,5}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{118,24},{6,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-29,25}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{106,66},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-17,-18}</string>
    <key>spriteSize</key>
    <string>{24,17}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{92,123},{24,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,-16}</string>
    <key>spriteSize</key>
    <string>{30,20}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{92,101},{30,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,-15}</string>
    <key>spriteSize</key>
    <string>{34,22}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{110,0},{34,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-12}</string>
    <key>spriteSize</key>
    <string>{38,28}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{106,36},{38,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-10}</string>
    <key>spriteSize</key>
    <string>{44,30}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{0,73},{44,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-7}</string>
    <key>spriteSize</key>
    <string>{50,32}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{54,36},{50,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{54,34}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{0,0},{54,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{146,142}</string>
   <key>textureFileName</key>
   <string>crown_flare_animation.png</string>
  </dict>
 </dict>
</plist>
