<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol4_1</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_10</key>
			<dict>
				<key>frame</key>
				<string>{{182,2},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_11</key>
			<dict>
				<key>frame</key>
				<string>{{362,2},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_12</key>
			<dict>
				<key>frame</key>
				<string>{{542,2},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_13</key>
			<dict>
				<key>frame</key>
				<string>{{722,2},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_14</key>
			<dict>
				<key>frame</key>
				<string>{{2,176},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_15</key>
			<dict>
				<key>frame</key>
				<string>{{2,356},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_16</key>
			<dict>
				<key>frame</key>
				<string>{{2,536},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_17</key>
			<dict>
				<key>frame</key>
				<string>{{2,716},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_18</key>
			<dict>
				<key>frame</key>
				<string>{{176,176},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_19</key>
			<dict>
				<key>frame</key>
				<string>{{356,176},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_2</key>
			<dict>
				<key>frame</key>
				<string>{{536,176},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_20</key>
			<dict>
				<key>frame</key>
				<string>{{716,176},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_21</key>
			<dict>
				<key>frame</key>
				<string>{{176,350},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_22</key>
			<dict>
				<key>frame</key>
				<string>{{176,530},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_23</key>
			<dict>
				<key>frame</key>
				<string>{{176,710},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_24</key>
			<dict>
				<key>frame</key>
				<string>{{350,350},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_3</key>
			<dict>
				<key>frame</key>
				<string>{{530,350},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_4</key>
			<dict>
				<key>frame</key>
				<string>{{710,350},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_5</key>
			<dict>
				<key>frame</key>
				<string>{{350,524},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_6</key>
			<dict>
				<key>frame</key>
				<string>{{350,704},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_7</key>
			<dict>
				<key>frame</key>
				<string>{{524,524},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_8</key>
			<dict>
				<key>frame</key>
				<string>{{704,524},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>symbol4_9</key>
			<dict>
				<key>frame</key>
				<string>{{524,698},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_4.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_4.png</string>
			<key>size</key>
			<string>{900,894}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>900</integer>
			<key>height</key>
			<integer>894</integer>
		</dict>
	</dict>
</plist>