<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>symbol7_1</key>
   <dict>
    <key>frame</key>
    <string>{{0,765},{147,137}}</string>
    <key>offset</key>
    <string>{8,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_10</key>
   <dict>
    <key>frame</key>
    <string>{{195,574},{179,182}}</string>
    <key>offset</key>
    <string>{23,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_11</key>
   <dict>
    <key>frame</key>
    <string>{{635,189},{173,179}}</string>
    <key>offset</key>
    <string>{21,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_12</key>
   <dict>
    <key>frame</key>
    <string>{{667,0},{173,166}}</string>
    <key>offset</key>
    <string>{20,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_13</key>
   <dict>
    <key>frame</key>
    <string>{{466,0},{199,185}}</string>
    <key>offset</key>
    <string>{19,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_14</key>
   <dict>
    <key>frame</key>
    <string>{{0,574},{193,189}}</string>
    <key>offset</key>
    <string>{22,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_15</key>
   <dict>
    <key>frame</key>
    <string>{{448,389},{183,198}}</string>
    <key>offset</key>
    <string>{26,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_16</key>
   <dict>
    <key>frame</key>
    <string>{{448,589},{147,178}}</string>
    <key>offset</key>
    <string>{8,10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_17</key>
   <dict>
    <key>frame</key>
    <string>{{597,589},{147,167}}</string>
    <key>offset</key>
    <string>{8,12}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_18</key>
   <dict>
    <key>frame</key>
    <string>{{746,589},{147,165}}</string>
    <key>offset</key>
    <string>{8,11}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_19</key>
   <dict>
    <key>frame</key>
    <string>{{746,756},{147,161}}</string>
    <key>offset</key>
    <string>{8,9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_2</key>
   <dict>
    <key>frame</key>
    <string>{{635,370},{147,184}}</string>
    <key>offset</key>
    <string>{8,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_20</key>
   <dict>
    <key>frame</key>
    <string>{{195,758},{147,155}}</string>
    <key>offset</key>
    <string>{8,7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_21</key>
   <dict>
    <key>frame</key>
    <string>{{597,758},{147,153}}</string>
    <key>offset</key>
    <string>{8,5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_3</key>
   <dict>
    <key>frame</key>
    <string>{{448,189},{185,198}}</string>
    <key>offset</key>
    <string>{-11,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_4</key>
   <dict>
    <key>frame</key>
    <string>{{0,375},{189,197}}</string>
    <key>offset</key>
    <string>{-13,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_5</key>
   <dict>
    <key>frame</key>
    <string>{{191,375},{201,185}}</string>
    <key>offset</key>
    <string>{-18,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_6</key>
   <dict>
    <key>frame</key>
    <string>{{237,0},{227,181}}</string>
    <key>offset</key>
    <string>{-5,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_7</key>
   <dict>
    <key>frame</key>
    <string>{{0,189},{237,184}}</string>
    <key>offset</key>
    <string>{0,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_8</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{235,187}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
   <key>symbol7_9</key>
   <dict>
    <key>frame</key>
    <string>{{239,189},{207,184}}</string>
    <key>offset</key>
    <string>{4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,198}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>anim_symbol_7.png</string>
  </dict>
 </dict>
</plist>
