<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol9_1</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_10</key>
			<dict>
				<key>frame</key>
				<string>{{197,2},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_11</key>
			<dict>
				<key>frame</key>
				<string>{{392,2},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_12</key>
			<dict>
				<key>frame</key>
				<string>{{587,2},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_13</key>
			<dict>
				<key>frame</key>
				<string>{{782,2},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_14</key>
			<dict>
				<key>frame</key>
				<string>{{2,196},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_15</key>
			<dict>
				<key>frame</key>
				<string>{{2,391},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_16</key>
			<dict>
				<key>frame</key>
				<string>{{2,586},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_17</key>
			<dict>
				<key>frame</key>
				<string>{{2,781},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_18</key>
			<dict>
				<key>frame</key>
				<string>{{196,196},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_19</key>
			<dict>
				<key>frame</key>
				<string>{{391,196},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_2</key>
			<dict>
				<key>frame</key>
				<string>{{586,196},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_20</key>
			<dict>
				<key>frame</key>
				<string>{{781,196},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_21</key>
			<dict>
				<key>frame</key>
				<string>{{196,390},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_22</key>
			<dict>
				<key>frame</key>
				<string>{{196,585},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_23</key>
			<dict>
				<key>frame</key>
				<string>{{196,780},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_3</key>
			<dict>
				<key>frame</key>
				<string>{{390,390},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_4</key>
			<dict>
				<key>frame</key>
				<string>{{585,390},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_5</key>
			<dict>
				<key>frame</key>
				<string>{{780,390},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_6</key>
			<dict>
				<key>frame</key>
				<string>{{390,584},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_7</key>
			<dict>
				<key>frame</key>
				<string>{{390,779},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_8</key>
			<dict>
				<key>frame</key>
				<string>{{584,584},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
			<key>symbol9_9</key>
			<dict>
				<key>frame</key>
				<string>{{779,584},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_9.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_9.png</string>
			<key>size</key>
			<string>{975,974}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>975</integer>
			<key>height</key>
			<integer>974</integer>
		</dict>
	</dict>
</plist>