<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol6_1</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_10</key>
			<dict>
				<key>frame</key>
				<string>{{216,1},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_11</key>
			<dict>
				<key>frame</key>
				<string>{{431,1},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_12</key>
			<dict>
				<key>frame</key>
				<string>{{646,1},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_13</key>
			<dict>
				<key>frame</key>
				<string>{{1,187},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_14</key>
			<dict>
				<key>frame</key>
				<string>{{1,402},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_15</key>
			<dict>
				<key>frame</key>
				<string>{{1,617},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_16</key>
			<dict>
				<key>frame</key>
				<string>{{1,832},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_17</key>
			<dict>
				<key>frame</key>
				<string>{{187,187},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_18</key>
			<dict>
				<key>frame</key>
				<string>{{187,402},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_19</key>
			<dict>
				<key>frame</key>
				<string>{{187,617},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_2</key>
			<dict>
				<key>frame</key>
				<string>{{216,832},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_20</key>
			<dict>
				<key>frame</key>
				<string>{{373,187},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_21</key>
			<dict>
				<key>frame</key>
				<string>{{373,402},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_22</key>
			<dict>
				<key>frame</key>
				<string>{{373,617},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_23</key>
			<dict>
				<key>frame</key>
				<string>{{431,832},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_24</key>
			<dict>
				<key>frame</key>
				<string>{{559,187},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_3</key>
			<dict>
				<key>frame</key>
				<string>{{774,187},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_4</key>
			<dict>
				<key>frame</key>
				<string>{{559,373},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_5</key>
			<dict>
				<key>frame</key>
				<string>{{559,588},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_6</key>
			<dict>
				<key>frame</key>
				<string>{{646,803},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_7</key>
			<dict>
				<key>frame</key>
				<string>{{745,373},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_8</key>
			<dict>
				<key>frame</key>
				<string>{{745,559},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
			<key>symbol6_9</key>
			<dict>
				<key>frame</key>
				<string>{{832,774},{213,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anim_symbol_6.png</string>
			<key>realTextureFileName</key>
			<string>anim_symbol_6.png</string>
			<key>size</key>
			<string>{1017,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>