<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>shop_background</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1071,616}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1071,616}</string>
   </dict>
   <key>shop_bg_btn_buy_shop_booster</key>
   <dict>
    <key>frame</key>
    <string>{{842,1074},{182,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,40}</string>
   </dict>
   <key>shop_bg_btn_buy_shop_coin</key>
   <dict>
    <key>frame</key>
    <string>{{1073,785},{148,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,56}</string>
   </dict>
   <key>shop_bg_btn_buy_shop_magic_free</key>
   <dict>
    <key>frame</key>
    <string>{{749,1168},{182,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,40}</string>
   </dict>
   <key>shop_booster_activated_bottom</key>
   <dict>
    <key>frame</key>
    <string>{{1073,322},{300,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,83}</string>
   </dict>
   <key>shop_booster_info_bg</key>
   <dict>
    <key>frame</key>
    <string>{{0,618},{474,320}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{474,320}</string>
   </dict>
   <key>shop_boosters_1</key>
   <dict>
    <key>frame</key>
    <string>{{647,1074},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>shop_boosters_text_3_days_$2_99</key>
   <dict>
    <key>frame</key>
    <string>{{1031,1047},{187,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,28}</string>
   </dict>
   <key>shop_boosters_text_7_days_$3_99</key>
   <dict>
    <key>frame</key>
    <string>{{829,1281},{186,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{186,28}</string>
   </dict>
   <key>shop_boosters_text_boosters</key>
   <dict>
    <key>frame</key>
    <string>{{1073,843},{179,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{179,44}</string>
   </dict>
   <key>shop_btn_info</key>
   <dict>
    <key>frame</key>
    <string>{{1307,267},{41,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{41,43}</string>
   </dict>
   <key>shop_coins_1</key>
   <dict>
    <key>frame</key>
    <string>{{647,986},{129,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{129,86}</string>
   </dict>
   <key>shop_coins_2</key>
   <dict>
    <key>frame</key>
    <string>{{1073,519},{171,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{171,120}</string>
   </dict>
   <key>shop_coins_3</key>
   <dict>
    <key>frame</key>
    <string>{{1073,183},{232,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{232,137}</string>
   </dict>
   <key>shop_coins_text_$0_99</key>
   <dict>
    <key>frame</key>
    <string>{{647,1269},{100,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,31}</string>
   </dict>
   <key>shop_coins_text_$19_99</key>
   <dict>
    <key>frame</key>
    <string>{{1259,954},{112,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{112,31}</string>
   </dict>
   <key>shop_coins_text_$1_99</key>
   <dict>
    <key>frame</key>
    <string>{{1275,1201},{90,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,31}</string>
   </dict>
   <key>shop_coins_text_$49_99</key>
   <dict>
    <key>frame</key>
    <string>{{1259,888},{119,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{119,31}</string>
   </dict>
   <key>shop_coins_text_$4_99</key>
   <dict>
    <key>frame</key>
    <string>{{1226,1240},{95,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,31}</string>
   </dict>
   <key>shop_coins_text_$99_99</key>
   <dict>
    <key>frame</key>
    <string>{{1259,921},{116,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,31}</string>
   </dict>
   <key>shop_coins_text_$9_99</key>
   <dict>
    <key>frame</key>
    <string>{{1275,1168},{95,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{95,31}</string>
   </dict>
   <key>shop_coins_text_2,400,000</key>
   <dict>
    <key>frame</key>
    <string>{{1031,1077},{150,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,35}</string>
   </dict>
   <key>shop_coins_text_200,000,000</key>
   <dict>
    <key>frame</key>
    <string>{{1117,1168},{156,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,29}</string>
   </dict>
   <key>shop_coins_text_24,000,000</key>
   <dict>
    <key>frame</key>
    <string>{{476,1268},{168,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,35}</string>
   </dict>
   <key>shop_coins_text_400,000</key>
   <dict>
    <key>frame</key>
    <string>{{1246,603},{127,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{127,35}</string>
   </dict>
   <key>shop_coins_text_7,200,000</key>
   <dict>
    <key>frame</key>
    <string>{{1036,1116},{146,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{146,35}</string>
   </dict>
   <key>shop_coins_text_70,000,000</key>
   <dict>
    <key>frame</key>
    <string>{{1031,1010},{167,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,35}</string>
   </dict>
   <key>shop_coins_text_880,000</key>
   <dict>
    <key>frame</key>
    <string>{{1254,843},{124,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{124,35}</string>
   </dict>
   <key>shop_coins_text_free</key>
   <dict>
    <key>frame</key>
    <string>{{1226,1273},{85,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{85,29}</string>
   </dict>
   <key>shop_coins_text_free_coins</key>
   <dict>
    <key>frame</key>
    <string>{{917,1240},{157,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,32}</string>
   </dict>
   <key>shop_crowns_1</key>
   <dict>
    <key>frame</key>
    <string>{{1073,711},{129,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{129,72}</string>
   </dict>
   <key>shop_crowns_2</key>
   <dict>
    <key>frame</key>
    <string>{{476,1175},{141,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,91}</string>
   </dict>
   <key>shop_crowns_3</key>
   <dict>
    <key>frame</key>
    <string>{{1073,407},{205,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,110}</string>
   </dict>
   <key>shop_crowns_text_10_crowns</key>
   <dict>
    <key>frame</key>
    <string>{{1073,927},{180,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,37}</string>
   </dict>
   <key>shop_crowns_text_120_crowns</key>
   <dict>
    <key>frame</key>
    <string>{{842,1116},{192,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{192,35}</string>
   </dict>
   <key>shop_crowns_text_55_crowns</key>
   <dict>
    <key>frame</key>
    <string>{{1073,888},{184,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{184,37}</string>
   </dict>
   <key>shop_divisor</key>
   <dict>
    <key>frame</key>
    <string>{{1051,618},{3,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{3,30}</string>
   </dict>
   <key>shop_magic_100_big_win</key>
   <dict>
    <key>frame</key>
    <string>{{647,1176},{90,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,91}</string>
   </dict>
   <key>shop_magic_100_big_win_1</key>
   <dict>
    <key>frame</key>
    <string>{{1204,711},{88,70}}</string>
    <key>offset</key>
    <string>{0,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,91}</string>
   </dict>
   <key>shop_magic_100_mega_win</key>
   <dict>
    <key>frame</key>
    <string>{{749,1074},{91,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{93,94}</string>
   </dict>
   <key>shop_magic_100_mega_win_1</key>
   <dict>
    <key>frame</key>
    <string>{{829,1210},{86,69}}</string>
    <key>offset</key>
    <string>{1,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,91}</string>
   </dict>
   <key>shop_magic_activated_bottom</key>
   <dict>
    <key>frame</key>
    <string>{{1073,641},{193,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{193,69}</string>
   </dict>
   <key>shop_magic_double_exp</key>
   <dict>
    <key>frame</key>
    <string>{{1280,407},{90,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,90}</string>
   </dict>
   <key>shop_magic_info_bg</key>
   <dict>
    <key>frame</key>
    <string>{{1073,0},{262,181}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{262,181}</string>
   </dict>
   <key>shop_magic_lucky10</key>
   <dict>
    <key>frame</key>
    <string>{{380,1038},{93,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{93,93}</string>
   </dict>
   <key>shop_magic_lucky10_1</key>
   <dict>
    <key>frame</key>
    <string>{{1294,711},{73,75}}</string>
    <key>offset</key>
    <string>{-1,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>shop_magic_lucky10_2</key>
   <dict>
    <key>frame</key>
    <string>{{1246,519},{89,82}}</string>
    <key>offset</key>
    <string>{-1,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>shop_magic_lucky20</key>
   <dict>
    <key>frame</key>
    <string>{{380,940},{94,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>shop_magic_lucky20_1</key>
   <dict>
    <key>frame</key>
    <string>{{749,1210},{78,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{94,94}</string>
   </dict>
   <key>shop_magic_lucky20_2</key>
   <dict>
    <key>frame</key>
    <string>{{380,1226},{92,82}}</string>
    <key>offset</key>
    <string>{1,4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{94,94}</string>
   </dict>
   <key>shop_magic_lucky_symbol</key>
   <dict>
    <key>frame</key>
    <string>{{380,1132},{93,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{93,93}</string>
   </dict>
   <key>shop_magic_lucky_symbol_1</key>
   <dict>
    <key>frame</key>
    <string>{{1268,641},{64,63}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,90}</string>
   </dict>
   <key>shop_magic_lucky_symbol_2</key>
   <dict>
    <key>frame</key>
    <string>{{1307,183},{68,82}}</string>
    <key>offset</key>
    <string>{-11,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,90}</string>
   </dict>
   <key>shop_magic_text_100_big_win</key>
   <dict>
    <key>frame</key>
    <string>{{1184,1116},{160,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,27}</string>
   </dict>
   <key>shop_magic_text_100_mega_win</key>
   <dict>
    <key>frame</key>
    <string>{{1183,1077},{187,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,26}</string>
   </dict>
   <key>shop_magic_text_10_spins_$1_99</key>
   <dict>
    <key>frame</key>
    <string>{{1017,1281},{162,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{162,23}</string>
   </dict>
   <key>shop_magic_text_1_hour_$4_99</key>
   <dict>
    <key>frame</key>
    <string>{{1184,1144},{138,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{138,19}</string>
   </dict>
   <key>shop_magic_text_1_spin_$0_99</key>
   <dict>
    <key>frame</key>
    <string>{{1220,1047},{150,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,22}</string>
   </dict>
   <key>shop_magic_text_1_spin_$1_99</key>
   <dict>
    <key>frame</key>
    <string>{{1076,1240},{148,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,22}</string>
   </dict>
   <key>shop_magic_text_3_spins_$0_99</key>
   <dict>
    <key>frame</key>
    <string>{{1100,1210},{163,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{163,23}</string>
   </dict>
   <key>shop_magic_text_double_exp</key>
   <dict>
    <key>frame</key>
    <string>{{1200,1010},{164,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,28}</string>
   </dict>
   <key>shop_magic_text_lucky10</key>
   <dict>
    <key>frame</key>
    <string>{{1073,966},{182,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,29}</string>
   </dict>
   <key>shop_magic_text_lucky20</key>
   <dict>
    <key>frame</key>
    <string>{{933,1168},{182,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,28}</string>
   </dict>
   <key>shop_magic_text_lucky_symbol</key>
   <dict>
    <key>frame</key>
    <string>{{917,1210},{181,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{181,28}</string>
   </dict>
   <key>shop_maskToggle</key>
   <dict>
    <key>frame</key>
    <string>{{778,1010},{251,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{251,47}</string>
   </dict>
   <key>shop_panel_item_booster</key>
   <dict>
    <key>frame</key>
    <string>{{476,618},{300,366}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,366}</string>
   </dict>
   <key>shop_panel_item_coin</key>
   <dict>
    <key>frame</key>
    <string>{{198,940},{180,368}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,368}</string>
   </dict>
   <key>shop_panel_item_crown</key>
   <dict>
    <key>frame</key>
    <string>{{778,618},{271,390}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{271,390}</string>
   </dict>
   <key>shop_panel_item_magic_item</key>
   <dict>
    <key>frame</key>
    <string>{{0,940},{196,364}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{196,364}</string>
   </dict>
   <key>shop_watch_video_icon</key>
   <dict>
    <key>frame</key>
    <string>{{476,986},{169,187}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{169,187}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>shop.png</string>
  </dict>
 </dict>
</plist>
