<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Bonus-01-weaponExplodeEffects_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{54,52}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{580,209},{54,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,18}</string>
    <key>spriteSize</key>
    <string>{218,193}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{528,290},{218,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,14}</string>
    <key>spriteSize</key>
    <string>{220,191}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{288,547},{220,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,5}</string>
    <key>spriteSize</key>
    <string>{110,170}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{746,290},{110,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,19}</string>
    <key>spriteSize</key>
    <string>{118,144}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{740,683},{118,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,7}</string>
    <key>spriteSize</key>
    <string>{134,130}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{738,483},{134,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,7}</string>
    <key>spriteSize</key>
    <string>{148,143}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{288,738},{148,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-4}</string>
    <key>spriteSize</key>
    <string>{246,242}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{0,576},{246,242}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{290,290}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{0,0},{290,290}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{290,289}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{290,0},{290,289}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{288,286}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{0,290},{288,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-17,2}</string>
    <key>spriteSize</key>
    <string>{240,257}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{288,290},{240,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,11}</string>
    <key>spriteSize</key>
    <string>{210,200}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{528,483},{210,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,10}</string>
    <key>spriteSize</key>
    <string>{202,209}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{580,0},{202,209}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bonus-01-weaponExplodeEffects_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,21}</string>
    <key>spriteSize</key>
    <string>{212,187}</string>
    <key>spriteSourceSize</key>
    <string>{342,342}</string>
    <key>textureRect</key>
    <string>{{528,683},{212,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{872,881}</string>
   <key>textureFileName</key>
   <string>explosion.png</string>
  </dict>
 </dict>
</plist>
