<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>spin_type_autospin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,162}</string>
    <key>spriteSourceSize</key>
    <string>{126,162}</string>
    <key>textureRect</key>
    <string>{{0,0},{126,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_freespin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,162}</string>
    <key>spriteSourceSize</key>
    <string>{126,162}</string>
    <key>textureRect</key>
    <string>{{128,0},{126,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_skip</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{126,145}</string>
    <key>spriteSourceSize</key>
    <string>{126,162}</string>
    <key>textureRect</key>
    <string>{{0,164},{126,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_spin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{126,145}</string>
    <key>spriteSourceSize</key>
    <string>{126,162}</string>
    <key>textureRect</key>
    <string>{{128,164},{126,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spin_type_stop</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{126,145}</string>
    <key>spriteSourceSize</key>
    <string>{126,162}</string>
    <key>textureRect</key>
    <string>{{256,0},{126,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{384,311}</string>
   <key>textureFileName</key>
   <string>but_spin.png</string>
  </dict>
 </dict>
</plist>
