<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{84,50}</string>
    <key>spriteSourceSize</key>
    <string>{96,60}</string>
    <key>textureRect</key>
    <string>{{351,392},{84,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn-double-up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,67}</string>
    <key>spriteSourceSize</key>
    <string>{127,67}</string>
    <key>textureRect</key>
    <string>{{351,229},{127,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{118,114}</string>
    <key>spriteSourceSize</key>
    <string>{118,114}</string>
    <key>textureRect</key>
    <string>{{0,0},{118,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-box</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{108,45}</string>
    <key>spriteSourceSize</key>
    <string>{128,62}</string>
    <key>textureRect</key>
    <string>{{351,298},{108,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{125,33}</string>
    <key>spriteSourceSize</key>
    <string>{143,46}</string>
    <key>textureRect</key>
    <string>{{351,444},{125,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>multiplier-box</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,45}</string>
    <key>spriteSourceSize</key>
    <string>{115,53}</string>
    <key>textureRect</key>
    <string>{{351,345},{107,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,116},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{120,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,342},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{351,116},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,342},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,116},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,229},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{237,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{117,229},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,116},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{234,229},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{0,342},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,111}</string>
    <key>spriteSourceSize</key>
    <string>{115,111}</string>
    <key>textureRect</key>
    <string>{{354,0},{115,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{480,479}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
