<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dailyBonusWheel_bg-result</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{540,471}</string>
    <key>spriteSourceSize</key>
    <string>{540,471}</string>
    <key>textureRect</key>
    <string>{{0,514},{540,471}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dailyBonusWheel_bg-wheel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{512,512}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{512,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dailyBonusWheel_btn_spin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{131,132}</string>
    <key>spriteSourceSize</key>
    <string>{131,132}</string>
    <key>textureRect</key>
    <string>{{514,374},{131,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dailyBonusWheel_spin_active_v_light</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{131,175}</string>
    <key>spriteSourceSize</key>
    <string>{131,176}</string>
    <key>textureRect</key>
    <string>{{542,514},{131,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dailyBonusWheel_spin_icon_gear</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{19,34}</string>
    <key>spriteSourceSize</key>
    <string>{19,34}</string>
    <key>textureRect</key>
    <string>{{675,514},{19,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dailyBonusWheel_star1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,103}</string>
    <key>spriteSourceSize</key>
    <string>{103,103}</string>
    <key>textureRect</key>
    <string>{{647,374},{103,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dailyBonusWheel_starWhileLens</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,103}</string>
    <key>spriteSourceSize</key>
    <string>{103,103}</string>
    <key>textureRect</key>
    <string>{{752,374},{103,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dailyBonusWheel_wheel_round_inner</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{372,372}</string>
    <key>spriteSourceSize</key>
    <string>{372,372}</string>
    <key>textureRect</key>
    <string>{{514,0},{372,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{888,987}</string>
   <key>textureFileName</key>
   <string>dailyBonusWheel.png</string>
  </dict>
 </dict>
</plist>
