<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>piggy_bank_break_breaking_flash</key>
   <dict>
    <key>frame</key>
    <string>{{1379,533},{60,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,56}</string>
   </dict>
   <key>piggy_bank_break_breaking_light</key>
   <dict>
    <key>frame</key>
    <string>{{1341,422},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>piggy_bank_break_breaking_mark</key>
   <dict>
    <key>frame</key>
    <string>{{1277,1046},{482,294}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{484,295}</string>
   </dict>
   <key>piggy_bank_break_coins_behind</key>
   <dict>
    <key>frame</key>
    <string>{{694,594},{936,450}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{936,453}</string>
   </dict>
   <key>piggy_bank_break_coins_front</key>
   <dict>
    <key>frame</key>
    <string>{{991,0},{940,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{940,420}</string>
   </dict>
   <key>piggy_bank_break_pig_body_behind</key>
   <dict>
    <key>frame</key>
    <string>{{1632,594},{222,198}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{222,199}</string>
   </dict>
   <key>piggy_bank_break_pig_body_front_1</key>
   <dict>
    <key>frame</key>
    <string>{{1205,422},{134,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{136,110}</string>
   </dict>
   <key>piggy_bank_break_pig_body_front_2</key>
   <dict>
    <key>frame</key>
    <string>{{991,422},{212,163}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{212,163}</string>
   </dict>
   <key>piggy_bank_break_pig_glow</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{989,592}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{989,592}</string>
   </dict>
   <key>piggy_bank_break_pig_head</key>
   <dict>
    <key>frame</key>
    <string>{{1277,1342},{383,327}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{383,327}</string>
   </dict>
   <key>piggy_bank_hammer</key>
   <dict>
    <key>frame</key>
    <string>{{1429,422},{66,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,100}</string>
   </dict>
   <key>piggy_bank_light_coin</key>
   <dict>
    <key>frame</key>
    <string>{{0,1232},{680,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{680,420}</string>
   </dict>
   <key>piggy_bank_pig</key>
   <dict>
    <key>frame</key>
    <string>{{694,1046},{581,510}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{581,510}</string>
   </dict>
   <key>piggy_bank_pig_glow</key>
   <dict>
    <key>frame</key>
    <string>{{0,594},{692,636}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{692,636}</string>
   </dict>
   <key>piggy_bank_pig_mask_behind</key>
   <dict>
    <key>frame</key>
    <string>{{1205,533},{172,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,51}</string>
   </dict>
   <key>piggy_bank_pig_tail</key>
   <dict>
    <key>frame</key>
    <string>{{1497,422},{66,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,82}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>piggy_bank.png</string>
  </dict>
 </dict>
</plist>
