<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>BG_HD_0</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_1</key>
   <dict>
    <key>frame</key>
    <string>{{0,170},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_10</key>
   <dict>
    <key>frame</key>
    <string>{{539,680},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_11</key>
   <dict>
    <key>frame</key>
    <string>{{539,850},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_12</key>
   <dict>
    <key>frame</key>
    <string>{{0,1020},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_2</key>
   <dict>
    <key>frame</key>
    <string>{{0,340},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_3</key>
   <dict>
    <key>frame</key>
    <string>{{0,510},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_4</key>
   <dict>
    <key>frame</key>
    <string>{{539,0},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_5</key>
   <dict>
    <key>frame</key>
    <string>{{539,170},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_6</key>
   <dict>
    <key>frame</key>
    <string>{{539,340},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_7</key>
   <dict>
    <key>frame</key>
    <string>{{0,680},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_8</key>
   <dict>
    <key>frame</key>
    <string>{{539,510},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
   <key>BG_HD_9</key>
   <dict>
    <key>frame</key>
    <string>{{0,850},{537,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{537,168}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>sea_animation.png</string>
  </dict>
 </dict>
</plist>
