<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>crown_flare_animation1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-36,32}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{74,40},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,3}</string>
    <key>spriteSize</key>
    <string>{65,44}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{0,43},{65,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,5}</string>
    <key>spriteSize</key>
    <string>{65,40}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{69,0},{65,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,7}</string>
    <key>spriteSize</key>
    <string>{55,37}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{0,125},{55,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,12}</string>
    <key>spriteSize</key>
    <string>{55,38}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{0,87},{55,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,15}</string>
    <key>spriteSize</key>
    <string>{55,36}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{55,124},{55,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,17}</string>
    <key>spriteSize</key>
    <string>{55,32}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{110,87},{55,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,20}</string>
    <key>spriteSize</key>
    <string>{25,26}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{147,119},{25,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{19,24}</string>
    <key>spriteSize</key>
    <string>{21,18}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{147,145},{21,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{26,28}</string>
    <key>spriteSize</key>
    <string>{7,10}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{134,30},{7,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{26,31}</string>
    <key>spriteSize</key>
    <string>{5,3}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{69,40},{5,3}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,-29}</string>
    <key>spriteSize</key>
    <string>{9,7}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{141,30},{9,7}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-36,32}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{74,40},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-22,-22}</string>
    <key>spriteSize</key>
    <string>{31,21}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{110,142},{31,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-19,-21}</string>
    <key>spriteSize</key>
    <string>{37,23}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{110,119},{37,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,-18}</string>
    <key>spriteSize</key>
    <string>{43,30}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{134,0},{43,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-14,-16}</string>
    <key>spriteSize</key>
    <string>{47,33}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{126,43},{47,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-14}</string>
    <key>spriteSize</key>
    <string>{55,37}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{55,87},{55,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-9}</string>
    <key>spriteSize</key>
    <string>{61,40}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{65,43},{61,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>crown_flare_animation9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{69,43}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{0,0},{69,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{177,163}</string>
   <key>textureFileName</key>
   <string>crown_flare_animation.png</string>
  </dict>
 </dict>
</plist>
