<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_freespin_bg_bonus_freespin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1024,576}</string>
    <key>spriteSourceSize</key>
    <string>{1024,576}</string>
    <key>textureRect</key>
    <string>{{0,0},{1024,576}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_text_bonus_fs</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{587,30}</string>
    <key>spriteSourceSize</key>
    <string>{637,64}</string>
    <key>textureRect</key>
    <string>{{0,578},{587,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1026,610}</string>
   <key>textureFileName</key>
   <string>bonus_freespin.png</string>
  </dict>
 </dict>
</plist>
