<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_freespin_bonus_jellyfish_idle_001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-8}</string>
    <key>spriteSize</key>
    <string>{76,192}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{440,196},{76,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0010</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{78,183}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{444,392},{78,183}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0011</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{80,181}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{518,193},{80,181}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0012</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{82,179}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{274,388},{82,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0013</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-2}</string>
    <key>spriteSize</key>
    <string>{82,177}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{360,392},{82,177}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0014</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{86,175}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{182,373},{86,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0015</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-3}</string>
    <key>spriteSize</key>
    <string>{88,176}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{270,0},{88,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0016</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-4}</string>
    <key>spriteSize</key>
    <string>{88,177}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{92,188},{88,177}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0017</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-5}</string>
    <key>spriteSize</key>
    <string>{90,179}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{182,192},{90,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0018</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-6}</string>
    <key>spriteSize</key>
    <string>{90,182}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{0,0},{90,182}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0019</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-7}</string>
    <key>spriteSize</key>
    <string>{88,186}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{92,0},{88,186}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-8}</string>
    <key>spriteSize</key>
    <string>{76,191}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{518,0},{76,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0020</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-8}</string>
    <key>spriteSize</key>
    <string>{86,190}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{182,0},{86,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0021</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-9}</string>
    <key>spriteSize</key>
    <string>{84,193}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{0,184},{84,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0022</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-9}</string>
    <key>spriteSize</key>
    <string>{80,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{274,192},{80,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0023</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-9}</string>
    <key>spriteSize</key>
    <string>{80,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{92,367},{80,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0024</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-9}</string>
    <key>spriteSize</key>
    <string>{80,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{0,379},{80,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0025</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-9}</string>
    <key>spriteSize</key>
    <string>{78,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{360,0},{78,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0026</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-9}</string>
    <key>spriteSize</key>
    <string>{78,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{360,196},{78,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0027</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-9}</string>
    <key>spriteSize</key>
    <string>{76,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{440,0},{76,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0028</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-9}</string>
    <key>spriteSize</key>
    <string>{74,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{0,575},{74,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0029</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-9}</string>
    <key>spriteSize</key>
    <string>{72,194}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{444,577},{72,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-7}</string>
    <key>spriteSize</key>
    <string>{76,189}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{92,563},{76,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_0030</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-9}</string>
    <key>spriteSize</key>
    <string>{74,193}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{182,550},{74,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-5}</string>
    <key>spriteSize</key>
    <string>{76,187}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{274,569},{76,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_005</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-3}</string>
    <key>spriteSize</key>
    <string>{74,185}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{596,0},{74,185}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_006</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-2}</string>
    <key>spriteSize</key>
    <string>{74,185}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{518,577},{74,185}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_007</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{74,184}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{594,577},{74,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_008</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{76,184}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{360,571},{76,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_freespin_bonus_jellyfish_idle_009</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{78,182}</string>
    <key>spriteSourceSize</key>
    <string>{106,213}</string>
    <key>textureRect</key>
    <string>{{524,392},{78,182}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{672,773}</string>
   <key>textureFileName</key>
   <string>bonus_freespin_fish.png</string>
  </dict>
 </dict>
</plist>
