<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>amount-win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,41}</string>
    <key>spriteSourceSize</key>
    <string>{88,41}</string>
    <key>textureRect</key>
    <string>{{438,519},{88,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>box-freespins-bonus</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,80}</string>
    <key>spriteSourceSize</key>
    <string>{100,80}</string>
    <key>textureRect</key>
    <string>{{438,368},{100,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn-double-up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,84}</string>
    <key>spriteSourceSize</key>
    <string>{158,84}</string>
    <key>textureRect</key>
    <string>{{438,282},{158,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,140}</string>
    <key>spriteSourceSize</key>
    <string>{146,140}</string>
    <key>textureRect</key>
    <string>{{0,0},{146,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>freespins-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,33}</string>
    <key>spriteSourceSize</key>
    <string>{152,33}</string>
    <key>textureRect</key>
    <string>{{438,450},{152,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>multiplier-en</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,32}</string>
    <key>spriteSourceSize</key>
    <string>{149,32}</string>
    <key>textureRect</key>
    <string>{{438,485},{149,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_0-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_1-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{148,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_10-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,422},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_11-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{438,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_12-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,422},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_2-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_3-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,282},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_4-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{294,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_5-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{146,282},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_6-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,142},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_7-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{292,282},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_8-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{0,422},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>symbol_9-0-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,138}</string>
    <key>spriteSourceSize</key>
    <string>{144,138}</string>
    <key>textureRect</key>
    <string>{{440,0},{144,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{598,562}</string>
   <key>textureFileName</key>
   <string>symbols.png</string>
  </dict>
 </dict>
</plist>
