<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>magic_item_100_win_noti_text</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{654,174}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{654,174}</string>
   </dict>
   <key>magic_item_bg_double_exp_bar</key>
   <dict>
    <key>frame</key>
    <string>{{371,528},{247,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{247,51}</string>
   </dict>
   <key>magic_item_bg_noti_magic_item_pink</key>
   <dict>
    <key>frame</key>
    <string>{{0,528},{188,197}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{188,197}</string>
   </dict>
   <key>magic_item_bg_noti_magic_item_yellow</key>
   <dict>
    <key>frame</key>
    <string>{{190,528},{179,179}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{179,179}</string>
   </dict>
   <key>magic_item_double_exp_anim0</key>
   <dict>
    <key>frame</key>
    <string>{{656,105},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim1</key>
   <dict>
    <key>frame</key>
    <string>{{656,105},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim10</key>
   <dict>
    <key>frame</key>
    <string>{{376,709},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim11</key>
   <dict>
    <key>frame</key>
    <string>{{559,581},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim12</key>
   <dict>
    <key>frame</key>
    <string>{{656,473},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim13</key>
   <dict>
    <key>frame</key>
    <string>{{469,709},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim14</key>
   <dict>
    <key>frame</key>
    <string>{{656,565},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim15</key>
   <dict>
    <key>frame</key>
    <string>{{562,709},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim16</key>
   <dict>
    <key>frame</key>
    <string>{{656,657},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim2</key>
   <dict>
    <key>frame</key>
    <string>{{656,197},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim3</key>
   <dict>
    <key>frame</key>
    <string>{{656,289},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim4</key>
   <dict>
    <key>frame</key>
    <string>{{0,727},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim5</key>
   <dict>
    <key>frame</key>
    <string>{{93,727},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim6</key>
   <dict>
    <key>frame</key>
    <string>{{190,709},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim7</key>
   <dict>
    <key>frame</key>
    <string>{{466,581},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim8</key>
   <dict>
    <key>frame</key>
    <string>{{656,381},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_double_exp_anim9</key>
   <dict>
    <key>frame</key>
    <string>{{283,709},{91,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,91}</string>
   </dict>
   <key>magic_item_flare_double_exp_bar</key>
   <dict>
    <key>frame</key>
    <string>{{656,0},{89,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{89,103}</string>
   </dict>
   <key>magic_item_lucky_spin_10_noti_text</key>
   <dict>
    <key>frame</key>
    <string>{{0,176},{654,174}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{654,174}</string>
   </dict>
   <key>magic_item_lucky_spin_20_noti_text</key>
   <dict>
    <key>frame</key>
    <string>{{0,352},{654,174}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{654,174}</string>
   </dict>
   <key>magic_item_lucky_symbol_full_icon</key>
   <dict>
    <key>frame</key>
    <string>{{371,581},{93,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{93,94}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>magic_item.png</string>
  </dict>
 </dict>
</plist>
