<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>free_to_play</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{691,437}</string>
    <key>spriteSourceSize</key>
    <string>{691,437}</string>
    <key>textureRect</key>
    <string>{{685,947},{691,437}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>get_more_coins</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{762,442}</string>
    <key>spriteSourceSize</key>
    <string>{762,442}</string>
    <key>textureRect</key>
    <string>{{685,503},{762,442}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pay_to_play</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{683,539}</string>
    <key>spriteSourceSize</key>
    <string>{683,539}</string>
    <key>textureRect</key>
    <string>{{0,503},{683,539}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>special_offer</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{859,501}</string>
    <key>spriteSourceSize</key>
    <string>{859,501}</string>
    <key>textureRect</key>
    <string>{{0,0},{859,501}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>starter_pack</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{678,472}</string>
    <key>spriteSourceSize</key>
    <string>{678,472}</string>
    <key>textureRect</key>
    <string>{{861,0},{678,472}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1541,1386}</string>
   <key>textureFileName</key>
   <string>promotion_popups.png</string>
  </dict>
 </dict>
</plist>
