<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonuspalace_Spear-Normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{231,283}</string>
    <key>spriteSourceSize</key>
    <string>{547,547}</string>
    <key>textureRect</key>
    <string>{{684,0},{231,283}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_Spear-mouse-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{275,363}</string>
    <key>spriteSourceSize</key>
    <string>{547,547}</string>
    <key>textureRect</key>
    <string>{{403,386},{275,363}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_bg_bonus_palace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{682,384}</string>
    <key>spriteSourceSize</key>
    <string>{682,384}</string>
    <key>textureRect</key>
    <string>{{0,0},{682,384}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_bonus-box</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{137,49}</string>
    <key>spriteSourceSize</key>
    <string>{137,137}</string>
    <key>textureRect</key>
    <string>{{684,653},{137,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_fenghuolun-mouse-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{401,275}</string>
    <key>spriteSourceSize</key>
    <string>{547,547}</string>
    <key>textureRect</key>
    <string>{{0,386},{401,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_fenghuolun-normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,176}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{684,475},{250,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_ring-mouse-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{317,261}</string>
    <key>spriteSourceSize</key>
    <string>{547,547}</string>
    <key>textureRect</key>
    <string>{{403,751},{317,261}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_ring-normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,188}</string>
    <key>spriteSourceSize</key>
    <string>{274,274}</string>
    <key>textureRect</key>
    <string>{{684,285},{256,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_sash-mouse-over</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{363,238}</string>
    <key>spriteSourceSize</key>
    <string>{547,547}</string>
    <key>textureRect</key>
    <string>{{0,663},{363,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_sash-normal</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{299,172}</string>
    <key>spriteSourceSize</key>
    <string>{547,547}</string>
    <key>textureRect</key>
    <string>{{0,903},{299,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonuspalace_text_bonus_palace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{740,34}</string>
    <key>spriteSourceSize</key>
    <string>{744,38}</string>
    <key>textureRect</key>
    <string>{{0,1077},{740,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{942,1113}</string>
   <key>textureFileName</key>
   <string>bonus_palace.png</string>
  </dict>
 </dict>
</plist>
