<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonus_1_bg_door</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1024,471}</string>
    <key>spriteSourceSize</key>
    <string>{1024,471}</string>
    <key>textureRect</key>
    <string>{{0,0},{1024,471}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_door-left</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{140,362}</string>
    <key>spriteSourceSize</key>
    <string>{148,362}</string>
    <key>textureRect</key>
    <string>{{676,473},{140,362}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_door-right</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{139,361}</string>
    <key>spriteSourceSize</key>
    <string>{139,362}</string>
    <key>textureRect</key>
    <string>{{818,473},{139,361}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_instruction</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{674,117}</string>
    <key>spriteSourceSize</key>
    <string>{682,117}</string>
    <key>textureRect</key>
    <string>{{0,473},{674,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,58}</string>
    <key>spriteSourceSize</key>
    <string>{63,58}</string>
    <key>textureRect</key>
    <string>{{289,592},{63,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,67}</string>
    <key>spriteSourceSize</key>
    <string>{62,67}</string>
    <key>textureRect</key>
    <string>{{159,592},{62,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,58}</string>
    <key>spriteSourceSize</key>
    <string>{63,58}</string>
    <key>textureRect</key>
    <string>{{0,666},{63,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,64}</string>
    <key>spriteSourceSize</key>
    <string>{48,64}</string>
    <key>textureRect</key>
    <string>{{159,661},{48,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,63}</string>
    <key>spriteSourceSize</key>
    <string>{63,63}</string>
    <key>textureRect</key>
    <string>{{77,652},{63,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,63}</string>
    <key>spriteSourceSize</key>
    <string>{64,63}</string>
    <key>textureRect</key>
    <string>{{223,592},{64,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,58}</string>
    <key>spriteSourceSize</key>
    <string>{80,58}</string>
    <key>textureRect</key>
    <string>{{77,592},{80,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonus_1_symbol_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,72}</string>
    <key>spriteSourceSize</key>
    <string>{75,72}</string>
    <key>textureRect</key>
    <string>{{0,592},{75,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1026,837}</string>
   <key>textureFileName</key>
   <string>bonus_stage1_symbols.png</string>
  </dict>
 </dict>
</plist>
