<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>daily_lucky_spin_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{899,372}</string>
    <key>spriteSourceSize</key>
    <string>{899,372}</string>
    <key>textureRect</key>
    <string>{{0,0},{899,372}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_bg_reel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{546,247}</string>
    <key>spriteSourceSize</key>
    <string>{546,247}</string>
    <key>textureRect</key>
    <string>{{0,374},{546,247}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_btn_green_new</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,41}</string>
    <key>spriteSourceSize</key>
    <string>{152,41}</string>
    <key>textureRect</key>
    <string>{{901,302},{152,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_mask_reel</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{526,221}</string>
    <key>spriteSourceSize</key>
    <string>{526,221}</string>
    <key>textureRect</key>
    <string>{{548,374},{526,221}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_popup_info_table</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{770,153}</string>
    <key>spriteSourceSize</key>
    <string>{770,153}</string>
    <key>textureRect</key>
    <string>{{0,623},{770,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_popup_info_title</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{537,60}</string>
    <key>spriteSourceSize</key>
    <string>{537,60}</string>
    <key>textureRect</key>
    <string>{{901,240},{537,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_title</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{748,68}</string>
    <key>spriteSourceSize</key>
    <string>{748,68}</string>
    <key>textureRect</key>
    <string>{{230,1020},{748,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{196,196}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1296,374},{196,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{196,196}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1080,1090},{196,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{196,196}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1278,1090},{196,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{198,196}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{0,1249},{198,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{198,198}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1218,827},{198,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{202,202}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{876,1090},{202,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{204,202}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1218,623},{204,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{206,206}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{668,1090},{206,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{206,206}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1006,833},{206,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{210,208}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1006,623},{210,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{210,210}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{456,1090},{210,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{214,214}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1141,0},{214,214}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{218,218}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1076,374},{218,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{224,223}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{230,1090},{224,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{228,227}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{0,1020},{228,227}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{232,231}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{772,623},{232,231}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{236,235}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{484,778},{236,235}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{238,238}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{901,0},{238,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{240,240}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{0,778},{240,240}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{240,240}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{242,778},{240,240}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_lucky_spin_button_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{196,196}</string>
    <key>spriteSourceSize</key>
    <string>{240,240}</string>
    <key>textureRect</key>
    <string>{{1296,374},{196,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1494,1447}</string>
   <key>textureFileName</key>
   <string>daily_lucky_spin.png</string>
  </dict>
 </dict>
</plist>
