<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>win_effect_big_star_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,128}</string>
    <key>spriteSourceSize</key>
    <string>{219,128}</string>
    <key>textureRect</key>
    <string>{{245,171},{219,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{219,128}</string>
    <key>spriteSourceSize</key>
    <string>{219,128}</string>
    <key>textureRect</key>
    <string>{{245,301},{219,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{231,72}</string>
    <key>spriteSourceSize</key>
    <string>{231,72}</string>
    <key>textureRect</key>
    <string>{{434,618},{231,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{171,155}</string>
    <key>spriteSourceSize</key>
    <string>{171,155}</string>
    <key>textureRect</key>
    <string>{{436,0},{171,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{232,72}</string>
    <key>spriteSourceSize</key>
    <string>{232,72}</string>
    <key>textureRect</key>
    <string>{{434,544},{232,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_big_star_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{171,155}</string>
    <key>spriteSourceSize</key>
    <string>{171,155}</string>
    <key>textureRect</key>
    <string>{{0,457},{171,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_bigwin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{296,85}</string>
    <key>spriteSourceSize</key>
    <string>{296,85}</string>
    <key>textureRect</key>
    <string>{{173,457},{296,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_mega</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{224,89}</string>
    <key>spriteSourceSize</key>
    <string>{224,89}</string>
    <key>textureRect</key>
    <string>{{466,171},{224,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,72}</string>
    <key>spriteSourceSize</key>
    <string>{110,72}</string>
    <key>textureRect</key>
    <string>{{466,335},{110,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,72}</string>
    <key>spriteSourceSize</key>
    <string>{110,72}</string>
    <key>textureRect</key>
    <string>{{0,614},{110,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{102,45}</string>
    <key>spriteSourceSize</key>
    <string>{102,45}</string>
    <key>textureRect</key>
    <string>{{466,409},{102,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,76}</string>
    <key>spriteSourceSize</key>
    <string>{84,76}</string>
    <key>textureRect</key>
    <string>{{471,457},{84,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,76}</string>
    <key>spriteSourceSize</key>
    <string>{84,76}</string>
    <key>textureRect</key>
    <string>{{604,262},{84,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_down_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,47}</string>
    <key>spriteSourceSize</key>
    <string>{103,47}</string>
    <key>textureRect</key>
    <string>{{557,457},{103,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{243,141}</string>
    <key>spriteSourceSize</key>
    <string>{243,141}</string>
    <key>textureRect</key>
    <string>{{0,0},{243,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{243,141}</string>
    <key>spriteSourceSize</key>
    <string>{243,141}</string>
    <key>textureRect</key>
    <string>{{0,143},{243,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{259,79}</string>
    <key>spriteSourceSize</key>
    <string>{259,79}</string>
    <key>textureRect</key>
    <string>{{173,544},{259,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{189,169}</string>
    <key>spriteSourceSize</key>
    <string>{189,169}</string>
    <key>textureRect</key>
    <string>{{245,0},{189,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{259,79}</string>
    <key>spriteSourceSize</key>
    <string>{259,79}</string>
    <key>textureRect</key>
    <string>{{173,625},{259,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_star_up_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{189,169}</string>
    <key>spriteSourceSize</key>
    <string>{189,169}</string>
    <key>textureRect</key>
    <string>{{0,286},{189,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win_effect_mega_win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{136,71}</string>
    <key>spriteSourceSize</key>
    <string>{136,71}</string>
    <key>textureRect</key>
    <string>{{466,262},{136,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{692,706}</string>
   <key>textureFileName</key>
   <string>win_effect.png</string>
  </dict>
 </dict>
</plist>
