<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>daily_streak_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{862,355}</string>
    <key>spriteSourceSize</key>
    <string>{862,357}</string>
    <key>textureRect</key>
    <string>{{0,0},{862,355}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,42}</string>
    <key>spriteSourceSize</key>
    <string>{53,42}</string>
    <key>textureRect</key>
    <string>{{636,605},{53,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,49}</string>
    <key>spriteSourceSize</key>
    <string>{63,49}</string>
    <key>textureRect</key>
    <string>{{526,682},{63,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_3_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,59}</string>
    <key>spriteSourceSize</key>
    <string>{84,59}</string>
    <key>textureRect</key>
    <string>{{550,605},{84,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_5_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,64}</string>
    <key>spriteSourceSize</key>
    <string>{99,64}</string>
    <key>textureRect</key>
    <string>{{324,682},{99,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,75}</string>
    <key>spriteSourceSize</key>
    <string>{111,76}</string>
    <key>textureRect</key>
    <string>{{324,605},{111,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,42}</string>
    <key>spriteSourceSize</key>
    <string>{53,42}</string>
    <key>textureRect</key>
    <string>{{758,469},{53,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,49}</string>
    <key>spriteSourceSize</key>
    <string>{63,49}</string>
    <key>textureRect</key>
    <string>{{758,418},{63,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_3_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,59}</string>
    <key>spriteSourceSize</key>
    <string>{84,59}</string>
    <key>textureRect</key>
    <string>{{758,357},{84,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_5_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,64}</string>
    <key>spriteSourceSize</key>
    <string>{99,64}</string>
    <key>textureRect</key>
    <string>{{425,682},{99,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_coin_next_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,75}</string>
    <key>spriteSourceSize</key>
    <string>{111,76}</string>
    <key>textureRect</key>
    <string>{{437,605},{111,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,160}</string>
    <key>spriteSourceSize</key>
    <string>{106,160}</string>
    <key>textureRect</key>
    <string>{{0,605},{106,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_check</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,39}</string>
    <key>spriteSourceSize</key>
    <string>{40,39}</string>
    <key>textureRect</key>
    <string>{{591,682},{40,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_next</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,160}</string>
    <key>spriteSourceSize</key>
    <string>{106,160}</string>
    <key>textureRect</key>
    <string>{{108,605},{106,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_shiny</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{214,214}</string>
    <key>spriteSourceSize</key>
    <string>{214,214}</string>
    <key>textureRect</key>
    <string>{{542,357},{214,214}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_day_streak</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,160}</string>
    <key>spriteSourceSize</key>
    <string>{106,160}</string>
    <key>textureRect</key>
    <string>{{216,605},{106,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>daily_streak_logo</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{540,246}</string>
    <key>spriteSourceSize</key>
    <string>{540,247}</string>
    <key>textureRect</key>
    <string>{{0,357},{540,246}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{864,767}</string>
   <key>textureFileName</key>
   <string>daily_streak.png</string>
  </dict>
 </dict>
</plist>
