<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-3}</string>
    <key>spriteSize</key>
    <string>{210,189}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{458,400},{210,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{220,202}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{228,0},{220,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{226,202}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{0,0},{226,202}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{218,201}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{450,0},{218,201}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{222,194}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{468,204},{222,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-55,6}</string>
    <key>spriteSize</key>
    <string>{116,95}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{692,421},{116,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{50,27}</string>
    <key>spriteSize</key>
    <string>{129,113}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{670,0},{129,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{35,3}</string>
    <key>spriteSize</key>
    <string>{159,167}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{621,592},{159,167}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-5}</string>
    <key>spriteSize</key>
    <string>{215,191}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{0,596},{215,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{227,194}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{0,400},{227,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-4}</string>
    <key>spriteSize</key>
    <string>{233,194}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{0,204},{233,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-5}</string>
    <key>spriteSize</key>
    <string>{231,191}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{235,204},{231,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-6}</string>
    <key>spriteSize</key>
    <string>{227,190}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{229,400},{227,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{73,71}</string>
    <key>spriteSize</key>
    <string>{27,25}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{670,174},{27,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{61,59}</string>
    <key>spriteSize</key>
    <string>{59,57}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{670,115},{59,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{193,197}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{426,592},{193,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{195,199}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{229,592},{195,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_battle_but</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,109}</string>
    <key>spriteSourceSize</key>
    <string>{137,137}</string>
    <key>textureRect</key>
    <string>{{692,204},{109,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_miss_bonus_battle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{25,23}</string>
    <key>spriteSourceSize</key>
    <string>{35,35}</string>
    <key>textureRect</key>
    <string>{{699,174},{25,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_universe_ring</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{113,104}</string>
    <key>spriteSourceSize</key>
    <string>{137,137}</string>
    <key>textureRect</key>
    <string>{{692,315},{113,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{810,793}</string>
   <key>textureFileName</key>
   <string>bonus_battle_0.png</string>
  </dict>
 </dict>
</plist>
