<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-7}</string>
    <key>spriteSize</key>
    <string>{208,151}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{615,199},{208,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-23}</string>
    <key>spriteSize</key>
    <string>{214,145}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{585,368},{214,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-attackImpactFX_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-53,8}</string>
    <key>spriteSize</key>
    <string>{106,93}</string>
    <key>spriteSourceSize</key>
    <string>{226,202}</string>
    <key>textureRect</key>
    <string>{{0,589},{106,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,-17}</string>
    <key>spriteSize</key>
    <string>{219,167}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{394,199},{219,167}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-dragon_fireBreath_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,-16}</string>
    <key>spriteSize</key>
    <string>{213,170}</string>
    <key>spriteSourceSize</key>
    <string>{269,202}</string>
    <key>textureRect</key>
    <string>{{195,591},{213,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{191,196}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{392,0},{191,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{189,193}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{394,368},{189,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{193,197}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{0,0},{193,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-4}</string>
    <key>spriteSize</key>
    <string>{193,193}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{0,394},{193,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{48,46}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{0,684},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{195,194}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{195,0},{195,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{195,193}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{0,199},{195,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{195,193}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{197,199},{195,193}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{189,195}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{195,394},{189,195}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_Bonus-02-spearFX_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{189,192}</string>
    <key>spriteSourceSize</key>
    <string>{199,203}</string>
    <key>textureRect</key>
    <string>{{585,0},{189,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bonusbattle_text_bonus_battle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{790,35}</string>
    <key>spriteSourceSize</key>
    <string>{792,36}</string>
    <key>textureRect</key>
    <string>{{195,763},{790,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{987,800}</string>
   <key>textureFileName</key>
   <string>bonus_battle_1.png</string>
  </dict>
 </dict>
</plist>
